[2020-02-12 17:26] cbirdsong commented on #1116
I'm having this issue as well, I think. Here's my versions:
[code]

I define these namespaces in my patternlab-config.json:
[code]

The only ones I get complaints about are in icons, and every new icon I `{% include %}` in a twig file elsehwere in the project gets added to this list:

[code]

[2020-02-14 22:42] houblon commented on #1116
@cbirdsong Seconding your observation that directory depth might have something to do with it, and thanks for it. I'm running the same package versions as you.

ex:
[code]

[2020-02-18 11:54] perriard commented on #1110
I have this issue too.
A simple example is a form input, the labels for="" comes out empty

<input type="text" id="{{id}}" class="form-control" {{readonly}} {{hidden}}>
    <label for="{{id}}">{{label}}</label>

[2020-02-18 21:33] #1095 closed

[2020-02-20 19:50] cybtachyon commented on #999
Marking this as not stale since #1000 was updated just 11 days ago.

[2020-02-21 10:36] hmalaud commented on #1104
I get the same error on compile
UiKit: 5.5.0
Gulp: 4.0.2
Node: 12.10.0

[2020-02-21 12:44] bmuenzenmeyer commented on #1104
the warning seen here is different than the original OP - this internal package uikit-polyfills is tripping some logic built into `loaduikits` to look at node_modules for packages prefixed with `uikit-`

so `uikit-polyfills` (the util) looks like `uikit-workshop` (the uikit) and we try to load it.

looking at the code in question - this only emits a warning when using node directly.

[code]

I see

[2020-02-21 20:12] mfranzke commented on #1109
Response

[2020-02-24 09:50] OktarinTentakel opened #1127 "Semantic and Data Structure Problems with lodash's merge in Pseudopattern Hunter"
I asked this question a week ago in Gitter, but no response so far, so instead of asking this repeatedly in a rythmic fashion, I'll just put this in a ticket:

Hi there,

migrating from Pattern Lab 2 to PL3 I was suprised to find the way pseudo pattern data is constructed being changed. It seems that data is now merged via lodash's _.merge in the pseudo pattern hunter whereas before it was replace

[2020-02-24 12:01] OktarinTentakel commented on #1125
The problem sporadically also appears on iOS12, especially the case where the menu is put on top of the pattern, overlaying the display, therefore cutting the top part off visually.

[2020-02-24 17:54] hmalaud opened #1128 "Can't access global data or macro within macro"
Hello guys, I'm pretty new to patternlab and am just migrating my php based project onto the node version.
I am having issues to access global data and block in a block file, which I didn't have previously.

I am using Pattern Lab Node `v3.0` on `Mac`, with Node `v13.9.0`, using a `Gulp` Edition with Twig.

source/_data/data.json
[code]

source/macros/ui.twig
[code]

source/02-organisms/00-global/

[2020-02-24 20:37] HecOsbRod opened #1130 "No Watch installed"
I just recently installed pattern-lab with the following options:
- Handlebars
- Handlebars base patterns

It doesn't come with any watch file (gulp, grunt or npm)

I'm running `mac` with `node v12.15.0`

[2020-02-25 13:11] bmuenzenmeyer commented on #1130
running `npm run pl:serve` starts pattern lab in watch mode by default. does this meet your needs?

[2020-02-25 13:17] HecOsbRod commented on #1130
It is not listening to scss or component changes.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brian Muenzenmeyer <notifications@github.com>
Sent: Tuesday, February 25, 2020 8:11:30 AM
To: pattern-lab/patternlab-node <patternlab-node@noreply.github.com>
Cc: HecOsbRod <hector.rodriguez@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [pattern-lab/pat

[2020-02-25 15:16] mfranzke commented on #1130
Patternlab.io itself doesn‘t provide any CSS preprocessor (like sass/scss) compiling functionality and that for not a watcher - so you‘re perfectly free to choose one on your own.

And what exactly do you mean by component changes? Using the command that Brian has mentioned should start a watcher for *.hbs file changes and reload the pattern page in the browser after you did a change.

[2020-02-26 09:41] hmalaud commented on #1130
Just installed PL node version and it's not watching CSS changes either.

[2020-02-26 15:09] mfranzke commented on #1130
Oh, yeah, missed that aspect.

[2020-02-27 14:04] sghoweri commented on #1124
Yeah, the horizontal scrollbars especially aren't great... 🤦‍♂

PR's are most certainly welcomed to polish this up! Otherwise I'll do my best to get around to this soon (hopefully this coming weekend 🤞)

[2020-02-27 14:06] sghoweri commented on #1125
Hmm. It could also (potentially) be a browserslist / autoprefixer issue... 🤔

PR's are most certainly welcomed to address this! Otherwise I'll do my best to get around to this soon (hopefully this coming weekend 🤞)

[2020-02-27 15:50] mfranzke commented on #909
Response.

[2020-03-05 14:20] mfranzke commented on #1005
Bump

[2020-03-06 18:17] coreylafferty opened #1134 "Since 5.7.0, PL menu structure breaks if filename and subfolder name match"
I am using Pattern Lab Node `v5.7.1` on `Windows`, with Node `v10.15.1`.

##### Expected Behavior
Folder names and file names should not break the menu if they happen to be the same.

##### Actual Behavior
Prior to 5.7.0, the menu worked as expected when subfolder names and file names matched.  Since 5.7.0, menu functionality breaks when this is the case.  Clicking on submenu items will display th

[2020-03-11 03:34] #1090 closed

[2020-03-12 10:51] ringods commented on #285
I would very much like to see a the `engine-twig` package be update to use [`twig`](https://www.npmjs.com/package/twig), a 100% pure Javascript implementation of the twig pattern language and actively maintained (last release 20 Feb 2020).

Contrary, [`node-twig`](https://www.npmjs.com/package/node-twig) hasn't had a release in the past 2 year.

The README file of `engine-twig` points to 2 github

[2020-03-12 11:09] mfranzke commented on #1005
@cybtachyon, that‘s probably one of the coolest new features for the product. Do you even already have an ETA for that? Do you need any support?

[2020-03-12 12:37] bmuenzenmeyer commented on #285
I would certainly. I'd be relying on you and other users to verify the functionality within your mature PL's however. Long term there has been discussion of deprecating with this engine in favor of engine-twig-php - but that won't happen overnight. We could even work out something where engine-twig becomes a community-maintained repo.

[2020-03-12 12:59] ringods commented on #285
@bmuenzenmeyer ok, on it in #1135

Hello @renestalder, are you able and do you have time to test my work against your extensive twig pattern library? If so, let's discuss in the pull request.

[2020-03-15 13:29] ringods commented on #895
Hello @DanielRuf, I'm trying to switch the engine to the `twig` library in #1135. As I'm not an experienced NodeJS/Javascript developer I thought that my changes broke the full setup because my rendered HTML files contained `NaN` and "markup-only" files contain `undefined`.

This behaviour looks like what you described in this issue. Since you reported on this, did you have any further look into t

[2020-03-15 15:41] DanielRuf commented on #895
No, we switched to storybook.

[2020-03-15 16:28] ringods commented on #895
OK, but too bad for this initiative.

[2020-03-15 23:13] backlineint commented on #1030
Keeping this one alive...

[2020-03-16 14:06] Hydraner opened #1136 "Allow uikit plugins to be used across multiple uikit definitions"
In patternlab-config.json it is possible to define multiple uikits with different configurations. As far as I understand, the idea is to have a workshop and a storefront uikit showing diffrent patterns based on the exclude configuration.
Since there is no dedicated storefront uikit at the moment, it would be nice if you could just use iukit-workshop to generate the patternlab frontend.

##### Expe

[2020-03-16 14:16] Hydraner commented on #633
I know this is an old issue, but I recently added this ability to my patternlab by exposing a new config, see PR

[2020-03-16 14:29] Hydraner commented on #901
Looks like the reset is happening at the wrong spot

[2020-03-16 22:06] mfranzke commented on #1103
Response

[2020-03-17 17:10] Hydraner commented on #844
Hey @bmuenzenmeyer , thanks for the great work on PL3. I am currently using tons of the "new" stuff and fought already a couple of issues and created PR's.

I'm not so much into node development so I hope to get some feedback to make things as good as possible to get some things commited.

I also didn't manage to get the test suite up and running, so all tests I wrote so far have been produced in

[2020-03-17 17:16] Hydraner commented on #896
I think in the meanwhile it would still be interesting to just use the uikit-workshop for the storefront usecase. I did some work on making uikit's reusable for multiple frontends. Just wanted to reference some issues in here for people who find themself in the same situation searching for an easy way to have a storefront without having a dedicated uikit for it:
#1136
#901
#844

[2020-03-23 20:42] paintedbicycle opened #1141 "Cut down on dependencies to get rid of Xcode requirement"
I am using Pattern Lab Node `v5.7.0` on ` Mac`, with Node `v8.15.0`, using a `Vanilla` Edition.

When trying to get a coworker up and running with this, the install failed because they didn't have `Xcode` installed. We tried installing the `Xcode cli tools`, but that wasn't enough.

##### Expected Behaviour
- Is Xcode really needed?

Some of the dependencies that could be the culprits (just watchi

[2020-03-23 20:47] paintedbicycle opened #1142 "Unable to create blank pattern-lab node from cli"
I am using Pattern Lab Node `v5.7.0` on `Mac`, with Node `v8.15.0`, using a `Vanilla` Edition.

##### Actual Behavior
When running `npm create pattern-lab` in an empty folder and choosing:
- `handlebars` template engine and
- `blank project` for initial patterns,
the build errors out on a missing `package.json`.

If you add in a package.json things can progress further, but I'm not actually sure w

[2020-03-25 15:13] mfranzke commented on #1141
Valid topic. I even also had a short discussion with @sghoweri in gitter.im:

When using @pattern-lab/uikit-workshop within a patternlab installation, a lot of dependencies get installed as well, which only seem to be necessary when developing @pattern-lab/uikit-workshop, but not at runtime when running patternlab. As the @pattern-lab/uikit-workshop files are getting build at prepublishing the @pa

[2020-03-25 15:17] sghoweri commented on #1141
Do we know what specifically is causing this unintentional xcode requirement? Is it Git? Something else?

[2020-03-26 14:36] OktarinTentakel commented on #1127
Any news on this?

This is still a major problem for us.

[2020-03-28 11:15] ringods commented on #1104
Posting this for other users using Yarn.

I bumped into this error using Yarn v1 (Classic) in a repository with workspaces. To get this working, I had to configure the `nohoist` option so the requried packages are in a `node_modules` folder within the respective workspace (package) needing them instead of all in the top level `node_modules` folder.

Here is how the `workspaces` section in my `pack

[2020-04-03 10:59] #285 closed

[2020-04-07 00:52] cybtachyon commented on #1005
I have no ETA right now as the pandemic situation has drastically reset our team's priorities.

I may return to pattern ecosystem development this week but it's up in the air right now.

Here's the library we're using: https://github.com/json-editor/json-editor

[2020-04-12 11:46] tristanbailey commented on #606
Hi, can the docs get an update for this. Took me a while to figure in the hbs files to use not :string() but string=“”

[2020-04-12 19:39] JosefBredereck commented on #1110
Could you please check if you have `cleanPublic` on `false` in your patternlab config?

[2020-04-13 11:37] JosefBredereck commented on #1051
Stale Reopen

[2020-04-13 12:27] JosefBredereck commented on #818
@bmuenzenmeyer this works in the current version. Do we want to keep this old issue from 2018?

[2020-04-13 12:28] JosefBredereck commented on #812
Is this the leading issue for this task?

[2020-04-13 12:47] JosefBredereck commented on #912
I recommend using a newer version of pattern lab with handlebars engine.
Migrating files
1. Copy into project
2. Rename all file extensions
Windows
`forfiles /S /M *.mustache /C "cmd /c rename @file @fname.hbs"`
3. change call of {{> pattern(param: '1', param2:'2') }} to {{> pattern param="1" param2="2" }}

[2020-04-13 12:50] JosefBredereck commented on #953
Still relevant?

[2020-04-13 13:16] JosefBredereck commented on #858
Is this still an issue?

[2020-04-13 13:18] JosefBredereck commented on #888
In the current version, this issue seems to be resolved.

[2020-04-13 13:34] JosefBredereck commented on #889
I tested that with the current version with handlebars engine. There the issue seems to be gone.

[2020-04-13 13:56] JosefBredereck opened #1145 "Viewport resizing"
Just took that feature request/issue from gitter from @dxsferrer

I also found a todo in the code which would be great to be resolved
`// @todo: re-add keyboard shortcuts to these`

I will try to supply a fix for that.

##### Expected Behavior

1. When I click on full size the viewport should resize to full window with independently from max size of `config.ishViewportRange.l`.

2. When click into

[2020-04-14 09:37] MartinDM commented on #953
Not here. Can be closed @JosefBredereck then if someone else encounters it they can always re-open the issue. Thank you both.

[2020-04-14 12:07] #953 closed

[2020-04-14 12:12] #889 closed

[2020-04-14 12:13] #888 closed

[2020-04-14 12:14] bmuenzenmeyer commented on #812
this was resolved with #1066 IMO

[2020-04-14 12:14] #812 closed

[2020-04-14 12:17] bmuenzenmeyer commented on #858
yes - the CLI tests have been turned off for a while. My understanding of that codebase, unit testing, and CLIs in general has increases since then, so I hope to revisit some day

[2020-04-14 12:18] bmuenzenmeyer commented on #912
closing as a workaround is mentioned above. mustache will not receive any further investment

[2020-04-14 12:18] #912 closed

[2020-04-14 12:20] bmuenzenmeyer commented on #818
closing. thanks @JosefBredereck !

[2020-04-14 12:20] #818 closed

[2020-04-14 12:21] JosefBredereck commented on #858
I will investigate that the next days to have a clear cli package. Also, the cli needs a little bit of an overhaul and that's another cool topic.

[2020-04-14 12:26] bmuenzenmeyer commented on #858
agreed !

I really appreciate your help!

[2020-04-23 05:13] mfranzke commented on #1109
hello bot

[2020-04-24 05:50] #1142 closed

[2020-04-24 14:46] bmuenzenmeyer opened #1153 "Resolve broken links in new docs site"
I used https://validator.w3.org/checklink to checkout our new doc site, previewed at: https://patternlab-docs-preview.netlify.app/

This is prerequisite for cutting over the docs site.

There are a number of broken links we need to resolve. My best attempt at scraping the w3c results and deduping looks like this:

https://patternlab-docs-preview.netlify.app/resources
https://patternlab.io//docs/te

[2020-04-24 15:41] mfranzke opened #1155 "improvement: ability to configure default pattern info code panel"
Being able to configure the initial pattern info code panel instead of always using the pattern template being used by the design system e.g. offers showing the `HTML` code initially.

That HTML code might be the most relevant code for diverse systems or target template usage in larger constructs or enterprises, where a central design system team e.g. uses handlebars, but the HTML gets integrated

[2020-04-24 16:40] bmuenzenmeyer opened #1157 "npm create pattern-lab with specified directory and starterkit broken"
install starterkit needs to be `projectDir` aware

workaround:

`mkdir my-project && cd my-project` before you `npm create pattern-lab`
then, specify the current directory as the install target

[2020-04-24 18:01] JosefBredereck opened #1158 "The headline in new Docs not rendered properly"
[Managing Pattern Assets](https://patternlab-docs-preview.netlify.app/docs/managing-pattern-assets/)

Images tell you more than 1000 words 😄

![grafik](https://user-images.githubusercontent.com/13408112/80242832-4d4e8880-8666-11ea-9adb-d076257d557c.png)

[2020-04-24 18:11] bradfrost commented on #1158
@JosefBredereck Fun! Thanks for the heads up.

[2020-04-24 20:17] frostyweather commented on #1153
@bmuenzenmeyer A few comments and questions:
- https://patternlab-docs-preview.netlify.app/docs/pattern-reorganizing.html has changed to https://patternlab-docs-preview.netlify.app/docs/reorganizing-patterns/ in the new site.

Do these need to have the same URL structure as the live site or is it okay for these to be different? I think most of the URLs posted above from the new site are just becau

[2020-04-24 20:18] bmuenzenmeyer commented on #1153
Good questions.  The crawler found those links somewhere on the new site and they broke.  Navigate around and you will find some.

The goal is to ferret these out wherever they are

[2020-04-24 20:20] frostyweather commented on #1153
@bmuenzenmeyer Alrighty. I found the issue with resources. I'll take a look at the others and fix them if they need to be fixed.

[2020-04-24 20:30] frostyweather commented on #1153
@bmuenzenmeyer @bradfrost For the documentation page, do we still want that since all of our docs are in the nav now?

[2020-04-24 20:43] frostyweather commented on #1153
@bmuenzenmeyer @bradfrost In terms of the new site:

- https://patternlab-docs-preview.netlify.app/docs/pattern-reorganizing.html has changed to https://patternlab-docs-preview.netlify.app/docs/reorganizing-patterns/
- https://patternlab-docs-preview.netlify.app/docs. Should this exist since it exists in the nav?
- https://patternlab-docs-preview.netlify.app/docs/advanced-auto-regenerate.html is n

[2020-04-25 02:11] bmuenzenmeyer commented on #858
I ran the CLI tests for the first time in a LONG time just now. This is what they report:

brian@DESKTOP-TCM0GPM MINGW64 /d/src/patternlab-node/packages/cli (dev)
$ yarn test:separate
yarn run v1.19.1
$ tap ./test/*.test.js --reporter spec --timeout=120

./test/build.test.js
  Build ->
    √ throws when config is empty
    √ throws when config is not of type object
    √ --patterns-only throws whe

[2020-04-25 02:12] bmuenzenmeyer commented on #858
I think we can start chipping away at these failures and get them to a point where we turn back on the tests. I used the `scaffold` tests locally this morning to validate some functionality. There is a LOT of good still here!

[2020-04-27 17:19] frostyweather commented on #1153
@bmuenzenmeyer Just created a pull request for this. All of the new links should be resolved. The old links from above have either been renamed or no longer have any significance.

[2020-04-28 06:59] mfranzke commented on #909
Response

[2020-04-28 08:11] mfranzke opened #1163 "fix(plugintabs): enabling multiple file formats"
@bmuenzenmeyer your overwrite with commit b82bd129fdbe48de95b62d75fb7fe95cea896b7e of the [placeholders `<<type>>` and `<<typeUC>>` (to hardcoded `scss`)](https://github.com/pattern-lab/patternlab-node/blob/73eac976461f4e587b0c30668942c4895aea319f/packages/plugin-tab/src/snippet.js#L3-L11) that are used within the script https://github.com/pattern-lab/patternlab-node/blob/dev/packages/plugin-tab/i

[2020-04-28 12:36] bmuenzenmeyer opened #1164 "Docs to review for deletion"
packages/docs/src/docs/advanced-integration-with-grunt.md
packages/docs/src/docs/pattern-converting.md
packages/docs/src/docs/generating-css.md
packages/docs/src/docs/advanced-integration-with-compass.md
packages/docs/src/docs/advanced-page-follow.md

[2020-04-28 12:36] #1153 closed

[2020-04-28 12:57] bmuenzenmeyer commented on #1163
yes this looks like a bug to me - though only that portion. the intent of that commit was still to check for `window.patternlab` && `window.patternlab.panels`

[2020-04-28 19:08] ringods commented on #1063
@bradfrost @sghoweri @bmuenzenmeyer isn't it time to replace the outdated site on the main domain with the preview which is built and visible on Netlify? Documentation is always lagging. Having the main site built from the [docs](https://github.com/pattern-lab/patternlab-node/tree/dev/packages/docs) will also prevent people to look at the outdated [website](https://github.com/pattern-lab/website/)

[2020-04-28 19:18] ringods commented on #554
This is supported in package `@pattern-lab/engine-twig` since version 5.8.0

https://github.com/pattern-lab/patternlab-node/blob/dev/CHANGELOG.md#580-2020-04-03

[2020-04-28 19:18] #554 closed

[2020-04-28 19:24] ringods commented on #1134
Have you tried the pure JS twig engine from `@pattern-lab/engine-twig` lately? It got a big refresh in version 5.8.0 by using a better library under the hood.

[2020-04-28 19:56] coreylafferty commented on #1134
Thanks, @ringods.  I think this is more tied to the PL navigation creation.  This issue appears to be fixed by PR #1143, which appears to be close to being accepted.

[2020-04-28 21:40] sghoweri opened #1169 "New Docs Site: Can't Close Nav By Tapping Outside on Mobile"
##### Expected Behavior
Tapping anywhere outside of the main Nav while expanded will automatically close the main Nav (aka like how Dropdowns normally work)

##### Actual Behavior
Nav remains open when tapping / interacting with any UI outside of it.

![6F05C89D-AE40-4A3A-A71F-6E0352294331](https://user-images.githubusercontent.com/1617209/80540459-5cd81500-8977-11ea-8fbf-3737d6d360e2.png)

[2020-04-28 21:42] sghoweri opened #1170 "New Docs Site: Expand Nav has z-index issues on smaller screens"
![E1B248EB-2C86-476A-81A4-4FE55DF703C9](https://user-images.githubusercontent.com/1617209/80540668-ba6c6180-8977-11ea-97f0-6daac563e31e.png)

[2020-04-28 21:45] sghoweri opened #1171 "New Docs Site: Overflow Scrolling Issues"
![35AFDE4F-5964-456F-A9D9-85B820191CB1](https://user-images.githubusercontent.com/1617209/80540883-25b63380-8978-11ea-9269-c9dbaa32e9b1.gif)

[2020-04-28 21:48] sghoweri opened #1172 "New Docs Update: Replace Demo Screenshot Placeholders"
https://patternlab.io/demos/

![A2ECDBC3-21EB-4817-B847-B6864B2C76CE](https://user-images.githubusercontent.com/1617209/80541116-99584080-8978-11ea-8416-7abfc38a49a3.png)

[2020-04-29 16:52] JosefBredereck commented on #436
To fix this issue we will need to make a breaking change. At the moment the shorthand pattern name will be generated from `patternType-patternName`.

To be sure that this isn't happening anymore there will be two approaches.

1. Generate shorthand name as `patternType-patternSubType-patternName` which feels a bit too long.
2. Alternatively, we add a markdown pattern-property which allows adding an

[2020-04-29 17:05] JosefBredereck commented on #145
I was thinking if this is still an issue with the new feature of `{{> @partial-block }} `.
Also if you add `{{{text}}}` to your pattern and call it with handlebars it should also work as expected `{{> pattern text="<strong>DANGER DANGER</strong>" }}`

[2020-04-29 17:12] JosefBredereck commented on #473
Is this a related topic to mustache which is using a custom pattern reference?

Pattern
[code]

Reference
[code]

With handlebars, it is working right now. I don't know when the support for mustache will be dropped, so maybe still relevant.

[2020-04-29 17:47] JosefBredereck commented on #1127
I will take a look on this topic at the weekend. Thanks for identifying the root cause so far.

[2020-04-30 11:52] mfranzke opened #1174 "fix(uikitworkshop): absolutely positioned pattern parts at the vertical end of the "page" would get cropped"
Due to the following CSS declaration, absolutely positioned pattern parts at the end of the "page" would get cropped:
https://github.com/pattern-lab/patternlab-node/blob/123427a2bd0c6285ceddbaaa83c2c90a840ecc54/packages/uikit-workshop/src/sass/pattern-lab.scss#L109

The scroll position doesn't need to be at the end of the viewport; it's mainly related to that the container additionally wouldn't ex

[2020-05-01 08:44] ringods commented on #1116
I recently have been working on `@pattern-lab/engine-twig`, the JS version of Twig rendering. I also bump into these warnings. My observation so far is that it is related to Twig namespaces.

When I reference (`@include`, `@extend`, `@embed`) a template using a relative path directly in the `patterns` folder, it doesn't complain. When I reference it via a namespace, it does.

Probably, this is bec

[2020-05-01 11:20] bmuenzenmeyer opened #1176 "Deprecate Pattern Type, Subtype, and Pattern Order using ##-Syntax"
Converted from https://github.com/orgs/pattern-lab/projects/3

[2020-05-01 11:21] bmuenzenmeyer opened #1177 "Deprecate Style Modifiers"
Converted from https://github.com/orgs/pattern-lab/projects/3

http://patternlab.io/docs/pattern-stylemodifier.html

**BM: Template Engines** accomplish this in their own way. Kill this mustachism

[2020-05-01 11:21] bmuenzenmeyer opened #1178 "Deprecate ListItems"
Converted from https://github.com/orgs/pattern-lab/projects/3

http://patternlab.io/docs/data-listitems.html

**BM: remove this as a mustache-ism? I understand it's convenient but is it worth it?**

**Team: discussed removing 1/17/20**

[2020-05-01 11:22] bmuenzenmeyer opened #1179 "Pattern-specific ListItems"
Converted from https://github.com/orgs/pattern-lab/projects/3

http://patternlab.io/docs/data-listitems.html

See https://github.com/pattern-lab/patternlab-node/issues/1178

[2020-05-01 11:23] bmuenzenmeyer opened #1180 "Deprecate Pattern Parameters"
Converted from https://github.com/orgs/pattern-lab/projects/3

https://patternlab.io/docs/using-pattern-parameters/

**BM: Template Engines** accomplish this in their own ways. Kill this mustacheism

[2020-05-01 11:24] bmuenzenmeyer opened #1181 "Deprecate PL Partial Syntax"
Converted from https://github.com/orgs/pattern-lab/projects/3

http://patternlab.io/docs/pattern-including.html

This feature creates PL-lockin.

**BM: There are ways we COULD keep this, but only if an engine supplies a portable resolver that a production system could also use.**

see #834

[2020-05-01 11:25] bmuenzenmeyer opened #1182 "Deprecate Pattern Hiding Using `_` before the file name"
Converted from https://github.com/orgs/pattern-lab/projects/3

http://patternlab.io/docs/pattern-hiding.html

**BM: Use markdown instead. Filesystem hacks suck**

[2020-05-01 11:25] bmuenzenmeyer opened #1183 "Deprecate Hiding Folders of Patterns Using _ before the directory name"
Converted from https://github.com/orgs/pattern-lab/projects/3

https://github.com/pattern-lab/the-spec/issues/27

**BM: I know this passed, but I really don't like filesystem-based solutions like this**

[2020-05-01 11:43] bmuenzenmeyer opened #1184 "Create Contributing Section on the Docs"
Things to potentially add:

* https://github.com/pattern-lab/patternlab-node/blob/dev/.github/CONTRIBUTING.md
* Select content from https://github.com/pattern-lab/patternlab-node/wiki

[2020-05-01 11:57] #1163 closed

[2020-05-01 12:13] ringods opened #1185 "Github Actions over Travis-CI?"
I have converted a few personal projects already to Github Actions with positive outcome.

Here are a few of the things I find beneficial on Github Actions:

* one can create multiple workflows in separate files (e.g. build vs website publish)
* workflows can be triggered by different types of events e.g. git commits, webhooks, cron
* Github Actions is *much* faster

What do we need to know whethe

[2020-05-01 12:17] bmuenzenmeyer commented on #1185
I'd be curious to see how this evolves! I only tried out GH actions briefly when they came out - and reducing our footprint feels like a good thing to me.

[2020-05-01 12:18] ringods commented on #1185
@bmuenzenmeyer just updated the issue descriptioin. 😉

[2020-05-01 12:20] bmuenzenmeyer commented on #1185
we need someone to commit to the work and shepherd it through.

Preserving the minimum PR flow should be the first goal. Netlify integrations already do the docs site preview and handlebars preview - but if that can be done some other way I am open to it.

[2020-05-01 12:23] bmuenzenmeyer commented on #1063
it's live! I think it's still pointing to `dev` - but that's still better.

I am closing this issue as too vague to act upon. @simonseddon if you want to contribute videos I am sure we can find a home for them once built, perhaps under https://patternlab.io/resources/

[2020-05-01 12:23] #1063 closed

[2020-05-01 12:26] bmuenzenmeyer commented on #436
The shorthand syntax leads to PL lockin. I'd rather us do away with any logic whatsoever that contributes to patterns not being portable.

[2020-05-01 12:27] bmuenzenmeyer commented on #145
right - this is now a won't fix! if your pattern Engine of choice doesn't support this, use a more powerful one. We won't be propping up mustache any longer

[2020-05-01 12:27] #145 closed

[2020-05-01 12:36] bmuenzenmeyer commented on #473
this is a won't fix in the same vein as #145 - if the template language doesnt support it, we wont be doing it.

[2020-05-01 12:36] #473 closed

[2020-05-01 13:16] bmuenzenmeyer opened #1186 "Cleanup core published files"
It looks like core current publishes test and .nyc_output, or perhaps everything.

We need to use the `files` key in the pacakge.json to omit things from publication.

<details><summary>partial log...</summary>
erna notice 14B     test/files/_handlebars-test-patterns/00-atoms/00-global/00-helloworld.h
bs
lerna notice 51B     test/files/_handlebars-test-patterns/00-molecules/00-global/00-hellowor
l

[2020-05-01 13:23] bmuenzenmeyer commented on #1186
pulled down the package and confirmed

![image](https://user-images.githubusercontent.com/298435/80808348-f7f20a00-8b84-11ea-9cd8-17ce76dad26d.png)

[2020-05-01 16:39] ringods commented on #834
Can we close this issue in favor of the new issues like:

- #1180
- #1181
- #1182
- #1183

and other issues which are more recent?

[2020-05-01 16:40] ringods commented on #983
Can we close this issue in favor of more recent issues and the [core 2](https://github.com/pattern-lab/patternlab-node/projects/5) project board?

[2020-05-01 16:45] bmuenzenmeyer commented on #1039
I wish for this to remain pinned as we still go through periods of immense change in PL - especially around the open PRs we have.

[2020-05-01 16:49] bmuenzenmeyer commented on #983
i'm in favor. @sghoweri if you agree please close.

[2020-05-01 16:49] #834 closed

[2020-05-01 17:16] sghoweri commented on #983
Closing out -- I'll open standalone tickets if there's anything worth keeping around (and still relevant) from this

[2020-05-01 17:16] #983 closed

[2020-05-01 17:34] justclint commented on #436
Experiencing this as well. In the process up upgrading from version 2.7 to latest. Got all the twig functions and filters migrated to new version and finally building now. But now the build errors with

[code]

Is there any work around until the issue is resolved?

[2020-05-01 17:36] JosefBredereck commented on #436
Use links without numbers `components-component`

[2020-05-01 17:39] ringods opened #1189 "Remove issue label "open pr""
This is a small request to the project maintainers to remove the issue label `open pr`. Github introduced [draft pull requests](https://github.blog/2019-02-14-introducing-draft-pull-requests/) early last year which represents the same.

I will add the info to draft pull requests to the contribution guidelines in a subsequent pull request.

[2020-05-01 19:05] #1189 closed, assigned to bmuenzenmeyer

[2020-05-01 19:08] bmuenzenmeyer commented on #1189
deleted!

[2020-05-02 00:50] bradfrost opened #1191 "Website documentation cleanup"
Here is the document where we captured the work to do be done to update the website's documentaiton: https://www.notion.so/bradfrost/1ea9f21e05ab41b59e5f3360bfe8f637?v=05c5131eb11147f88380d8fd806ca8c1

I'm being lazy here just to capture this on GitHub. If it's worth bringing granular tasks into GitHub just let me know and I can do that.

[2020-05-02 12:52] mfranzke opened #1192 "Resolve broken links in new docs site"
Additionally to the changes out of #1153 there are some more links included in the several different files of the repo (`.md`, `.js` etc.) as comments or within these documentation files, that would additionally need to get changed.

Please find the list of links within the related PR #1193

Maybe additionally setting up redirects for the old `docs` pages urls to the new ones might be in general a

[2020-05-02 15:50] #1130 closed

[2020-05-02 15:51] #957 closed

[2020-05-02 15:52] mfranzke opened #1195 "chore: prevent redirects (and possible MITM attacks)"
We could prevent redirects to pages my linking to their "correct" / canonical URL directly.

Additionally not all of the websites we're linking to have introduced the "HTTP Strict Transport Security" (HSTS) mechanism to redirect securely to their HTTPS equivalent.
Nevertheless we could anyhow prevent that redirect independently from security aspects by linking to their HTTPS version of the website

[2020-05-03 17:58] JosefBredereck commented on #1127
I'm a little ambivalent on the matter. As you already mentioned both cases have their advantages and disadvantages. Also, there are multiple different ways of giving configurations to do it the one or the other way, but after thinking the whole weekend about this case I didn't come to a proper solution.

[2020-05-03 20:52] OktarinTentakel commented on #1127
@JosefBredereck

This ambivalence you mention is exactly the problem with keeping the current solution static.

It's a matter of perspective and design philosophy, but at the same time there is no clear winner in terms of semantics or elegance.

My problem is simply, that I cannot follow a perfectly logical and battle-proven way of building patterns any more without working against the system and

[2020-05-04 07:48] JosefBredereck commented on #1127
Ok, I'll create an pr and let's see what the others think about that ticket.

[2020-05-04 08:26] OktarinTentakel commented on #1127
Thanks

[2020-05-04 17:06] mfranzke opened #1197 "fix(docs): google lighthouse error - Background and foreground colors do not have a sufficient contrast ratio"
Low-contrast text is difficult or impossible for many users to read. [Learn more.](https://web.dev/color-contrast/)

[2020-05-04 18:34] #1197 closed, assigned to nobody

[2020-05-05 10:45] #1195 closed, assigned to nobody

[2020-05-05 14:03] bmuenzenmeyer opened #1200 "Resolve broken examples"
broken out of https://github.com/pattern-lab/patternlab-node/pull/1193

http://www.brianmuenzenmeyer.com/adding-common-gulp-tasks-to-pattern-lab-node, http://www.brianmuenzenmeyer.com/using-patternlab-to-design-build-and-maintain-a-website & http://www.brianmuenzenmeyer.com/patternlab/public/ @bmuenzenmeyer: these links don't work any more, are there new ones you could provide?

http://patterns.fr

[2020-05-05 14:04] #1192 closed, assigned to nobody

[2020-05-06 11:10] bmuenzenmeyer commented on #1127
well said!

[2020-05-06 19:48] shannonsumner-zz opened #1201 "_00-head.twig is not displayed correctly using the twig (js) engine."
[code]
I am using Pattern Lab Node `vX.X.X` on `Windows | Mac | Linux`, with Node `vX.X.X`, using a `Gulp | Grunt | Vanilla | Custom` Edition.

I am using Pattern Lab Node 'v5.9.3' on Mac with Node 'v12.16.1', using a Vanilla Edition with the engine twig installed and twig set to the pattern extension.
[code]
##### Expected Behavior
_00-head.twig would be displayed correctly.

##### Actual Behavio

[2020-05-07 11:32] #1185 closed

[2020-05-07 11:38] bmuenzenmeyer commented on #1201
I believe in gitter you stated this was resolved? please reopen if i am misunderstanding

[2020-05-07 13:17] shannonsumner-zz commented on #1201
Please reopen.  This issue is not resolved.

[2020-05-08 15:14] ringods commented on #1201
@shannonsumner As I'm the person who did work on `engine-twig` lately, I'll have a look at it. But can you still post the full `dependencies` and `devDependencies` from your `package.json`?

[2020-05-08 16:15] shannonsumner-zz commented on #1201
[code]

[2020-05-09 18:08] #1145 closed

[2020-05-09 18:42] #844 closed

[2020-05-09 18:42] #1079 closed

[2020-05-09 18:43] #1174 closed

[2020-05-11 20:37] ringods commented on #1201
@bmuenzenmeyer I think I need a helping hand. @shannonsumner attached an example project, see the link to a ZIP file just above the screenshot.

This example project contains a single pattern: `atoms-headings`. After running `pl:build`, I get three folders under `public/patterns`:

* `00-atoms`
* `00-atoms-01-text`
* `00-atoms-01-text-00-headings`

The `index.html` file in the first 2 folders star

[2020-05-11 20:45] thethomic opened #1205 "Cut off navigation when too many menu items"
I am using Pattern Lab Node `v5.10.1` on `Windows`, with Node `v12.12.0`, using a `Gulp Mustache` Edition.

##### Expected Behavior
The Patternlab navigation should be fully usable when having many pages and beeing left aligned.

##### Actual Behavior
When the Patternlab navigation has many entries (27 of top and sublevel in my case), the content is cut off. The problem comes through the css rule:

[2020-05-11 21:15] thethomic commented on #1103
Hey team,
I like to chime in on the renaming thoughts for `Expand/Collapse Panel`.
I'm quite convinced that the current naming is rather misleading. "_My users_" thought it would expand the navigation panel and had no idea that the really helpful and quite essential "Pattern Info" is hidden there.
Also in my opinion "_Show Info_" would be too weak to describe this main feature...

It' really hard,

[2020-05-12 16:44] mfranzke commented on #1136
A mitigation in between might be to use [package aliases](https://github.com/npm/rfcs/blob/latest/implemented/0001-package-aliases.md#detailed-explanation):
`npm i @pattern-lab/uikit-other@npm:@pattern-lab/uikit-workshop`

This would install the `@pattern-lab/uikit-workshop` as an additional `@pattern-lab/uikit-other`.

Again, it's not a permanent solution, as it would increase the packages by ano

[2020-05-12 19:21] mfranzke opened #1207 "docs(attributes): modified related to latest implementations"
The attributes `state` and `tags` have been implemented and that for the docs need to get updated.

~~@bmuenzenmeyer as the `excludedTags` feature out of #844 #1079 has been implemented and released, where would you like to have the feature documented? The [`states`](https://patternlab.io/docs/using-pattern-states/) have an [exclusive docs page](https://patternlab.io/docs/using-pattern-states/), t

[2020-05-13 08:03] ringods commented on #415
In my naive thinking, I can add `.md` files next to each pattern to have it documented. Is this implemented or is there still outstanding work on this?

[2020-05-13 08:06] ringods commented on #470
PL moved on to be mainly a Node project. Is this issue still applicable then?

[2020-05-13 08:17] #895 closed

[2020-05-13 08:50] DanielRuf commented on #895
Not sure why this issue was closed then because it was not my issue - it was reported by @hdwebpros and I just provided some additional context.

[2020-05-13 10:09] ringods commented on #895
@DanielRuf I know. But I have been testing this issue with the current releases and couldn't reproduce this anymore. I should have clearly mentioned this. Sorry for that.

[2020-05-13 10:50] DanielRuf commented on #895
Ah ok, thanks for the clarification as this was not quite clear to me.

[2020-05-14 11:43] bmuenzenmeyer opened #1209 "Implement hidden key in frontmatter"
I've been reconciling https://patternlab.io/docs/documenting-patterns/ with #1208 - I realized that we have support for parsing all these keys, yet core may not do something yet with all of them:

* `excludeFromStyleguide`
* **`hidden`**
* `links`
* `order`
* `state`
* `tags`
* `title`

This issue is limited to adding `hidden` functionality to https://github.com/pattern-lab/patternlab-node/blob/de

[2020-05-15 11:45] bmuenzenmeyer commented on #470
no this can be closed

[2020-05-15 11:45] #470 closed

[2020-05-15 12:07] portfolioris opened #1210 "Partial build option in Node doesn't work"
I am using @pattern-lab/core `v5.10.1` on `Mac`, with Node `v12.16.1`, not using an Edition.

##### Expected Behavior
Setting the option `cleanPublic` to false via the build function should do a partial build.

##### Actual Behavior
The option is not used, so the function always runs a full build.

##### Steps to Reproduce
In a node or gulp script:

[code]

[2020-05-15 13:45] ringods commented on #436
Given that the numbering scheme of folders and files will be deprecated in the near future (#1028), I doubt something will be done about this.

@bmuenzenmeyer can this issue be closed?

[2020-05-15 15:59] JosefBredereck commented on #436
It's not about the numbers it's about the names.

[2020-05-17 02:47] #1055 closed

[2020-05-18 14:26] mfranzke commented on #1209
... and documenting it on https://patternlab.io/docs/hiding-patterns-in-the-navigation/

[2020-05-22 10:52] ringods commented on #1201
I was able to reproduce with the example project. I'm trying to debug and step through the execution flow but with the async nature of NodeJS, the execution path is hard to follow. No idea so far where the problem comes from.

@bmuenzenmeyer have you had some time to look into this?

[2020-05-22 11:29] juranosaurustechs commented on #1020
Still interested in seeing this happen...

[2020-05-22 14:08] ringods commented on #1201
A few hours ago, I updated my Homebrew setup. One of the things which got bumped was NodeJS. I am now running NodeJS v12.16.3.

Using this NodeJS version, your sample project seems to build correctly now. The changelog for this version is quite long:
https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#12.16.3
I could link a few issues which might be related to this, but I fa

[2020-05-22 14:22] shannonsumner-zz commented on #1201
I am still seeing the same issue after updating to Node 12.6.3

[code]
`_00-head.twig` is still not being displayed correctly.

[2020-05-24 09:36] ringods commented on #1201
Indeed. It was a misconfiguration on my end. When the configuration was set to `twig` correctly, the problem still stands unfortunately.

[2020-05-24 11:04] ringods opened #1212 "Meta head & foot are not rendered an equal amount of times"
I am using Pattern Lab Node `v5.9.3` on `Mac`, with Node `v12.16.3`, using a `Custom` Edition with `engine-twig`

##### Expected Behavior

Meta head & foot to be rendered the same amount of times.

##### Actual Behavior

Meta foot is rendered more times.

##### Steps to Reproduce

In trying to track the cause of #1201, I bumped into a strange behavior of PL. I added a log statement in the `renderP

[2020-05-24 14:09] ringods opened #1213 "Introduce async/await in the codebase?"
Would it be possible to start using async/await in the PL codebase? This was already suggested when moving to Node 8 (#870) but I don't see it in the code base so far.

This request is driven by my failure in debugging #1201 so far, mainly because the whole async behaviour of Node is hard to follow. While VSCode tries to display the stack trace including the point which created a new Promise, clic

[2020-05-25 06:34] #1128 closed

[2020-05-26 06:20] mfranzke commented on #1005
I’d like to open another discussion on this topic.

Managing the schema of a pattern would be at least relevant for three reasons / use cases:
- Providing a visual sample engine to the PL users
- Resulting in a rendered table as a pattern specification (like e.g. the one by [Bolt Design System](https://www.boltdesignsystem.com/pattern-lab/patterns/02-components-button/index.html#schema))
- Enablin

[2020-05-26 08:17] maxleistner commented on #1114
Hi there. I am on node v12.3.6 and the error pops up again.
(Pattern Lab Node Core version: 5.10.1)

Any suggestions?

[2020-05-30 13:37] mfranzke commented on #1141
Fight da bot

[2020-05-31 16:01] designermonkey commented on #1157
For me, even following the above step, the install hangs:

[code]

[2020-05-31 19:37] cybtachyon commented on #1005
I love the direction you're taking with this.

The issue I have with...

...is that JSON Schema is already a well-documented and popular format for providing schemas. Instead, I would take the tact of adding JSON Schema support for web-component-analyzer.

JSON Schema was our choice for a couple reasons:

- Based on survey results, it's the most popular choice for defining portable schemas is JSON

[2020-06-01 12:20] ringods commented on #1201
@shannonsumner can you check with `engine-twig` v5.10.2? This version includes the updated `twing` v5.0.1 engine.

Unfortunately, I wasn't able to pinpoint the real problem, but the version update seems to have fixed it for me. I hope it is fixed for you too. Please close this issue if it is.

[2020-06-01 13:34] mfranzke commented on #1005
@cybtachyon, sounds great! I‘ve even also just found a lot of other scripts that could help on the jsonschema2md transformation, which is an additional plus: https://duckduckgo.com/?q=%22JSON+Schema%22+to+markdown&t=iphone&ia=web

[2020-06-01 13:42] shannonsumner-zz commented on #1201
This seems to have fixed the issue - thank you for your hard work.

[2020-06-01 13:42] #1201 closed, assigned to ringods

[2020-06-03 07:24] mfranzke opened #1215 "chore(releasenotes): PL v5.10.1 contributors partly incorrect"
The release description on https://github.com/pattern-lab/patternlab-node/releases/tag/v5.10.1 includes some incorrect contributors mentions:

credits me, but should actually mention @JosefBredereck and @bradfrost instead.

is missing @JosefBredereck

just asking to use my github username instead of emailaddress here, please.

[2020-06-11 05:10] mfranzke commented on #1205
@thethomic thanks for providing this finding. Do you have the possibility to even also support by providing a possible solution for that problem?

[2020-06-11 05:11] mfranzke commented on #1122
@thethomic thanks for providing this finding. Do you have the possibility to even also support by providing a possible solution for that problem?

Danke schön ! ;-)

[2020-06-11 06:13] perriard opened #1216 "No css for pattern state "inprogress""
I am using Pattern Lab Node `v5.7.0` on ` Mac `, with Node `v11.3.0`, using a ` Custom` Edition.

##### Expected Behavior
Pattern state "inprogress" produces a red dot

##### Actual Behavior
Pattern state "inprogress" produces a blue dot (defaults to the .pl-c-pattern-state styling - there is no --inprogress variant in the uikit _pattern-states.scss)

##### Steps to Reproduce

[2020-06-11 07:53] thethomic commented on #1122
@mfranzke Gerne! ;)
I currently can't find a reason to add the negative top-margin and the top-padding to the `.pl-c-drawer__wrapper `. When I remove both, the panel still works as intended and just gets a few pixels higher.

So I recommend to just remove these styles:

[code]

[2020-06-11 08:30] thethomic commented on #1205
@mfranzke Sure!
As far as I can assume, the max-height on the ´.pl-js-acc-panel´ is only used for translate-animation purposes when opening the subnavigation. But because the maxHeight is limited to `calc(100vh - 2rem - 2rem);` and the overflow is set to `hidden` contents will be cut when too many.

1. You can remove that maxHeight and ignore the translation-animation getting lost.
(I do recommend

[2020-06-11 13:36] mfranzke commented on #1122
@sghoweri I think UI Kit is mainly your part of knowledge here, isn‘t it?

[2020-06-11 13:41] mfranzke commented on #1205
@sghoweri I think UI Kit is mainly your part of knowledge here, isn‘t it?

[2020-06-11 22:41] mfranzke commented on #1216
@perriard thanks a lot for that finding. I've even already provided a fix and recognized another inconsistency within the spec.

[2020-06-13 12:52] mfranzke commented on #1171
This is related to the codes content not wrapping, compare to e.g.:
![image](https://user-images.githubusercontent.com/787658/84569274-857c6880-ad85-11ea-97bb-ce5a51e736fa.png)

[2020-06-13 16:47] mfranzke commented on #1170
For some reason the tiles pattern has a `z-index` of 100 defined:
https://github.com/pattern-lab/patternlab-node/blob/8afd3f3694fdde45369516c5d753494f8cfd3784/packages/docs/src/scss/components/_tile.scss#L7

If this would get removed, the navigation wouldn't get overlayed any more. And the reason for defining that `z-index` in general isn't clear to me.

[2020-06-13 20:31] mfranzke commented on #926
Probably it's a good chance to evaluate the usage and maybe some refactoring of https://www.npmjs.com/package/plugin-node-wrappable for this purpose.

[2020-06-18 19:54] mfranzke commented on #1019
I am using Pattern Lab Node `v5.10.1` on `Mac OS`, with Node `v13.12.0`, using `@pattern-lab/edition-node` Edition. The problem doesn’t occur any more on this setup. Could you please retest ?

[2020-06-18 20:42] cbirdsong commented on #1019
I'm not seeing it anymore using the following:

- MacOS
- Node `v12.16.1`
- Pattern Lab `v5.10.1` (`@pattern-lab/engine-twig-php`)

[2020-06-18 20:49] mfranzke commented on #955
I am using Pattern Lab Node v5.10.1 on Mac OS, with Node v13.12.0, using @pattern-lab/edition-node Edition. The problem doesn’t occur any more on this setup. Could you please retest ?

I've used those test files, which are slightly modified to the orginal ones due to the migration from `mustache` to `hbs`:

`02-organisms/04-graph/02-graphContent.hbs`:
[code]
`01-molecules/08-graph/00-graphTask.hbs

[2020-06-18 21:22] mfranzke commented on #1019
@ailin10 could you please retest ?

[2020-06-18 21:23] mfranzke commented on #916
I am using Pattern Lab Node v5.10.1 on Mac OS, with Node v13.12.0, using @pattern-lab/edition-node Edition. The problem doesn’t occur any more on this setup.

@fallenturtle could you please retest ?

[2020-06-18 21:59] mfranzke commented on #1123
I could have reproduced the error on console, but `window.origin` is actually `defined`, so it might be a little bit more complex.

On the other hand, with the switch to Chromium rendering engine the error disappeared in newer MS Edge versions.

[2020-06-18 22:41] mfranzke commented on #1125
@OktarinTentakel does the problem still occur on your test devices ? At least I cannot reproduce those bugs on iOS 13.5.1 any more.

[2020-06-19 07:09] OktarinTentakel commented on #1125
@mfranzke I reported the bug specifically for iOS11 at the time, since we tend to support major browsers two versions back with the thought in mind that our customers use slightly outdated OSes for viewing the PL as well.

So the bug might very well be gone on 13. But since there is no major jump in rendering from 11 to 13 there also is no reason why one shouldn't have a look at this, because this

[2020-06-19 07:18] OktarinTentakel commented on #1123
@mfranzke The idea with origin was just a first thought. Since the error never occurred on Chrome it's no surprise that the new Edge does not do this, but the old one will stay relevant for maybe another year in corporate environments as a default browser and thereby also as a viewing browser for PL.

If this error truly does not break anything, hooray (if still ugly). If this breaks something bec

[2020-06-19 12:47] mfranzke commented on #1125
@OktarinTentakel sorry, there might have been a misunderstanding - I didn't want to imply that this should be a "won't fix"; I just can't retest it myself, I've only recognized that it works on iOS 13 and it could have been that it was solved in the meantime in general.

Do you even also have the chance in supporting by evaluating and providing a possible fix for the issue?

[2020-06-19 12:55] OktarinTentakel commented on #1125
@mfranzke If you are on a Mac you can check it fairly easy with the xcode simulators. If not, Browserstack is your friend.

[2020-06-20 01:44] mfranzke commented on #673
I am using Pattern Lab Node `v5.10.1` on Mac OS, with Node `v13.12.0`, using `@pattern-lab/edition-node` Edition. As `handlebars` is the successor of `mustache` as the template language, I've used the `.hbs` and the following template:
[code]

and even also

[code]

The problem doesn’t occur any more on this setup. Could you please retest ?

[2020-06-22 05:59] mfranzke commented on #1109
A potential fix has been provided.

[2020-06-23 17:12] mfranzke commented on #1155
Actually the merge request for this ticket just needs to get reviewed ... and merged.

[2020-06-23 18:47] mfranzke commented on #1158
Actually the merge request for this ticket just needs to get reviewed ... and merged.

[2020-06-27 08:11] perriard commented on #1068
I'm not sure I understand the answer. In the docs https://patternlab.io/docs/including-patterns/ there are shorthand syntax examples, but it does not seem to work for me (node version, twig engine).

Edit: using {% include "atoms-logo" %} to include 00-atoms/04-images/00-logo.twig does not work.

[2020-06-28 12:47] mfranzke commented on #1172
Fight the bot

[2020-06-28 12:48] mfranzke commented on #1169
Fight the bot

[2020-06-28 12:49] mfranzke commented on #1134
Fight the bot

[2020-06-28 12:50] mfranzke commented on #1164
Fight the bot

[2020-06-28 12:52] mfranzke commented on #909
Fight the bot

[2020-06-28 12:53] mfranzke commented on #909
This might qualify for a pinned issue.

[2020-06-28 16:39] #1109 closed

[2020-06-28 16:40] #1186 closed

[2020-06-28 16:42] #1124 closed

[2020-06-28 17:01] #1158 closed

[2020-06-28 17:02] #1169 closed

[2020-06-28 17:21] #1216 closed, assigned to nobody

[2020-06-28 17:25] #1207 closed, assigned to nobody

[2020-06-28 18:26] #1127 closed

[2020-06-28 18:44] #1210 closed, assigned to nobody

[2020-06-28 18:51] #1171 closed

[2020-06-28 19:57] sghoweri commented on #1171
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1207
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1210
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1216
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1169
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1158
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1124
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1127
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1186
Issue was released with v5.11.1

[2020-06-28 19:57] sghoweri commented on #1109
Issue was released with v5.11.1

[2020-07-03 04:40] mfranzke commented on #1184
Fight the bot

[2020-07-03 04:40] mfranzke commented on #1191
Fight the bot

[2020-07-04 14:51] mfranzke commented on #1200
Fight the bot

[2020-07-11 01:49] mfranzke commented on #1103
Fight the bot

[2020-07-12 07:27] mfranzke commented on #1136
Fight the bot

[2020-07-12 07:56] #1110 closed

[2020-07-15 18:11] smurrayatwork commented on #1127
@sghoweri @JosefBredereck  It doesn't appear that this issue was fixed for engine-twig-php. Would it be possible to fix that engine as well, or should that engine not be used?

[2020-07-17 07:33] JosefBredereck commented on #1127
@smurrayatwork That's a very good question. Since it was part of the core package it should be fixed also.
I never used this engine so I cannot test or say where the issue comes from. Do you have a test package or repo somewhere?

[2020-07-26 07:03] JEltgroth opened #1230 "Adding custom TwingExtension functions and filters in engine-twig."
I am using Pattern Lab Node `v5.11.1` on `Linux`, with Node `v14.6.1`, using a Twig Edition.

Installed Dependencies:
    "@pattern-lab/cli": "^5.11.1",
    "@pattern-lab/core": "^5.11.1",
    "@pattern-lab/engine-twig": "^5.10.2",
    "@pattern-lab/uikit-workshop": "^5.11.1"

I currently am using the old Pattern Lab PHP with Twig engine at work for our design library, and am exploring what it wou

[2020-07-26 14:53] ringods commented on #1185
@bmuenzenmeyer while working on #1225, I was following up on the roundtrip time for Github Actions and Travis. After 2 hours, Travis hasn't even started running the build for my last commit...

<img width="962" alt="travis-delay" src="https://user-images.githubusercontent.com/77923/88482214-2868fa80-cf60-11ea-9d35-74e5ccbe58b7.png">

[2020-08-02 17:54] mfranzke commented on #1215
Fight the bot

[2020-08-07 06:47] mfranzke commented on #1209
fight the bot

[2020-08-07 06:56] mfranzke commented on #986
@JosefBredereck I've included it in the listing on https://patternlab.io/docs/overview-of-pattern-lab's-ecosystem/#heading-plugins via pull request https://github.com/pattern-lab/patternlab-node/pull/1229

[2020-08-08 14:37] ryan7273 opened #1231 "UnhandledPromiseRejectionWarning when serving fresh installation"
I am using Pattern Lab Node `v14.7.0` on `Linux`, with Node `v14.7.0`, using a `Vanilla` Edition.

##### Expected Behavior
It should build everything and run the server without generating errors or warnings.

##### Actual Behavior
[code]
The server does run and it looks like everything works as expected, but the deprecation warning makes me nervous. I don't want to be unable to upgrade node later

[2020-08-09 15:57] JosefBredereck commented on #890
Fixed with #1143 in [V5.12.0](https://www.npmjs.com/package/@pattern-lab/core)

[2020-08-09 15:57] #890 closed

[2020-08-09 15:57] JosefBredereck commented on #1134
Fixed with #1143 in [V5.12.0](https://www.npmjs.com/package/@pattern-lab/core)

[2020-08-09 15:57] #1134 closed

[2020-08-09 15:58] JosefBredereck commented on #633
Fixed with #1143 in [V5.12.0](https://www.npmjs.com/package/@pattern-lab/core)

[2020-08-09 15:58] #633 closed

[2020-08-09 15:58] JosefBredereck commented on #660
Fixed with #1143 in [V5.12.0](https://www.npmjs.com/package/@pattern-lab/core)

[2020-08-09 15:58] #660 closed

[2020-08-09 15:58] JosefBredereck commented on #714
Fixed with #1143 in [V5.12.0](https://www.npmjs.com/package/@pattern-lab/core)

[2020-08-09 15:58] #714 closed

[2020-08-11 00:20] ryan7273 commented on #1014
@MartinDM I don't suppose you figured out how to get SASS to compile. I'm currently struggling with it and wouldn't mind a hint.

[2020-08-11 07:44] MartinDM commented on #1014
I didn't unfortunately Ryan. I think I just went with straight-up CSS in the end. Docs _may_ still need updating as above though.

[2020-08-12 19:35] pcate-fls commented on #1231
I've run into the same warning when creating a fresh pattern library. In my case it was with the twig engine, but otherwise the steps are the same.

[2020-08-14 15:47] pcate-fls commented on #1030
Has anyone found a workaround for this issue?

[2020-08-16 16:12] JosefBredereck commented on #1019
I saw that on the most recent version also 😞

[2020-08-16 16:35] JosefBredereck commented on #755
This isn't an issue anymore ?! 🤞

[2020-08-16 17:10] #673 closed

[2020-08-16 17:11] #955 closed

[2020-08-17 19:46] mfranzke commented on #1005
@cybtachyon, this is probably one of the hottest awaited features, that is additionally one of the only remaining features that Storybook is even already delivering at.
How could we support you regarding the implementations ?

[2020-08-18 16:55] JosefBredereck commented on #648
Closing in favor of #1178 and #1179

[2020-08-18 16:55] #648 closed

[2020-08-18 16:56] JosefBredereck commented on #615
Closing in favor of #1177

[2020-08-18 16:56] #615 closed

[2020-08-18 17:00] JosefBredereck commented on #595
Closing in favor of  #1178 and #1179

[2020-08-18 17:00] #595 closed

[2020-08-18 17:05] JosefBredereck commented on #671
Closing in favor of  #1180, #1181 and #1177

[2020-08-18 17:05] #671 closed

[2020-08-18 17:31] JosefBredereck commented on #436
Given that #1181, #1176, and #1028 are in place and handlebars ([see](https://handlebarsjs.com/guide/partials.html#partial-blocks)) or other rendering engines have their own way of referencing partials we have to find another way to solve this issue.

But also handlebars or twig are looking for a registered partial when referencing patterns. We register all partials (for example) in [engine-handle

[2020-08-18 17:40] JosefBredereck opened #1239 "Deprecate Mustache as default engine"
Converted from https://github.com/orgs/pattern-lab/projects/3

https://patternlab.io/docs/including-patterns/

This feature creates PL-lockin and too much maintenance effort.

see #834

[2020-08-18 20:43] RainbowArray commented on #1020
Aleksi mentioned this issue's existence to me, and I wanted to comment on it to make clear its importance.

The Data Transform Plugin has been absolutely critical in the work I've done integrating Drupal sites with Pattern Lab. By allowing patterns to be included through yml files, including the ability to override variables while doing so, this actually helps to replicate a similar data model to

[2020-08-18 22:26] cybtachyon commented on #1005
@mfranzke you offering to pay for it? ;)

The PatternLab / Knapsack Schema Editor is low priority vs the roadmap listed on https://drupal.org/project/patternkit at this time.

That could shift as more sites and themes begin shipping JSON schema for their patterns, for example Microsoft's https://explore.fast.design which includes JSON schema for all of their components.

[2020-08-19 17:37] mfranzke commented on #1005
@cybtachyon ;-)
mainly brain and time, as always with open source ...

But thanks a lot for the outlook, especially regarding the acceptance and wider spread usage of JSON schema; great news regarding Microsoft especially ! Didn't notice that aspect so far.

[2020-08-19 20:13] cybtachyon commented on #1005
Hahah, for sure!

Where we plan to start is by adding a pane that loads https://github.com/json-editor/json-editor into the DOM per-pattern. Basically, writing wrapping JS that instantiates an instance for each Pattern Lab pattern on the page, and then making sure config options are exposed to patternlabrc.js - from there it's making sure the schema is loaded and preset properly from any provided

[2020-08-21 05:40] ringods opened #1241 "Remove Travis integration in favor of Github Actions"
Hello @bmuenzenmeyer, @sghoweri, @JosefBredereck & other team members,

I have two reviewed and approved pull requests in the queue, but I can't merge them as Travis CI results do not seem to come in, even after days. Travis CI results seem to be a required check before merging.

Can we ditch Travis CI completely and make the Github Actions check the new required one?

Ringo

[2020-08-21 22:44] JosefBredereck opened #1242 "Add support for markdown tables in pattern documentation"
##### Expected Behavior

For this documentation, the renderer should render a table in the pattern documentation.

[code]

##### Actual Behavior

Table is not rendered as table.

[2020-08-21 22:48] JosefBredereck opened #1243 "Error in pattern documentation if frontmatter and a markdown table is in place"
When the following pattern documentation is in place, an error occurs.

[code]

##### Expected Behavior

No error is thrown for valid documentation.

##### Actual Behavior

An error occurs:
[code]

[2020-08-22 22:15] sghoweri commented on #1241
👀

[2020-08-22 22:15] sghoweri commented on #1241
👀

[2020-08-23 14:01] JosefBredereck commented on #1241
https://docs.github.com/en/github/administering-a-repository/about-required-status-checks

[2020-08-23 14:35] #1241 closed, assigned to nobody

[2020-08-23 15:19] JosefBredereck commented on #1215
done

[2020-08-23 15:19] #1215 closed, assigned to nobody

[2020-08-23 16:57] mfranzke commented on #1215
Ehre wem Ehre gebührt ! ;-)

[2020-08-25 16:05] #901 closed

[2020-08-25 16:07] #1155 closed

[2020-08-26 00:25] #1205 closed, assigned to JosefBredereck

[2020-08-26 00:37] #1231 closed, assigned to JosefBredereck

[2020-08-26 00:46] #1019 closed

[2020-08-26 00:59] #1242 closed, assigned to JosefBredereck

[2020-08-26 00:59] #1243 closed, assigned to JosefBredereck

[2020-08-26 15:42] ringods opened #1247 "Deprecate `checkAndInstallPackage` and `fetchPackage`"
I'm hearing from the core maintainers that everything in Patternlab should be(come) more explicit. In the uikit handling (#1225, #1246), I'm making the package name and explicit requirement and I'm loading resources via de NodeJS resolver.

NPM, Yarn v1, Yarn v2 and pnpm don't all have the same "package" lookup strategy. Yarn v2 with PnP even wants to get rid of the complete `node_modules` folder(

[2020-08-27 10:12] ringods commented on #1136
Covered by #1225 (which was reverted and redone in #1246). The name remained the name, but the `package` property was added. You can use the same `package` but with different `name`s.

[2020-08-27 13:14] rutger1140 commented on #1157
Same as [above](https://github.com/pattern-lab/patternlab-node/issues/1157#issuecomment-636490676).

My installation step hangs as well. On MacOS 10.15.6 I've tried: node 8.17, 10.19, 12.18, 14.8 to no avail.  🤷

[2020-08-27 19:17] JosefBredereck commented on #887
The issue was released with v5.13.0 🎉

[2020-08-27 19:18] JosefBredereck commented on #1155
The issue was released with v5.13.0 🎉

[2020-08-27 19:18] JosefBredereck commented on #1242
The issue was released with v5.13.0 🎉

[2020-08-27 19:18] JosefBredereck commented on #1243
The issue was released with v5.13.0 🎉

[2020-08-27 19:18] JosefBredereck commented on #901
The issue was released with v5.13.0 🎉

[2020-08-27 19:19] JosefBredereck commented on #1231
The issue was released with v5.13.0 🎉

[2020-08-27 19:19] JosefBredereck commented on #1205
The issue was released with v5.13.0 🎉

[2020-08-27 19:19] JosefBredereck commented on #1019
The issue was released with v5.13.0 🎉

[2020-08-28 19:14] ringods opened #1251 "Request for input: make pattern engine loading explicit via the PL config"
This issue is to discuss the changes in loading pattern engines. It requires input from the core team: @bmuenzenmeyer @bradfrost @sghoweri @JosefBredereck and whoever I am forgetting.

In #1225 & #1246, I changed the way how resources from UIKits are loaded: via the NodeJS resolver (`require.resolve`). For this to work, it now requires the property `package`, with a fallback at the moment based on

[2020-08-29 20:12] JosefBredereck commented on #1251
I'm completely on your side on this topic. I would recommend defining by a package which engine should be loaded for engines, kits, plugins, and other stuff that we ever plan in the future. Only relying on the name could lead to unintentional errors, because of deep dependencies in other public packages.

Adding also my question from this ticket: https://github.com/pattern-lab/patternlab-node/issu

[2020-08-30 13:56] bmuenzenmeyer commented on #1251
I agree, everything should be explicit from the config!

On Sat, Aug 29, 2020, 3:12 PM Josef Bredreck <notifications@github.com>
wrote:

[2020-08-31 15:54] #872 closed

[2020-09-02 11:43] markconroy commented on #1020
I'm in pretty much the same boat as @mdrummond

If there's anything I can do to help this issue along, I'd be happy to try take a look and/or test things.

[2020-09-04 21:18] #1172 closed

[2020-09-05 15:26] gwhobbs commented on #1157
Same for me as well. macOS 10.15.6, node 12.18, and in Ubuntu Docker image with node 10.19.

The workaround mentioned above does not work for me.

[code]

[2020-09-07 17:13] joville opened #1257 "npm create pattern-lab with edition twig throws an error and hangs"
I am using Pattern Lab Node `v.5.13.1` on `Mac`, with Node `v14.9` (also in earlier node version vom v12 on), using the `Twig Edition`.

##### Expected Behavior

Clean install of the pattern-lab twig demo in any directory

##### Actual Behavior

Installation of the twig edition throws actually an error and hangs.

[code]

##### Steps to Reproduce

1) `npm create pattern-lab`
2) `? Please specify a

[2020-09-07 18:43] ringods commented on #1157
@gwhobbs your problem is something else. This is filed as #1257

[2020-09-07 19:43] ringods commented on #1247
@JosefBredereck @mfranzke @sghoweri due to the resolver changes I'm slowly integrating, bugs are reported (#1257) which expose exactly the scenario as described in this issue: `npm create pattern-lab` installs packages in the project folder from a child node process and immediately afterwards tries to resolve these from the parent node process.

This fails because the resolver loads from a tempora

[2020-09-07 19:45] ringods commented on #1257
@joville looking into the issue. Workaround you can use for the time being. Run this from within your new pattern-lab project folder:

[code]

[2020-09-12 13:24] JosefBredereck commented on #1247
It could modify the `package.json` and afterward with start an `npm install` in that directory. But I don't know if we could easily archive that.

[2020-09-20 06:35] mfranzke commented on #1184
This is still relevant.

[2020-09-20 06:36] mfranzke commented on #1191
This is still relevant.

[2020-09-20 06:36] mfranzke commented on #909
This might qualify for a pinned issue.

[2020-09-21 03:46] jerseycheese commented on #1257
Reporting in that I also experience this in Node v12.18.3, in Pattern Lab Node v.5.13.1 on Mac.

[2020-09-22 16:39] megclaypool commented on #1257
I'm also experiencing this using Node v10.21.0 and v12.18.2 on macOS 10.15.6

The workaround allowed me to install the node version of pattern lab. However, I'm running into further problems which may or may not be related:

I selected the PHP twig version and elected to install the sample patterns. However, when I `npm run build` and then `npm run serve` I get an empty lab with no visible pattern

[2020-09-23 22:01] jryanconklin opened #1259 "Update engine-twig-php to latest @basalt/twig-renderer"
I am using Pattern Lab Node `v5.13.1` on `Mac`, with Node `v12.18.0` `Custom` Edition.

##### Expected Behavior
* Twig Env uses 2 or better.

##### Actual Behavior
* Twig Env is 1.4.2 (basalt twig renderer needs update in package)

##### Steps to Reproduce
* Install latest `@pattern-lab/engine-twig-php`
* View Twig env version

[2020-10-05 12:42] ghost opened #1260 "Saving scss file copy it to public"
I am using Pattern Lab Node `v5.13.1` on `Windows`, with Node `v12.18.4`, using a `Vanilla` Edition. I installed it with Handlebars and Handlebars base patterns.

##### Expected Behavior
Whenever I save one of the included .scss files nothing should happen.

##### Actual Behavior
Whenever I save one of the included .scss files it gets copied to the public folder with the same folder structure.

##

[2020-10-06 23:46] Leftere commented on #1257
I'm on  node --version v12.18.3, on windows 10 and I get the same problem,

(Use `node --trace-warnings ...` to show where the warning was created)
(node:66426) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). To terminate the node

[2020-10-08 20:09] mfranzke commented on #1260
There seems to be an (regarding to my research) undocumented patternlab configuration entry, by which you could define filetypes that are potentially meant to get ignored (according to my interpretation of the internal variables name "assetsToIgnore").
The configuration entries key is `transformedAssetTypes`, like e.g. in your case:
[code]

@sghoweri / @JosefBredereck that's mainly my interpretati

[2020-10-10 15:13] mark-casias commented on #1257
I am getting the same issue, in a few different versions of node (nvm versions v14.0.0, v13.9.0, v10.22.1, v10.9.0)

[code]

[2020-10-10 15:14] mark-casias commented on #1257
I have even tried manually installing `@pattern-lab/edition-twig` and `@pattern-lab/engine-twig-php` to no avail

[2020-10-12 09:43] ghost commented on #1260
Thank you @mfranzke that did it for me.

[2020-10-12 09:43] #1260 closed, assigned to nobody

[2020-10-13 19:20] mfranzke opened #1261 "docs(configuration): entry for preventing filetypes from being copied"
Document the patternlab configuration entry by which you could define filetypes that are potentially meant to get ignored.
The configuration entries key is `transformedAssetTypes`, like e.g.:
[code]

_Originally posted by @mfranzke in https://github.com/pattern-lab/patternlab-node/issue_comments/705796174_

[2020-10-13 23:56] mark-casias commented on #1257
I recant my previous statements. I wonder if there was just a tubes glitch because I went back and tried it today with no error on v12.10.0 and v13.9.0 with the following

[code]

[2020-10-17 15:13] JosefBredereck commented on #1260
@mfranzke, as it seems to work, it would be great to have documentation for that.

[2020-10-17 18:13] mfranzke commented on #1260
Sure, I‘ll take care if that with #1261

[2020-10-18 15:40] JosefBredereck opened #1262 "Add documentation to pattern group and subgroup"
In the code, the snipped at the end could be found. This behavior is not working as expected and will lead to issues following in our implementation. The intention was to document pattern groups and subgroups. We have no way to show this documentation, and also the group or subgroup will not be rendered when higher order documentation is available.

We will need a new approach to this special case

[2020-10-23 08:21] ghost commented on #1260
A similar question so I ask it here. Is it possible to ignore specific folders also?

[2020-10-23 15:43] chazchumley commented on #1230
I cannot even get engine-twig to compile twig files.
I get registerPartial errors.

[11:19:10] Starting 'buildPatternlab'...
registerPartial(07-pages-page - pages-page - undefined - 07-pages/page.twig)
registerPartial(06-templates-page - templates-page - undefined - 06-templates/page.twig)
registerPartial(02-global-colors-colors - global-colors - undefined - 02-global/colors/colors.twig)
registerP

[2020-10-25 11:55] mfranzke commented on #1260
@raxion, to my impression this setting is mainly meant to exclude specific filetypes from being copied, compare to the code https://github.com/pattern-lab/patternlab-node/blob/dev/packages/core/src/lib/watchAssets.js#L32 and than from line 40.

[2020-10-26 15:57] ghost commented on #1260
I understand. I also realized that I can have another folder on the same level as js and css for other file types (scss and ts) that I don't want to be watched by Patternlab so that works for me.

[2020-10-29 02:20] jeffwhitfield commented on #1114
Happening for me too. Just randomly happens without any rhyme or reason...even after just a simple edit to an HBS file. Very annoying since it constantly interrupts my workflow. :(

[code]

Running on Node 14.12.0 with the following Pattern Lab dependencies:

[code]

Being that it happens on other versions of Node makes it rather unlikely it's just a simple Node issue. :P

[2020-10-31 16:08] #1261 closed, assigned to nobody

[2020-11-07 05:06] prd409 opened #1265 "Installation is hanging at ⊙ patternlab → Installing edition: @pattern-lab/edition-node"
I am using Pattern Lab Node `node:50418` on `macOS 10.15.7, with Node 14.5.0`

##### Expected Behavior
Install @pattern-lab/edition-node

##### Actual Behavior
Installation is hanging at ⊙ patternlab → Installing edition: @pattern-lab/edition-node

##### Steps to Reproduce
mkdir patternlab
cd patternlab
npm create pattern-lab
? Please specify a directory for your Pattern Lab project. ./
? What tem

[2020-11-07 05:19] prd409 commented on #1265
Just saw this is same issue as #1257. Tried the work-around listed there. That got me up and running so closing this dupe issue. Keep up the good work, guys!

[2020-11-07 05:19] #1265 closed, assigned to nobody

[2020-11-18 10:22] perriard opened #1267 "Pseudo patterns data not used"
Hi

I have an unexpected behaviour using pseudo patterns, where the data from data.json is not overwritten except if the data is removed from data.json and added to the main patterns jon file. Is this the way it's supposed to work?

I am using Pattern Lab Node v6.14.6 on Mac, with Node v12.18.3, with Twig template engine.

##### Expected Behavior
Pattern: "organism.twig" gets data array from root

[2020-11-18 21:50] mariohernandez commented on #1020
Throwing in my hat in here as well.  The Data Transform Plugin would be a great addition to node-based Pattern Lab.

[2020-11-19 02:51] vanpipy opened #1268 "[Need Document] Engine React usage"
I am using Pattern Lab Node `v5.13.2` on `Windows - WSL on Ubuntu`, with Node `v12.19.0`, using a `Vanilla | Custom` Edition.

##### Expected Behavior
Switch to engine react.

##### Actual Behavior
Cannot do that

##### Steps to Reproduce
mkdir pattern-lab && cd pattern-lab
npm init
npm i create-pattern-lab
npm create pattern-lab

Is there a plan for the engine react? Because the latest changes ha

[2020-11-26 13:47] zvitek opened #1269 "[QUESTION] Setting and customization PatternLab"
Hello,
I'm a new in PatternLab and I would like to ask for some questions because it's not possible to find it in documentation.

I would like to know if it's possible:
1) Hide HBS tab in example. Just display render of HTML
2) Display source code of element in sub section. Now it's only on "view all" page
3) Change localization of PL or make translation
4) Change logo or all design of PL

Thank y

[2020-11-29 14:08] aleksip commented on #1020
Adding the required support for plugins could prove to be a lot of work. Full PHP support would probably also require changes to both `engine-twig-php` and the "third-party" `basalt/twig-renderer`.

An alternative that has come to mind is to add (most of) Data Transform Plugin's features directly into core!

Of all DTP's features

- Pattern-specific data file support for included patterns
- Includ

[2020-12-02 15:15] sdlambert commented on #1114
`Assertion failed: (0), function uv_close, file ../deps/uv/src/unix/core.c, line 174.`

I am getting this error on Node v 12.16.3 with the latest Pattern Lab, as well. The issue persists even when rolling back to 5.13.1 as suggested above. This is on a fresh install.

[2020-12-04 23:01] lhridley commented on #1257
Oooh, waiting on the above MR (#1266 ) to get merged....working on some internal workflows that would be much easier if the "npm create" process could run successfully to completion. :)

[2020-12-10 10:32] perriard opened #1270 "patternMergeVariantArrays: false - not working"
I have "patternMergeVariantArrays": false in my config, and yet it still merges my array.

I am using Pattern Lab Node v6.14.6 on Mac, with Node v12.18.3, with Twig template engine.

data.json has 4 items in the breadcrumb
sub-page.json has 2 items in the breadcrumb
article-page.json does not have a breadcrumb array

##### Expected Behavior
sub-page.html has 2 items in the breadcrumb
article-page.

[2020-12-17 18:07] #1157 closed

[2020-12-17 18:07] #1247 closed, assigned to nobody

[2020-12-17 18:07] #1257 closed, assigned to ringods

[2020-12-28 18:03] pcate-fls commented on #1259
I'd love to see @basalt/twig-renderer updated as well. I'm using Patternlab with Drupal, and Drupal 9 uses Twig 2.

[2020-12-30 02:24] patrickcate commented on #1230
I’d love to see some docs on adding custom twing filters and functions in pattern lab as well. I’m in the same boat as @JEltgroth

[2021-01-05 13:49] #1182 closed

[2021-01-05 13:49] #1183 closed

[2021-01-05 13:49] #1209 closed, assigned to JosefBredereck

[2021-01-06 08:18] #1028 closed

[2021-01-06 08:18] #1176 closed

[2021-01-07 16:32] jimrome opened #1271 "Install fails on OpenSUSE LEAP 15,2"
My install failed today. First I installed npm:
`zypper install npm
Loading repository data...
Reading installed packages...
'npm' not found in package names. Trying capabilities.
Resolving package dependencies...

The following 4 NEW packages are going to be installed:
  nodejs8 nodejs8-devel nodejs-common npm8

The following 2 recommended packages were automatically selected:
  nodejs8-devel npm

[2021-01-07 20:51] JosefBredereck commented on #1271
Could you try to use a newer version of nodejs than nodejs8?

[2021-01-07 22:07] jimrome commented on #1271
Yes, npm14 and node js 14 worked. Thanks.
You might specify needed versions.

[2021-01-07 22:07] #1271 closed, assigned to nobody

[2021-01-07 23:03] mfranzke commented on #1271
@jimrome I would suggest to use either exactly or at least version 12.12.0, as specified within https://github.com/pattern-lab/patternlab-node/blob/dev/.nvmrc

[2021-01-11 09:41] JosefBredereck commented on #1269
That functionality is currently not included

This feature you can find on the left-hand side of the menu or with the setting icon.

horizontal menu layout
![grafik](https://user-images.githubusercontent.com/13408112/104165100-353bb680-53f9-11eb-88bd-674d045d4886.png)
vertical menu layout
![grafik](https://user-images.githubusercontent.com/13408112/104165172-4dabd100-53f9-11eb-9049-667f69e50319.pn

[2021-01-11 10:33] #755 closed

[2021-01-11 10:39] #887 closed

[2021-01-11 12:05] JosefBredereck commented on #1114
@jeffwhitfield  @sdlambert, can one of you tell me what exactly you did and which operating system you use?

I tested this with a fresh installation and added, deleted, and even renamed empty patterns or any other pattern.
Are you using npm or yarn?

[2021-01-11 12:13] JosefBredereck commented on #916
No answer since June last year. Seams to be resolved.

[2021-01-11 12:13] #916 closed

[2021-01-11 12:54] JosefBredereck commented on #1023
As far as I can see, the pattern lab instance itself and the pattern are passed to the plugin hooks via events. I tested altering pattern data and also the pattern lab instance via the plugin tab. This worked well.

Depending on what should be done via the plugin, I assume that the events [PATTERNLAB_PATTERN_BEFORE_DATA_MERGE](https://github.com/pattern-lab/patternlab-node/blob/a5a12654ec3795c0c50

[2021-01-11 22:20] jeffwhitfield commented on #1114
@joekarasek I'm currently on macOS Big Sur v11.1 using Node v12.2. Here's what's in my `package.json` file if that helps any:

[code]

[2021-01-12 19:01] JosefBredereck commented on #1177
What exactly are style modifiers? I know the pattern parameters but forgot the other since the docs are not available anymore.

[2021-01-12 19:39] mfranzke commented on #1177
Here‘s their previous specs content:
https://web.archive.org/web/20180710175641/http://patternlab.io/docs/pattern-stylemodifier.html

I‘ll try to find more details/issue regarding their deprecation.

[2021-01-13 09:13] perriard opened #1280 "Pattern state defaults to "complete""
Hi,

It's just a small thing, but I might as well report it :-)

When creating a new pattern without an appertaining .md file, the pattern state is shown as "complete" (green dot) - the same happens with an incomplete .md file.

I am using Pattern Lab Node v6.14.6 on Mac, with Node v12.18.3, with Twig template engine.

**Expected Behavior**
Blue dot, or no dot as pattern state

**Actual Behavior**

[2021-01-13 15:00] bmuenzenmeyer commented on #1177
We wanted to deprecate them because it was another place where PL created a proprietary mustache extension that locked pattern content into PL but not the broader community. You couldn't migrate your PL patterns into 11ty or some such thing that understood mustache.

This desire to get back to vanilla support for template languages drove a lot of decisions.

[2021-01-13 16:47] JosefBredereck commented on #1280
By default the pattern state is set as
[code]

Therefore it should already be a blue dot when the state is `!= complete`.
Could you check your code for `.pl-c-pattern-state` mostly old starter kits had set those by themself, which appeared to be located at `source/patterns/css/pattern-scaffolding.css`.

[2021-01-14 11:10] perriard commented on #1280
Thanks for your reply! - I updated my packages, and that fixed the problem. :-)

[2021-01-14 11:10] #1280 closed, assigned to nobody

[2021-01-19 21:02] JosefBredereck opened #1282 "Ordering is not perfect yet"
From @coreylafferty on Gitter

If an ordered folder has a subfolder, it seems to break the MD ordering in odd ways. For example, if you put 'order: -1' in an MD file for a folder whose siblings have no defined order, it moves it to the top of the list as expected. However, if that folder has a subfolder, it reverts to alphabetical order and is no longer at the top. The only way I found to fix this

[2021-01-19 21:03] JosefBredereck commented on #1282
Another comment from Gitter:
`a sidenote; the order in the .md file does not work, if there's no title: in the file.`

[2021-01-20 09:38] perriard commented on #1282
I've done a bit of testing too.

**Desired outcome:**
Atoms
Molecules
Organisms
Templates
Pages
Subsites

**To get this to work, my .md files are numbered as follow;**
_atoms.md -1
_molecules.md -1
_organisms.md -1
_templates.md -1
_pages.md 0
_subsites.md 1

**If I order them from 0 to 5 the result is;**
Atoms
Subsites
Molecules
Organisms
Templates
Pages

**And from 1 to 6;**
Subsites
Atoms
Molec

[2021-01-20 15:58] JosefBredereck commented on #1282
I will have time to handle these issues on the weekend at the earliest.

@perriard the issue that patterns not getting sorted without the title attribute in the .md file I cannot reproduce. It works as expected.

These tests are good to implement for our automated testing.

[2021-01-25 20:45] mfranzke commented on #1269
@zvitek if the main aspect regarding your first aspect (_Hide HBS tab in example. Just display render of HTML_) to not have the hbs content displayed prominently in the first place, you could use the following configuration option within patternlab-config.json file, as [described within the documentation](https://patternlab.io/docs/editing-the-configuration-options/#heading-defaultpatterninfopanel

[2021-02-03 17:52] JosefBredereck opened #1284 "Pseudo pattern hidden frontmatter value not overridable"
I use Pattern Lab Node `v5.14.0` on `Windows`, with Node `v14.8.0`, using a `Vanilla` Edition.

We got a message on Gitter about the frontmatter pattern `hidden`.
When pseudo patterns inherit the hidden value, you cannot override this behavior for the pseudo pattern.

##### Expected Behavior

A pseudo pattern with frontmatter `hidden: false` should be visible even if its ancestor pattern is hidden

[2021-02-03 18:00] #1259 closed, assigned to nobody

[2021-02-04 22:56] chazchumley opened #1286 "TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
Simply changing from 5.13.3 to 5.14.0 for pattern lab core produces a TypeError.
Also ERROR: missing an essential file from /node_modules/@pattern-lab/uikit-workshop[object Object]. Pattern Lab won't work without this file.

[2021-02-05 11:58] JosefBredereck commented on #1286
Please have a look at https://github.com/pattern-lab/patternlab-node/releases/tag/v5.14.0

[2021-02-05 13:44] chazchumley commented on #1286
@JosefBredereck thank you, that did the trick.

[2021-02-05 13:44] #1286 closed, assigned to nobody

[2021-02-06 08:04] mfranzke opened #1288 "Demo page: HTTPS mixed content warnings and errors in browsers"
I am visiting the demo site https://patternlab-handlebars-preview.netlify.app/?p=all using browsers like Opera or Safari.

##### Expected Behavior
The page would display without any browser warnings to the user.

##### Actual Behavior
Browsers display (partly annoying) warnings about mixed content on the website.

e.g. Safari console:

e.g. Opera displays a warning sign in the address bar saying t

[2021-02-08 16:43] jeffwhitfield commented on #1114
Yeah, it's virtually unusable now due to all the `uv_close` crashes. There's a mention of this error here:

https://github.com/webpack/webpack/issues/10037

Might be due to issues with Webpack. As it stands though, I'll likely need to just stop using Pattern Lab till it's fixed. :(

[2021-02-19 14:18] BenSheridanEdwards opened #1290 "Can't deeply nest patterns"
I am using Pattern Lab core v5.13.1 on Mac, with Node v12.12.0, using a Grunt Edition.

As me and my team are building out pseudo pattern variations in PatternLab, I'm looking into how we can more deeply nest our patterns.

Looking at the documentation I saw two ways of doing this:

1. Adding `allPatternsAreDeeplyNested": true` to our patternlab-config.json. Then creating a new folder and putting

[2021-02-19 15:33] JosefBredereck commented on #1290
Hello, thanks for your question.

What do you expect the menu to look like?
We only have two levels of depth.
-> atoms
--> Buttons
----> ButtonComponent1
----> ButtonComponent2
----> ButtonComponent3

Suppose you go to the documentation and read [deeper-nesting](https://patternlab.io/docs/overview-of-patterns/#heading-deeper-nesting) carefully again. It says it's to structure your patterns a bit m

[2021-02-19 15:39] #1288 closed, assigned to nobody

[2021-02-19 15:40] #1164 closed

[2021-02-19 15:42] #1122 closed

[2021-02-19 15:52] #1267 closed, assigned to nobody

[2021-02-19 15:52] #1270 closed, assigned to nobody

[2021-02-19 16:01] #1282 closed, assigned to nobody

[2021-02-19 16:01] #1284 closed, assigned to nobody

[2021-02-20 08:53] StfBauer opened #1291 "Configure Web Server to run on HTTPS"
I am using Pattern Lab Node `v5.14.0` on `Mac`, with Node `v13.14.0`, using a `Gulp`.

##### Expected Behavior
I want to run `pl:server` over HTTPS but cannot find any documentation how I can configure it. The reason for this is I use the CSS styles outputted by the style guide directly as a CSS library for other components.

Those will then run always on an HTTPS we server. For faster development

[2021-02-20 10:47] mfranzke commented on #1291
The current documentation doesn't mention anything about this actually (which probably proves some necessary rework), but the documentation of [live-server](https://github.com/pattern-lab/live-server), the underlying server used by patternlab, includes some information on HTTPS: https://github.com/pattern-lab/live-server#https

[2021-02-22 10:47] BenSheridanEdwards commented on #1290
@JosefBredereck so can I influence the UI at all for this or is that not yet possible? Apologies for my misunderstanding.

[2021-02-22 15:37] JosefBredereck commented on #1290
Yes, It is not possible yet.

[2021-03-01 18:55] coreylafferty opened #1294 "v5.14.1 throws errors if pattern Twig file isn't in a subfolder"
I am using Pattern Lab Node `v5.14.1` on `Linux`, with Node `v12.19.0`, using a `edition-twig` Edition with the `starterkit-twig-demo` starter kit.

##### Expected Behavior
Patterns can live in subfolders (e.g, `_patterns/pages/article/article.twig`) and root folders (e.g., `_patterns/pages/article.twig`) without errors.

##### Actual Behavior
If a Twig pattern file is in one of the root folders (

[2021-03-05 15:37] JosefBredereck commented on #1294
@coreylafferty, can you show me which dependencies you have in your package.json?

What I tried to reproduce.
[code]
[code]

Did I do something wrong?

[2021-03-05 15:42] JosefBredereck commented on #1294
And can you provide a screenshot of the file structure of your pages folder?

[2021-03-05 17:16] coreylafferty commented on #1294
Yes, that's right.  Just install and run it with the PHP/Twig options.  Not changing any files.

[code]

I had someone else run the same test under some different conditions to confirm it's not something about my system.  Here's the details of their setup and the output they saw (their version of Node is a bit old, but I saw the same thing on a newer version).

Note that the build does seem to fin

[2021-03-05 17:21] JosefBredereck commented on #1294
You are using Linux or Mac, is that correct?

[2021-03-09 22:21] StfBauer commented on #1294
Get the same issue from time to time in Handlebars too.

[2021-03-10 16:01] StfBauer commented on #1114
Happens from time to time in my setup as well:

[code]

Tested NodeJS versions: 12, 14
NodeJS 13 is the only one that seems to work properly.

* **NodeJS ATM:** v12.21.0
* **NPM version:** 6.14.11

[2021-03-14 15:16] mfranzke commented on #1114
I'm sadly only able to reproduce this issue sporadically, but will provide updates to packages of the main possible causes (chokidar and webpack) with some merge requests.

[2021-03-14 22:07] StfBauer commented on #1114
@mfranzke What I recognized is that it happens when having an issue in the handlebars file in my case and save it. At least what I have recognized it.

[2021-03-26 19:02] #1294 closed, assigned to nobody

[2021-03-28 13:58] #1290 closed, assigned to nobody

[2021-03-30 20:35] mejiaj opened #1308 "Component variants display as YML"
Hello, we're looking to use patternlab with the US Web Design System. When running `npm run pl:build` and serving that via browser-sync we're seeing variants displayed as YML instead of the actual component variant. You can see it in action on our [alert component](https://federalist-3b6ba08e-0df4-44c9-ac73-6fc193b0e19c.app.cloud.gov/preview/uswds/uswds/jm-library--develop-no-patch/?p=viewall-comp

[2021-04-02 15:15] andriokha opened #1309 "Don't trigger deep pattern warning on non-pattern files"
I am using Pattern Lab Node `v5.13.2` on `Linux`, with Node `v14.16.0`, using a `Custom` Edition.

##### Expected Behavior

This is regarding the warning that's emitted if you go beyond 3 levels deep when [deeper nesting](https://patternlab.io/docs/overview-of-patterns/#heading-deeper-nesting)'s enabled.

We *don't* have any patterns deeper than 3 levels, but we do store images in a subdirectory.

[2021-04-07 11:50] jesconstantine commented on #1230
I'm also interested in using custom twig filters and functions in PL Node.  Has anyone been able to do this successfully?

[2021-04-12 07:03] ray87 opened #1310 "Patternlab engine-twig watcher doesn't build correctly"
I am using Pattern Lab Node `v5.14.2` on Windows / Mac / Dockerized, tested with Node `v12.22, v14.x, v15.x`, using a `Gulp or Vanilla` Edition.

##### Expected Behavior
After changing pattern, the watcher should build all components and create new rendered versions for UI. The process doesn't throw any errors or warning, everything seems to run as it should and refreshes the browser. The UI then

[2021-04-13 08:31] mfranzke commented on #1308
@mejiaj first of all welcome to the platform, great decision !

The fix [suggested by AdrianRichardson](https://gitter.im/pattern-lab/node?at=600c7cb597132e2480fcafe5) looks very promising to me at least, I've opened a change request for others to review that solution.

[2021-04-13 17:15] mfranzke commented on #1269
@zvitek plus you could change the logo through the configuration options: https://patternlab.io/docs/editing-the-configuration-options/#heading-theme

[2021-04-15 06:49] SaroGFX commented on #1310
I experience a similar issue with watchers

[2021-04-17 08:50] andriokha opened #1315 "Error parsing pseudo-pattern emits only a warning"
I am using Pattern Lab Node `v5.13.2` on `Linux`, with Node `v14.16.0`, using a `Custom` Edition.

##### Expected Behavior

For reasons (#1309) I currently have the log level set to show errors only. I accidentally introduced some invalid yaml to a pseudo-pattern, which I'd expect to cause an error to be issued.

##### Actual Behavior

Nothing is output when the log level's set to `error`.
https:/

[2021-04-17 10:10] mfranzke commented on #1315
Thanks again for providing your feedback with a great summary and helpful additional insights.

I think that we should align the different warnings and errors in the system regarding their levels, and will provide a merge request for that.

[2021-04-17 16:59] JosefBredereck opened #1316 "Is Pattern Lab dead?"
Hello, fellow community,

I'm now struggling with this question for quite some time. But was afraid to ask.
We still have a quite active community when I go by the messages that we get on Gitter, BUT I have a bad feeling that the maintaining developers are not present anymore. Thanks to @mfranzke, some help is still available and recent also some improvements to our codebase.

The problems I exper

[2021-04-17 20:07] mfranzke commented on #1316
that‘s an important topic, thanks for bringing it up. And thanks a lot to you as well for your great work!

Quick answer to your main question: no, it‘s hopefully not dead, especially as there‘s no alternative, and we have a great and stable solution. Of course there are problems and you‘re naming some of the relevant ones.
I‘m working in this industry for more then 20 years now and have even part

[2021-04-17 20:35] #1309 closed, assigned to nobody

[2021-04-17 20:38] #1308 closed, assigned to nobody

[2021-04-19 23:52] bradjones1 commented on #967
Not stale.

[2021-05-17 01:04] roman-sitewits commented on #967
Still relevant!!!

Also here is the yarn bug:
[https://github.com/yarnpkg/yarn/issues/5480](https://github.com/yarnpkg/yarn/issues/5480)

[2021-05-17 16:45] #1315 closed, assigned to nobody

[2021-05-18 12:32] hadl commented on #1310
I am using the engine-twig-php and for me this happens too occasionally.

Think in this case it has something to do with `@basalt/twig-renderer`, but i am not 100% sure.
Thats why i am posting here.

Once there was an error message with cannot connect to server....

A few minutes ago it was "failing silently", everything looked good no errors etc. but the pattern did not get updated.
I checked `ls

[2021-05-23 13:58] lhridley opened #1325 "Patternlab Create: Mistake in README.md"
I am using Pattern Lab Node `v5.4.3` on `Linux`, with Node `v14.15.4`, using a `Twig (PHP)` Edition.

##### Expected Behavior
Executing commands documented in README.md for `create-pattern-lab` would result in a successful installation
##### Actual Behavior
Second command `pattern-lab init` results in error message `pattern-lab: command not found`
##### Steps to Reproduce
(1) execute `npm i -g @pa

[2021-05-24 10:59] mfranzke opened #1328 "refactor: further optimization suggestions by webhint & lighthouse"
I am using the Pattern Lab Node website and Pattern Lab documentation website hosted on https://patternlab-handlebars-preview.netlify.app/ (PL frame as well as `styleguide.html`) and https://patternlab.io/

On top of the most of the [previously even already included accessibility reportings](https://github.com/pattern-lab/patternlab-node/pull/1321) by webhint, there are still some optimization pos

[2021-05-28 15:36] Recko91 opened #1330 "Hello, I'm using the twig version, I can't add my .js"
I am using Pattern Lab Node on `Windows`, with Node `v14.17.0`, using a `Twig` edition.

##### Expected behaviour
I'm looking to integrate my javascript file "moteur.js", so I can actually use it on my forms input.

##### Actual behaviour
When I fill in the "/source/_meta/_foot.twig" file with "<script src="../../public/js/moteur.js"> </script>"
I get this error message in the console
"Uncaught Sy

[2021-05-28 18:07] mfranzke commented on #1330
@Recko91, is there a chance to have a look at your codebase, e.g. is it on github? Elsewhere it would be hard to give you support on this topic.

[2021-05-29 08:51] Recko91 commented on #1330
Hi, thanks for your answer.
Here is the github of the project:

[https://github.com/Recko91/patternlabatom](url)

[2021-05-29 12:33] mfranzke commented on #1330
@Recko91 this is mainly about the reference URL - you don't need to include the public folder there, as the files are even already being served from that one. I've created a merge request within your repo and tested it out via https://www.gitpod.io/#https://github.com/Recko91/patternlabatom/

[2021-05-29 22:46] #1330 closed, assigned to nobody

[2021-05-30 22:45] Recko91 commented on #1330
Thank you for your quick and valuable help!

[2021-05-31 17:43] #1316 closed, assigned to nobody

[2021-06-09 18:41] #1325 closed, assigned to nobody

[2021-06-17 10:50] Recko91 opened #1332 "Problem npm install on MAC osx M1"
I am using Pattern Lab on `Mac` M1, with Node `v16.3.0`, using a `Twig` Edition.

I am trying to run a patternlab on a Mac osx 2020. When I want to do an npm install, this error occurs

[2021-06-17T10_07_06_298Z-debug.log](https://github.com/pattern-lab/patternlab-node/files/6669518/2021-06-17T10_07_06_298Z-debug.log)

Need help

[2021-06-17 14:22] mfranzke commented on #1332
@Recko91 this looks to me like a problem with Node16 (probably especially as we're still on [node-sass](https://npmjs.com/node-sass) 5, which doesn't seem to support Node 16 already).

Do you have the chance to test Node 15 on your environment as well (probably e.g. via [NVM](https://github.com/nvm-sh/nvm))?

Nevertheless we should be able to provide an update to [node-sass](https://npmjs.com/node

[2021-06-17 15:03] Recko91 commented on #1332
With node 15 it works thank you for your feedback !

[2021-06-21 12:00] SaroGFX opened #1336 "Change title of patterns / components"
The titles of the patterns are automatically pulled from the file name and the directory name. You can change the individual components through a title declaration in the .md files. But this does not work for the directory name.

Is it possible to change the way how patternlab displays directory names? E.g. _message-box would be `Message Box` instead of `_Message-box`.

Thanks

[2021-06-21 16:19] JosefBredereck commented on #1336
Hello @SaroGFX, if you need that function for ordering your directories, please have a look at [Re-ordering pattern groups and subgroups](https://patternlab.io/docs/reorganizing-patterns/#heading-re-ordering-pattern-groups-and-subgroups)

Currently, it is not possible to change the Title of groups directly

[2021-06-21 16:24] mfranzke commented on #1336
@SaroGFX What I'm wondering about: If you create a pattern like e.g. `/source/_patterns/organisms/message-box/message-box.hbs`, its title would even already get displayed as you mentioned: `Message Box`
![image](https://user-images.githubusercontent.com/787658/122795562-be66eb80-d2bd-11eb-9479-1d7cc32025a8.png)

Or do you mean the displayed title at some other place where we haven't thought about

[2021-06-21 16:41] #1332 closed, assigned to nobody

[2021-06-21 17:43] #1262 closed, assigned to nobody

[2021-06-21 18:10] coreylafferty commented on #1336
If I'm understanding what @SaroGFX is asking for, I think it'd be a great addition.  Especially once numbered ordering for subgroups/folders (currently deprecated) is completely removed.

Assuming his folder structure is something like this:
[code]

I think the underscore before the MD file in his example is to apply to the Subgroup (folder) Message Box, as opposed to the message-box.twig file ins

[2021-06-22 07:22] SaroGFX commented on #1336
@mfranzke It doesn't seem to behave that way in my Patternlab. I have the following folder structure:

![Screenshot 2021-06-22 at 09 21 24](https://user-images.githubusercontent.com/3781800/122881234-38898580-d33b-11eb-8633-c05bb6751280.png)

Which displays like this

![Screenshot 2021-06-22 at 09 21 51](https://user-images.githubusercontent.com/3781800/122881321-548d2700-d33b-11eb-9f91-b5d7ffb124

[2021-06-22 11:27] mfranzke commented on #1336
@SaroGFX, okay, thanks for your feedback. I recognized that you're using the twig edition, whereas I've tested on the node edition, maybe that's the difference in our setups.

[2021-06-23 17:37] mfranzke commented on #1336
@SaroGFX I've tried to reproduce the topic on the following setup, installing a clean version via `npm create pattern-lab`:

- Pattern Lab Twig templating language
- Twig (PHP) demo patterns installed
- Mac
- node v15.14.0

(most likely the three last ones don't necessarily matter)

When setting up a new pattern like this (`/source/_patterns/molecules/message-boxes/message-box.md`; in this case as

[2021-06-24 22:32] sergeylukin commented on #1268
I'm too interested in knowing what's the status of React engine. [README](https://github.com/pattern-lab/patternlab-node/blob/master/packages/engine-react/README.md) contains following sentence: "This is the very preliminary React PatternEngine for Patternlab / Node." and it was updated 3 years ago.

[2021-06-28 16:09] mfranzke opened #1337 "GitHub Code Scanning / CodeQL on some regular expression code"
I am using Pattern Lab Node `v5.14.3` on `Mac`, with Node `v12.12`, using a `Vanilla` Edition.

##### Expected Behavior

The build runs through without a feedback by CodeQL.

##### Actual Behavior

The build runs through without a feedback by CodeQL.

##### Steps to Reproduce

CodeQL reports a problem with the following regular expression:
https://github.com/pattern-lab/patternlab-node/blob/2b2e1b

[2021-07-03 23:03] markatli commented on #1268
Same here

[2021-07-14 11:19] StfBauer opened #1338 "Problem after upgrade to 5.15"
I am using Pattern Lab Node `v5.15.0` on `Mac`, with Node `vX.X.X`, using a `Handlebars` Edition.

##### Actual Behavior

<img width="678" alt="image" src="https://user-images.githubusercontent.com/5503835/125613420-0467e06b-184e-48e9-bfb9-10cf041c0b73.png">

[code]

##### Steps to Reproduce
Upgraded to the latest version.

[2021-07-14 11:41] StfBauer commented on #1338
My bad was a troubeling reference.

[2021-07-14 11:41] #1338 closed, assigned to nobody

[2021-07-19 13:13] renestalder opened #1339 "transformedAssetTypes is ignored"
I am using Pattern Lab Node `v5.15.0` on `Linux`, with Node `v16`, using a `Twig` Edition.

##### Expected Behavior

When using a preprocessor like PostCSS to process CSS files, you want to deactivate the copy task for CSS. To do this, based on the manual, I would set following property in my pattern lab configuration:

[code]

Now building pattern lab, the public css folder set in `paths.public.c

[2021-07-19 13:15] renestalder commented on #1339
Is it possible it is only applied in the `watch` mode and not when building? The only reference for `transformedAssetTypes` I find in the code is in `watchAssets.js`.

https://github.com/pattern-lab/patternlab-node/blob/639801addbc95648bbb6b992944f332a5a0f4d2c/packages/core/src/lib/watchAssets.js

[2021-07-20 13:49] mfranzke commented on #1339
@renestalder thanks for reporting this topic. It even also seems to me that `transformedAssetTypes` is only being taken into account on `watch`ing the files, but not during `build`.

@JosefBredereck could you think of any valid reason for that? I would expect that the `transformedAssetTypes` is both necessary during watch as well as build, or am I missing something here (is the output of files pro

[2021-07-22 16:42] JosefBredereck commented on #1339
Phew, I don't know if this is the correct option. We have some old documentation here in the pattern lab wiki which does not match the [patternlab.io](https://patternlab.io/) website.

In my opinion, the functionality should do the same in watch and build mode, so that you don't have different results.

[2021-07-22 16:52] JosefBredereck commented on #1339
Somewhere in the `copier.js` at `transform_paths`, we could add functionality to ignore specific paths, or in `copyFile.js`, we could add the option to ignore with `transformedAssetTypes`. I currently do not know If `recursive-copy` supports ignoring files or if we have to build something new here.

[2021-07-23 13:49] epsilon-skolanthasamy opened #1340 "Could not watch changes on Patterns"
I am using Pattern Lab Node `v5.15.0` on `Windows`, with Node `v14.16.0`, using a `Gulp` Edition.

##### Expected Behavior
I should be able to watch for the mustache file changes

##### Actual Behavior
Since I have upgraded, the below path is not there anymore.
`var engines = require('./node_modules/patternlab-node/core/lib/pattern_engines');
  return engines.getSupportedFileExtensions();`

[2021-07-24 12:44] mfranzke commented on #1340
@epsilon-skolanthasamy, thanks a lot for your feedback. Sadly the problem you're reporting is not totally clear to me, so do you have the source code within a publicly available or in a public repository, or at least are you able to provide the relevant parts like e.g. the package.json contents for us to reproduce on your exact setup?

I've mainly recognized that you're referring to a file, which

[2021-07-26 08:13] epsilon-skolanthasamy commented on #1340
Thank you for the URL, i updated that and it is working fine now. I basically want to add utility function for watching changes pattern.

[2021-07-26 08:14] #1340 closed, assigned to nobody

[2021-07-28 15:22] SaroGFX commented on #1336
@mfranzke Thanks for looking into it. The repository that we're running PatternLab in is pretty big with a lot of things such as containers that I'm not super familiar with on how they work and what they do exactly, so I'm not sure what's relevant to share. But I also did a local clean install with the same settings and OS and when I changed the `molecules` folder to `components_molecules` and the

[2021-08-03 13:27] renestalder opened #1341 "Indentation of root level patterns in navigation confusing"
I am using Pattern Lab Node `v5.15.0` on `Linux`, with Node `v16.0.0`, using a `Vanilla/Twig` Edition.

The visual hierarchy of the menu items is off due to the used indentation.

### Expected Behavior

The patterns on the first level in the navigation should be in one line with the groups/folders of that level. The next level then should have the indentation.

![Screenshot from 2021-08-03 15-21-1

[2021-08-07 16:32] mfranzke commented on #1341
@renestalder thanks a lot for this important and well-documented issue.

Do you have the chance to even also analyze the problem further and provide a solution via a pull request?
The background of my question is that this project is mainly "backed" by the contributions from the community, be it feedback or even bugfixes and optimizations, and the project would highly benefit by spreading the work

[2021-08-07 23:58] AndyZH76 opened #1343 "'npm start' does not work after installation (node-handlebars): missing start script"
I am using Pattern Lab Node `v5.X.X` on `Mac`, with Node `v14.X`.

##### Expected Behavior
Install that is working with handlebars.

##### Actual Behavior
After installation only the twig-edition can be startet by npm start.
The node-edition (handlebars) cannot be startet by npm start (npm error: missing start script).

##### Steps to Reproduce
Try to install with handlebars and handlebars starter

[2021-08-08 06:50] AndyZH76 commented on #1343
Thx! 👍

[2021-08-08 06:50] #1343 closed, assigned to nobody

[2021-08-08 08:01] mfranzke commented on #1343
@AndyZH76 thanks to you for bringing up this topic.

[2021-08-20 15:22] renestalder opened #1346 "Documentation: Custom pattern states and CSS customization"
The [documentation for pattern states](https://patternlab.io/docs/using-pattern-states/#heading-adding-customized-states) says, it is possible to add the custom styles for newly added states to `./source/css/pattern-scaffolding.css`.

But is this actually true? Is the `pattern-scaffolding.css` able to overwrite styles in the Pattern Lab UIKit? I believe this is a mistake as to my knowledge, the `p

[2021-08-20 15:23] renestalder commented on #1341
I will take a look at this.

[2021-08-20 16:19] mfranzke commented on #1346
You‘re right, `./source/css/pattern-scaffolding.css` is loaded into the iframe and thatfor you‘re able to control the states (which are displayed as dots in there as well), but not within the left or top Patternlab menubar of the navigation.
I think we would need a similar possibility to easily tweak styles for that section / the UIKit as well. I think to remember some initiative on that, will hav

[2021-08-23 07:55] renestalder commented on #1346
Alright. Thanks for the confirmation.

[2021-08-24 07:41] renestalder opened #1347 "Issues when running with npm workspaces"
I am using Pattern Lab Node `v5.15.0` on `Linux`, with Node `v16.x.x`, using a `Twig` Edition.

When using npm workspaces and try to run patternlab from the root project of the monorepo, Pattern Lab has problems to either resolve files or dependencies.

If somebody has more knowledge about the underlying logic that resolves the files here and can point out why this might happen, I could probably p

[2021-08-28 16:11] mfranzke opened #1348 "Patternlab init doesn't work on Node 16"
I am using Pattern Lab Node `v5.15.0` on `Mac`, with Node `v16.8.0`, using a `Vanilla` Edition.

##### Expected Behavior
Running `npm create pattern-lab` initializes patternlab.

##### Actual Behavior
Running `npm create pattern-lab` initializes patternlab leads to a doesn’t finish (endless spinning blue dots), without any error messages or results on the console.

##### Steps to Reproduce
Run `np

[2021-08-28 19:18] mfranzke commented on #1336
@SaroGFX that folder might still be cached within the `dependencyGraph.json` file within the root of the patternlab installation, so after doing a „bigger“ change especially to the patterns structure like e.g. a folder renaming it might be beneficial to stop patternlab, remove that cache file and start patternlab again.
By doing the steps you've provided I could've reproduced the problem you've me

[2021-09-03 19:15] mfranzke commented on #1114
@StfBauer are you still experiencing this even after the latest updates, or could we close this ticket ?

[2021-09-04 16:27] mfranzke commented on #1347
@renestalder thanks a lot for your feedback.

I sadly don't have any experience with npm workspaces so far. It probably mainly matters on how step 2 of your list is being handled:

From my understanding by the description on the [npm documentations page for handling installations within workspace packages](https://docs.npmjs.com/cli/v7/using-npm/workspaces#adding-dependencies-to-a-workspace), thes

[2021-09-05 05:58] mfranzke commented on #1346
I sadly haven't found anything during a quick research – so we should probably suggest a mechanism of how to add stylesheets (or probably HTML tags to the `<head>` in general, maybe this is another good use case) to the outer frame.

[2021-09-15 05:07] mfranzke opened #1353 "Documentation: updating regarding template language"
##### Expected Behavior
The documentation still mentions a lot of files with the `.mustache` file ending, and the mustache template language as well.

##### Actual Behavior
As we've switched to handlebars templates as the successor of mustache, I would expect to only have `.hbs` instead of `.mustache` and other mentions of mustache as well.

[2021-09-16 15:32] #1348 closed, assigned to nobody

[2021-09-21 07:11] theLine commented on #967
I'm getting the same error on MacOS 11.6.
It seems that it doesn't matter whether I use yarn (1.22.11) or npm (6.14.13) with node v14.
The executable (`node_modules/.bin/patternlab`) still will get windows line-endings.

EDIT: I found a workaround. I've installed `dos2unix-cli` and added a `postinstall` hook in the `package.json`:
[code]

[2021-09-24 17:58] aparentMMS opened #1354 "Documentation issue: Including Patterns"
This file
https://github.com/pattern-lab/patternlab-node/blob/dev/packages/docs/src/docs/pattern-including.md
corresponds to:
https://patternlab.io/docs/including-patterns/

On that page the Gotcha section box a) displays cut off so you can't read the full explanation, but b) more importantly that explanation does not make sense. It refers to numbered versions but there are no numbered versions in

[2021-09-29 17:16] renestalder commented on #1347
@mfranzke Thanks for taking this on a run.

It indeed works the way you describe. Yet, once you remove `packages/patternlab/node_modules` and run `npm install` again from the root folder, then try to build again with `npm run build --workspaces`, you run in the same problem as described above.

I also tried the whole thing with pnpm, as pnpm is better in handling workspaces in general, but it runs

[2021-10-05 16:13] #1354 closed, assigned to nobody

[2021-10-05 18:53] #1291 closed, assigned to nobody

[2021-10-09 09:55] mfranzke commented on #1347
Thanks a lot for your further feedback, @renestalder. I've found out that the logic for resolving the path to engines directories has been implemented long before npm workspaces got introduced (actually with commit https://github.com/pattern-lab/patternlab-node/commit/416132c64a4c6bdffc4aafa91e6250f176abb020 in mid 2016), so we would need to refactor this implementation. I'll provide a PR.

[2021-10-14 11:18] mfranzke opened #1361 "Legacy floating clearfix solution prevents sticky positioning"
I am using Pattern Lab Node `v5.15.0` on `Mac`, with Node `v12.13.1`, using a `Vanilla` Edition.

##### Expected Behavior
Defining `position:sticky` on a component should correctly work on the pattern overview / view all page.

##### Actual Behavior
Defining `position:sticky` on components or UI parts doesn't work on the pattern overview / view all page.

The reason for this is an older clearfix o

[2021-10-16 14:36] #1361 closed, assigned to nobody

[2021-10-16 14:38] #1347 closed, assigned to nobody

[2021-10-25 14:14] renestalder opened #1366 "Hiding pattern sub groups ignored"
I am using Pattern Lab Node `v5.15.1` on `Linux`, with Node `v16`, using a `Twig` Edition.

##### Expected Behavior

If I add `components/buttons/_buttons.md` with the content:

[code]

That the "Buttons" group does not appear in the output of the documentation.

Relevant part of the patternlab documentation: https://patternlab.io/docs/hiding-patterns-in-the-navigation/#heading-hiding-pattern-sub-

[2021-10-25 14:18] renestalder commented on #1310
A behaviour I can reproduce is, that it actually works when I make a change to the JSON file specific to the twig file I updated. So, I'm often forced to quickly save the JSON file (even though I didn't make a change or only added a space), this way I can work around the issue.

(Interesting enough, the change to the json file alone builds match faster in watch mode, seems incremental, while a cha

[2021-10-27 19:37] mfranzke commented on #1366
Quick question in return (just curious about the scope of the problem): as you‘re mentioning twig here, have you even also already tried out the handlebars edition and it works correctly in that one?

[2021-10-27 20:13] renestalder commented on #1366
@mfranzke I have quickly set up a project with handlebars and the demo project, added a `_forms.md` to the atoms folder with the hidden attribute set, and unless I did something wrong, it also seems to fail in a handlebars project. The forms menu with it's sub components still appears in the UI.

[2021-10-27 20:18] mfranzke commented on #1366
@renestalder okay, thanks a lot for testing this out as well.

[2021-10-28 14:34] renestalder commented on #1366
Also clarification: It clearly works on the first level e.g. `_patterns/_atoms/_atoms.md`. Just not for any subgroups after that.

[2021-11-03 18:14] JosefBredereck commented on #1366
Thanks for the analysis and the very well-written issue.
I created a PR for this topic; sorry for the inconvenience. 🍺

[2021-11-03 18:23] #1366 closed, assigned to nobody

[2021-11-12 00:25] ultraloveninja opened #1369 "patternlab-config not picking up on helpers.js file"
I am using Pattern Lab Node `v5.15.2` on `Mac`, with Node `v17.0.1`, using the handlebars Edition.

I'm migrating an older project that was using some custom helpers for class names.

For example in a `radio.hbs` file:

[code]
I was reading through the docs and I had put the helper js file in the `helpers` folder and named it `helpers.js`.

In the config, I updated this to point to the helper file

[2021-11-13 08:12] mfranzke commented on #1369
I've most likely found the solution:
Removing the `register` method at the first line of your helper file (or in other words, replacing `module.exports.register = function(Handlebars, options, params) {` by `module.exports = function(Handlebars, options, params) {`) let's the error message disappear, which is even also the adaption of the syntax in the example `helpers/test.js` file.

Regarding th

[2021-11-13 08:31] mfranzke commented on #1346
@renestalder I've release a fork of the https://www.npmjs.com/package/plugin-node-uiextension plugin: https://www.npmjs.com/package/@mfranzke/plugin-node-uiextension

This brings pattern lab 5 support and enables you as well to provide a stylesheet URL that would get embedded to the Pattern lab UI. That should solve your problem, by being able to add those individual stylesheets to that general UI

[2021-11-13 09:08] mfranzke commented on #1114
@jeffwhitfield are you still experiencing this even after the latest updates, or could we close this ticket ?

[2021-11-13 09:15] mfranzke commented on #891
The init of a pattern lab project is now done with `npm create pattern-lab` so I think we're save to close this issue (similar to #1142 and the problem described in that one is solved).

[2021-11-13 09:17] #891 closed

[2021-11-15 13:07] StfBauer commented on #1114
@mfranzke Never had this issue with the current version.

[2021-11-17 04:27] mfranzke opened #1376 "References to non-existing icon files in the handlebars demos"
I am using Pattern Lab Node `v5.15.2` on `Mac`, with Node `v12.13.1`, using a handlebars Edition with the demo patterns installed.

##### Expected Behavior

No errors should come up on the developers console tab or in the network tab.

##### Actual Behavior

Two errors on missing files are being displayed (taken from the preview environment):

##### Steps to Reproduce

Open https://patternlab-hand

[2021-11-20 09:31] #1336 closed, assigned to nobody

[2021-11-21 13:53] #1170 closed

[2021-11-21 13:54] #1376 closed, assigned to mfranzke

[2021-11-21 15:15] #1369 closed, assigned to nobody

[2021-11-26 20:04] #1114 closed

[2021-11-29 18:53] mfranzke opened #1380 "Too many dev related listed as regular dependencies"
I am using Pattern Lab Node `v5.15.3` on `Mac`, with Node `v12.13.1`, using a `handlebars` Edition with the demo patterns installed.

##### Expected Behavior

All build, testing and release dependencies of the different packages are included as `devDependencies` within the `package.json` files and not as `dependencies`. This would both shrink the weight and amount of installed (and partly outdated

[2021-11-30 10:05] mfranzke opened #1385 "No possibility to deactivate the viewport opening at the persisted size"
I am using Pattern Lab Node `v5.15.3` on `Mac`, with Node `v12.13.1`, using a `handlebars` Edition with the demo patterns installed.

##### Expected Behavior

Especially when using configuration options like `defaultPattern` where someone might define a general markdown page – which is even also part of the backlog, to further further support the convenience of markdown (only) documentation pages

[2021-12-03 16:35] #1385 closed, assigned to mfranzke

[2021-12-07 05:48] mfranzke opened #1389 "JavaScript error on console"
I am using Pattern Lab Node `v5.15.5` on `Mac`, with Node `v12.13.1`, using a `handlebars` Edition with the demo patterns installed.

##### Expected Behavior

The [pattern lab UI](https://patternlab-handlebars-preview.netlify.app/) loads without any JavaScript errors on the browsers console.

##### Actual Behavior

The [pattern lab UI](https://patternlab-handlebars-preview.netlify.app/) loads with

[2021-12-07 08:19] #1389 closed, assigned to mfranzke

[2021-12-23 07:58] jaishankar02 commented on #1353
I would like to work on this issue. But as this is my first time in open source can you please help me and elaborate what I have to do

[2021-12-23 08:16] jaishankar02 commented on #1353
I have done some changes can you please tell me whether its right or wrong.  screenshot is attached below for your reference
![Screenshot 2021-12-23 134151](https://user-images.githubusercontent.com/92317436/147209960-d157d615-4f6c-40cf-a112-af13c4bc49d0.jpg)

[2022-01-01 09:42] mfranzke commented on #1145
@perriard was struggeling about the exact same behaviour as well and asked about the reasons why in gitter, as well as I do.

There seem to be some aspects on this one:
- The maximum viewport size (of the iframe) is currently being determined from `ishViewportRange.l`, as stated on the documentation as well:

  - Actually the configuration name `ishViewportMaximum` needs to get corrected to `ishMa

[2022-01-01 10:14] mfranzke commented on #1353
@jaishankar02 thanks a lot for your contribution.

This ticket is mainly about changing the documentation (in `/packages/docs`) from the previous template language mustache and its file ending to its successor handlebars (and its file ending `.hbs`).

So it most likely doesn't involve any changes in the other packages or the template files themselves.

I can't clearly identify from the screenshot

[2022-01-01 15:23] JosefBredereck commented on #1145
The logic happens in the [utils/viewport-sizes](https://github.com/pattern-lab/patternlab-node/blob/dev/packages/uikit-workshop/src/scripts/utils/viewport-sizes.js), and as far as I can tell, the docs are not correct anymore `ishMaximum` would be the new value.

The default value is also 2600 if nothing is set. I think this is a value resulting from the lack of 4k monitors when we put it. Neverthe

[2022-01-01 16:37] mfranzke commented on #1145
Thanks, @JosefBredereck. I can take care regarding the docs.

[2022-01-03 04:25] mfranzke opened #1407 "Twig: Logo links rendered as "NaN""
I am using Pattern Lab Node `v5.15.7` on `Mac`, with Node `v12.13.1`, using a `Vanilla` Edition and Twig Engine.

##### Expected Behavior
All links render correctly.

##### Actual Behavior
The links (`href`-attribute) for logo elements (most likely out of `/packages/starterkit-twig-demo/dist/_patterns/atoms/images/logo.twig` / `{{ link.pages-homepage }}`) are currently being rendered as "NaN"

###

[2022-01-03 04:54] mfranzke opened #1408 "Evaluate scroll-js packages usage"
I am using Pattern Lab Node `v5.15.7` on `Mac`, with Node `v12.13.1`, using a `Vanilla` Edition and Handlebars Engine.

##### Expected Behavior
The plugins API should get used correctly according to [its documentation](https://www.npmjs.com/package/scroll-js).

##### Actual Behavior
It seems like that the implementation within the lines https://github.com/pattern-lab/patternlab-node/blob/dev/packa

[2022-01-10 09:37] DarkPreacher commented on #1230
I were able to add FakerPHP to PTL Node using `alter-twig.php` in root folder.
This is the contents of
<details><summary>alter-twig.php</summary>

[code]
</details>

Contents of
<details><summary>composer.json</summary>

[code]
</details>

And I'm able to utilize Faker functions inside my `twig` partials, like `{{ faker('realText') }}`, `{{ faker('numberBetween', [0, 999]) }}` or `{{ faker('date',

[2022-01-19 21:58] mfranzke opened #1410 "docs: correcting some aspects on Viewport resizing"
Correct the documentation both on the config value and that it‘s not obsolete:

 Actually the configuration name `ishViewportMaximum` needs to get corrected to `ishMaximum`

_Originally posted by @mfranzke in https://github.com/pattern-lab/patternlab-node/issues/1145#issuecomment-1003533379_

[2022-01-24 13:43] guenyoo commented on #1257
I have the same issue as the original poster. npm create pattern-lab hands out a UnhandledPromiseRejectionWarning and the install is not progressing.

[2022-01-24 13:46] guenyoo opened #1412 "Installation is hanging at ⊙ patternlab → Installing edition: @pattern-lab/edition-node"
I am using Pattern Lab Node `v5.15.5` on `Mac`, with Node `v14.18.0`, using a `Vanilla` Edition.

##### Expected Behavior
I can install and use patternlab with npm create pattern-lab

##### Actual Behavior
Installation throws Unhandled promise rejection error

##### Steps to Reproduce
$ npm create pattern-lab
? Please specify a directory for your Pattern Lab project. ./
? What templating language

[2022-01-24 17:57] mfranzke commented on #1412
@guenyoo thanks a lot for reporting this.

Sadly I cannot install Node version 14.18.0 via NVM ("tar: Error opening archive: Unrecognized archive format" and "Binary download failed, trying source."), but have tried with version 14.18.3, and cannot reproduce the problem (even also on a Mac, M1 processor):

<img width="909" alt="image" src="https://user-images.githubusercontent.com/787658/150837865

[2022-01-26 07:49] guenyoo commented on #1412
@mfranzke Thanks for checking - I'll try installing with 14.18.3 and will get back to you.

[2022-01-27 08:10] guenyoo commented on #1412
@mfranzke I can onfirm that the installation works with node 14.18.3

[2022-01-27 08:10] #1412 closed, assigned to nobody

[2022-01-27 18:12] mfranzke commented on #1257
@guenyoo this is the topic we've discussed with #1412, isn't it ?

[2022-01-28 06:24] mfranzke opened #1413 "Feature request: Enhance copy actions"
##### Expected Behavior
Beside the current options to define `paths` in the `patternlab-config.json` which even also results in that pattern lab copies those assets to the `public` folder on `serve` and `build` commands, we should have the possibility to define further source/target relations regarding necessary copy actions.

##### Actual Behavior
A possibility for hooking into these copy process

[2022-01-28 08:50] guenyoo commented on #1257
@mfranzke yes it was. I've commented here first but I've seen that this issue was closed so I created a new one.

[2022-01-28 18:31] eWert-Online opened #1414 "Add allow-downloads to iframe sandbox options"
I am using Pattern Lab Node `v5.15.0` on `Mac`, with Node `v16`, using a `Vanilla` Edition.

Is there a specific reason the [iframe sandbox](https://github.com/pattern-lab/patternlab-node/blob/6fa630e2353ed68295550e59c31148269f3b7cd0/packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js#L416) does not include the option `allow-downloads`?

Would you add it, if I submit a PR

[2022-01-29 09:03] mfranzke commented on #1414
Hi @eWert-Online,

thanks a lot for your contribution.

I've just checked the implementation on https://patternlab-handlebars-preview.netlify.app/?p=all and realized that another option **might be to remove the `sandbox` attribute in total**. The current configuration is kind of "pseudo-security", compare to the good explanation:

Source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i

[2022-01-29 19:27] JosefBredereck commented on #1414
@mfranzke, I think this is still related to the IE support we had in the past. From my point of view, there is nothing that speaks against changing that.

[2022-01-30 12:00] mfranzke commented on #967
@Seanom it looks like that we finally solved this problem with https://github.com/pattern-lab/patternlab-node/pull/1397/, I cannot reproduce the problem any more with the newest pattern lab version 5.16.1

[2022-01-30 14:01] mfranzke opened #1416 "annotations: scrolling after interaction doesn't work"
I am using Pattern Lab Node `v5.16.1` on `Mac`, with Node `v12.13.1`, using a the Node Edition.

##### Expected Behavior

Interacting with an annotation should scroll the related one on the pattern info panel into view.

##### Actual Behavior

Interacting with an annotation doesn't scroll the related one on the pattern info panel into view, but results in nothing at all.

##### Steps to Reproduce

[2022-01-31 09:00] eWert-Online commented on #1414
Do the changes have to be made in both of the following files?

https://github.com/pattern-lab/styleguidekit-assets-default/blob/develop/src/html/partials/iframe.html#L7

https://github.com/pattern-lab/patternlab-node/blob/dev/packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js#L416

If you can confirm that, I would make a PR later today.

[2022-01-31 09:47] mfranzke commented on #1413
I just realized that this is even already possible by just adding further entries to the `path` configuration,

[2022-01-31 09:47] #1413 closed, assigned to nobody

[2022-01-31 17:17] #1416 closed, assigned to mfranzke

[2022-01-31 17:30] mfranzke commented on #1414
Sounds great, thanks a lot. And from my point of view, the following file would be enough, as the other repository (`styleguidekit-assets-default`) is a relict from the past (from my understanding) and we might want to archive it sooner than later (to even also avoid confusions), as its content has been moved to the `pattern-lab/patternlab-node` monorepo.

[2022-01-31 20:02] mfranzke opened #1419 "node-fetch is vulnerable to Exposure of Sensitive Information to an Unauthorized Actor"
I am using Pattern Lab Node `v5.16.1` on `Mac`, with Node `v12.13.1`, using a Node Handlebars Edition.

##### Expected Behavior

After installation, there shouldn't be any (at least not high) vulnerabilities warnings.

##### Actual Behavior

The output currently shows: `4 vulnerabilities (3 moderate, 1 high)`

The issue has been [reported 10 days ago](https://github.com/advisories/GHSA-r683-j2x4-v

[2022-02-02 17:16] #1419 closed, assigned to nobody

[2022-02-02 17:24] #1414 closed, assigned to nobody

[2022-02-02 17:35] #1408 closed, assigned to nobody

[2022-02-02 17:36] #1380 closed, assigned to mfranzke

[2022-02-03 01:42] mfranzke commented on #1141
@paintedbicycle we did a huge amount of changes to our dependencies and especially finally moved a lot of them from ‚dependencies‘ to ‚devDependencies‘ — are you still experiencing these problems?

[2022-02-03 01:53] mfranzke commented on #1030
@aleksip are you using the extension ‚.html.twig‘ as a „mix and match“ with other files having the ‚.twig‘ as well in the same codebase, or are all of the files strictly named only in one of of those variations?

[2022-02-03 02:16] mfranzke commented on #415
@ringods I think so as well. This is a good candidate to finally agree on that it‘s implemented, especially through the latest efforts by @JosefBredereck with MRs like #1237

[2022-02-03 03:58] mfranzke opened #1423 "markdown-it is possibly vulnerable to ReDOS in newline rule"
I am using Pattern Lab Node `v5.16.1` on `Mac`, with Node `v12.13.1`, using a Node Handlebars Edition.

##### Expected Behavior

After installation, there shouldn't be any vulnerabilities warnings.

##### Actual Behavior

The output currently shows some in the output on consuming setups.

There has already been a security fix release by the related dependency `markdown-it`: https://github.com/mark

[2022-02-03 11:10] paintedbicycle commented on #1141
I'm not sure anymore. This is an old issue so I'm happy to close it to keep things clean and since it sounds like a bunch of dependency work has been done that will likely affect this.

[2022-02-03 11:18] #1141 closed

[2022-02-03 18:46] wesleyboar commented on #967
I also cannot reproduce the issue since v5.16.1. (I could reproduce it with an earlier version—I forgot which.)

<details>
<summary>Details</summary>

I am using Pattern Lab Node `v5.16.1` on `Mac Monterey`, with Node `v17.4.0`, using a `Vanilla` Edition.

</details>

[2022-02-03 23:19] #967 closed

[2022-02-04 07:40] mfranzke commented on #1339
I think that I'm nearly done with implementing a solution for this one.

[2022-02-04 14:47] gwagroves commented on #1116
The [node twig renderer](https://github.com/knapsack-cloud/twig-renderer/blob/master/src/twig-renderer.js) spins up a PHP server in the CWD. This server cannot access files in the directory structure above it.

[2022-02-04 17:34] gwagroves commented on #1116
The twig engine parses the files using regex (engine_twig_php.js > findPartials) to extract the names of included and embedded patterns. Patternlab uses the result to generate the pattern hierarchy.

Patternlab throws a warning when it can't find the pattern.

[2022-02-07 16:28] #1339 closed, assigned to nobody

[2022-02-07 16:28] #1423 closed, assigned to mfranzke

[2022-02-10 17:31] mfranzke opened #1427 "No possibility to configure whether or not to remove index.html from the URL when adding to pushState"
_inspired by and adapted from https://github.com/pattern-lab/styleguidekit-assets-default/pull/49/_

I am using Pattern Lab Node `v5.16.2` on `Mac`, with Node `v12..13.1`, using a `Vanilla` Edition.

##### Expected Behavior

Be able to decide in whether my system redirects from **/index.html?** to **/?** (comparable to SPA) or not, as I might host it in an environment, which doesn't handle the def

[2022-04-01 23:02] mfranzke opened #1429 "Migrate from Node 12 to Node 14 / new LTS support"
I am using Pattern Lab Node `v5.16.2` on `Mac`, with Node `v14.19.1`, using a `Vanilla` Edition.

##### Expected Behavior

As mentioned within our [Node Support policy](https://github.com/pattern-lab/patternlab-node#node-support-policy) we only support actively [maintained](https://github.com/nodejs/Release#release-schedule) versions of Node. That means that we're only supporting at minimum Node `

[2022-04-04 13:52] SaroGFX commented on #1336
@mfranzke The issue appears to be fixed with a recent update 💪

[2022-04-10 14:21] hadl opened #1432 "Integration of @hadl/patternlab-plugin-pattern-wrap into core"
As discussed with Maximilian and Josef my integration of the plugin @hadl/patternlab-plugin-pattern-wrap (https://github.com/hadl/patternlab-plugin-pattern-wrap) into the core.

[2022-05-19 17:23] mfranzke opened #1436 "documentation: Updating pattern data"
I am using Pattern Lab Node `v5.16.2` on `Mac`, with Node `v14.19.3`, using a `Vanilla` Edition.

##### Expected Behavior

Finding the current pattern partial pattern parameters documentation on https://patternlab.io/docs/using-pattern-parameters/

##### Actual Behavior

https://patternlab.io/docs/using-pattern-parameters/ still includes the Mustache description of pattern parameters, and should g

[2022-06-30 22:33] moshiuramit commented on #892
Worked for me
Thank you

[2022-09-10 09:40] mfranzke opened #1437 "HTML validation errors within pattern-lab UI parts"
I am using Pattern Lab Node `v5.16.2` on `Mac`, with Node `v14.19.3`, using a `Vanilla` Edition.

##### Expected Behavior
No HTML validation error is being reported by a W3C validator.

##### Actual Behavior
The w3.org validation service reports the following problem among others:

##### Steps to Reproduce
Go to the URL https://validator.w3.org/nu/?doc=https%3A%2F%2Fpatternlab-handlebars-preview.n

[2022-09-17 08:34] mfranzke opened #1441 "fix: code scanning alerts"
Tracking issue for:
- [x] https://github.com/pattern-lab/patternlab-node/security/code-scanning/20
- [x] https://github.com/pattern-lab/patternlab-node/security/code-scanning/16
- [x] https://github.com/pattern-lab/patternlab-node/security/code-scanning/19

[2022-09-21 17:21] #1407 closed, assigned to nobody

[2022-09-21 17:23] #1437 closed, assigned to mfranzke

[2022-09-21 17:27] #1441 closed, assigned to mfranzke

[2022-09-21 17:28] #1427 closed, assigned to mfranzke

[2022-09-23 17:41] JosefBredereck commented on #1427
Issue was released with v5.16.3

[2022-09-23 17:41] JosefBredereck commented on #1441
Issue was released with v5.16.3

[2022-09-23 17:41] JosefBredereck commented on #1437
Issue was released with v5.16.3

[2022-09-25 13:51] #1230 closed, assigned to ringods

[2022-09-25 13:51] #1432 closed, assigned to nobody

[2022-10-05 14:33] romerocs commented on #926
Any movement on this feature?

[2022-10-08 19:37] #1429 closed, assigned to mfranzke