[2016-07-13 04:32] bmuenzenmeyer opened #388 "Allow patternGroup directories to not have prefixed integers"
Right now there is some pretty naive code inside `object_factory.js` to get the patternGroup, pre-dating more preferred methods like path.

[2016-07-13 06:00] bmuenzenmeyer opened #389 "Investigate merging usages of glob and diveSync"
Remove diveSync in favor of glob, both are dependencies.

[2016-07-13 20:33] bmuenzenmeyer opened #392 "Document how to add other PatternEngines"

[2016-07-14 14:45] bramsmulders opened #393 "styleguideExcludes excludes pattern folders from navigation"
I am using Pattern Lab Node `v2.2.0` on `Mac`, with Node `v4.4.1`, using the `Gulp` Edition.

I've added the `templates` & `pages` to the `styleguideExcludes` setting.

##### Expected Behavior
This used to not render the templates & pages in de styleguide(view-all) view, but not exclude them from the navigation.

##### Actual Behavior
Since pl-node `v2.2.0` the templates & pages are also removed f

[2016-07-14 14:58] bmuenzenmeyer commented on #393
confirmed bug

[2016-07-15 09:22] ChrisBAshton opened #394 "Add 'hooks' for configurability"
I discovered Pattern Lab through the excellent [Smashing Magazine article](https://www.smashingmagazine.com/2016/07/building-maintaining-atomic-design-systems-pattern-lab/) - love the tool, it's come at just the right time for me and my team!

I am using Pattern Lab Node `v2.0.0` on Mac, with Node `v4.4.6`, using the `Grunt` Edition. I installed Pattern Lab by cloning [Pattern Lab Node - Grunt Edi

[2016-07-15 15:08] herrjosua opened #395 "Patternlab Documentation"
Just some general feedback. I was trying to get the `edition-node-gulp` version of Pattern lab running locally. My issue was that my global version of Gulp was an older version, and I installed a newer version locally. But I did not realize that running `gulp ...` was using the global version and not the local version. I posted on the Gitter channel and was able to figure out the issue.

I would l

[2016-07-15 17:17] ixley opened #396 "Pattern markdown files with no description text render raw text into description field"
I am using Pattern Lab Node `v2.1.1` on `Mac`, with Node `v6.3.0`, using the `Gulp` Edition.

##### Expected Behavior
If there is a title but no description in the pattern markdown file, PL should not show a description.

##### Actual Behavior
When there is a title in the markdown file, but no description, and no additional line breaks after the `---` delimiter, PL pulls the full text of the file

[2016-07-15 17:53] geoffp commented on #393
Looks like patternlab.patterns (which I think is supposed to be the canonical data structure for patterns) is being overwritten by the sorted styleguidePatterns data structure in ui_builder.js, in buildFrontEnd().  I'll take a crack at it!

[2016-07-15 18:36] geoffp commented on #393
Got a PR in.

[2016-07-18 20:41] #385 closed

[2016-07-18 20:45] bmuenzenmeyer commented on #393
Pushed to 2.2.1 on github and npm

[2016-07-18 20:45] bmuenzenmeyer commented on #385
Pushed to 2.2.1 on github and npm

[2016-07-19 14:49] tommcc commented on #214
There are some bugs when naming top-level types with hyphens. I don't see why the naming rules for the top-level types should be any different from lower levels, and the docs don't make this clear.

I fiddled a little bit to try to fix this, but since it's going to involve changes in several places I wanted to document it here in case it's easier for someone else more familiar to fix it.

Director

[2016-07-20 05:17] bmuenzenmeyer commented on #388
Asked the gitter community to test this

[2016-07-22 00:32] bradfrost commented on #394
Hey @ChrisBAshton,
Thanks for taking the time to write up these thoughts.

I can't really speak to the specifics as I'm not the one building the logic/programmatic stuff, but at first glance most of what you're talking about is achievable.

Yes, Pattern Lab is totally decoupled meaning that there's a Pattern Lab core that's separate than your generated code. You can read more about that [here](htt

[2016-07-22 05:34] bmuenzenmeyer commented on #394
This is the exact intention. `patternlab-node` which your grunt edition includes as a dependency, is the workhorse that should receive all the benefits. The edition code is really a sample we intend to people to make their own. You are right if there are bugs in the grunt tasks that need to get pushed out, some manual syncing or decisions will need to be made whether or not they apply to your situ

[2016-07-26 02:52] #388 closed

[2016-07-27 08:00] josketres opened #405 "Upgrading instructions (1.X to 2.X) in wiki is missing some information"
Please add the following to the upgrading instructions in the wiki page in the section `Upgrading from Pattern Lab 1.X to 2.X`:

* in the file `00-meta/_00-head.mustache` replace `{% pattern-lab-head %}` with `{{{ patternLabHead }}}`
* in the file `00-meta/_01-foot.mustache` replace `{% pattern-lab-foot %}` with `{{{ patternLabFoot }}}`

It took me almost 1 hour reading the source-code to find out

[2016-07-27 10:19] e2tha-e opened #406 "Want to consolidate redundant loops in pattern_assembler.getPartial()"
Writing this as a todo and reminder.

This function iterates through the same loop 3 times. I think we should consolidate this into just one loop:

https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/pattern_assembler.js#L23-L47

[2016-07-27 10:57] e2tha-e opened #407 "Maybe namechange pattern_assembler.findPartial to pattern_assembler.getPartial"
The public `pattern_assembler` function is named `findPartial` while the private function is named `getPartial`. This results in a couple points of confusion. The first is trying to figure out the rationale for this difference. The second is that `findPartial` is an `engine_mustache` public function, which performs a completely different operation. I think in `pattern_assembler`, it should be name

[2016-07-27 11:18] e2tha-e opened #408 "Question: are underscore-prefixed directories invalid?"
@bmuenzenmeyer @dmolsen

https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/patternlab.js#L39
https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/patternlab.js#L63

These two lines of code will cause Pattern Lab Node to not process files in underscore-prefixed directories. I've read through the official Pattern Lab docs and haven't found a mention of this. I've als

[2016-07-27 11:44] bmuenzenmeyer commented on #408
This code is in here because I thought it was on spec - but now I cannot find reference to it either.

@dmolsen am I mistaken?

[2016-07-27 11:45] bmuenzenmeyer commented on #407
I have had the same thought a couple times - especially as the codebase has evolved and engines have a similar method.

:+1:

[2016-07-27 11:47] bmuenzenmeyer commented on #406
I disagree with this change - as in most circumstances we want this method to exhaustively find patterns using the preferred syntax first. I can imagine scenarios where a pattern misses the first patternPartial syntax only to be erroneously picked up by a fuzzy syntax, yes?

[2016-07-27 12:12] bramsmulders opened #409 "Patternlinks in data gives error on windows systems"
I am using Pattern Lab Node `v2.3.0` on `Windows`, with Node `v4.4.1`, using the `Gulp` Edition.

##### Expected Behavior
Patternlinks like:
[code]
Should lik to the linked pattern

##### Actual Behavior
On windows the compiler gives the following error:
[code]
Whereas on a mac everything just works as expected.

##### Steps to Reproduce

[2016-07-27 13:22] dmolsen commented on #408
@bmuenzenmeyer -

I would have said it was on spec but I can't find it in my code. Adding an `_` to a type or subtype doesn't clean it properly either. Sorry, without checking I would have agreed with you. Happy to go in the direction you want.

[2016-07-27 13:40] e2tha-e commented on #408
I feel it would be appropriate to hide underscore-prefixed directories in the UI, but the code as it is completely ignores them. I would like to be able to continue processing them whether in PHP or in Node.

[2016-07-27 13:44] dmolsen commented on #408
That would be similar to how underscores work now for individual patterns. Marked hidden for nav purposes but still available to include elsewhere.

[2016-07-27 19:07] e2tha-e commented on #406
@bmuenzenmeyer Right. What you say makes sense. Closing this issue.

[2016-07-27 19:07] #406 closed

[2016-07-28 12:29] bmuenzenmeyer commented on #409
@bramsmulders confirmed bug and pushed a small fix. confirmed it works on Windows. Curious if it works on Mac too. can you alter your package.json to point to `pattern-lab/patternlab-node#dev` and see if this resolves your issue?

I had to peel back a couple more things I was trying to do with `path.sep()`, but I may revisit that.

[2016-07-28 13:19] sergejr opened #410 "Conditional Statement from meta/foot.mustache isn't loaded"
I am using Pattern Lab Node `v1.2.3` on `Mac`, with Node `v4.4.7`, using the `Gulp ` Edition.

I've got a problem with showing special content on a special page with a type of conditional statement.

For example:

My `data.json` looks like this:
<img width="275" alt="bildschirmfoto 2016-07-28 um 10 21 03" src="https://cloud.githubusercontent.com/assets/5619563/17213833/696300b6-54d6-11e6-84b7-840a

[2016-07-28 13:23] bmuenzenmeyer commented on #410
I believe this is related to https://github.com/pattern-lab/the-spec/issues/24 which is not yet implemented in Node

i will bump it in priority

[2016-07-28 13:32] sergejr commented on #410
It's not about including pattern but including conditional statements to load specific libraries on specific pages for example. But including patterns in these files would also be great.

Thanks.

[2016-07-29 01:26] #375 closed

[2016-07-29 01:29] bmuenzenmeyer commented on #320
closing due to lack of response

pattern rendering is working on 2.X

[2016-07-29 01:29] #320 closed

[2016-07-29 01:30] bmuenzenmeyer commented on #329
closing due to lack of response

[2016-07-29 01:30] #329 closed

[2016-07-29 01:44] bmuenzenmeyer commented on #395
My understanding is that having a global install of gulp allows users to type `gulp commandFoo` and have it work, since it's added to a user's PATH. This command interface sees simple, albeit with a bit of upfront install cost.

To run locally instead, how would a user run the packaged tasks in the edition gulpfile? I'm asking sincerely, since I am very much on my own learning journey too.

[2016-07-29 14:33] e2tha-e commented on #395
@herrjosua @bmuenzenmeyer
`./node_modules/.bin/gulp patternlab:foo`

[2016-07-29 14:48] bmuenzenmeyer commented on #395
oh - of course. is that preferred by people?

[2016-07-29 15:13] e2tha-e commented on #395
I keep gulp 3 installed globally because all my other projects have not moved over to 4. I imagine most devs know how to alias this sort of thing for a shorter command. But beyond that, there's not much anyone can do about forward progress involving breaking changes.

[2016-07-30 09:16] bramsmulders commented on #409
Seems to be working correctly on Mac to!

[2016-08-01 04:14] bradfrost commented on #405
@josketres Thanks very much for this info! I've [updated the docs](http://patternlab.io/docs/upgrading.html#node) to include these changes. @bmuenzenmeyer, feel free to adjust milestone accordingly or whatever you need to do.

[2016-08-01 08:20] josketres commented on #405
Cool!
Are you also planning to add this info to the wiki (https://github.com/pattern-lab/patternlab-node/wiki/Upgrading)?
This is the documentation that I used for upgrading!

[2016-08-01 11:45] bmuenzenmeyer commented on #405
I intend to update this too - since it contains information not present on the io site and people may find their way to it like you did.

[2016-08-01 12:27] josketres commented on #405
👍

[2016-08-01 15:06] e2tha-e commented on #250
@bmuenzenmeyer @vebersol @geoffp I'm closing in on a pull request for this issue for Pattern Lab Node v2.x.x. I think I should have one submitted this week. The new performance is beating the work I did earlier this year by a large margin. While I've submitted several precursory prs, the main pr will probably be quite big. It would be difficult, if not impossible, to it apart break apart without b

[2016-08-01 15:17] e2tha-e commented on #250
Also, I haven't tested my code with another templating engine. It sounds like the Handlebars engine might be stable enough to try testing with, so I'll eventually give that a go. Given how Mustache-centric `parameter_hunter.js` is, I am a bit confused as to how Pattern Lab Node will work with another templating engine.

[2016-08-01 15:28] e2tha-e commented on #250
@vebersol At my last two jobs, my teams have also experienced your frustrations. There are probably hundreds of new software implementations inspired by Pattern Lab, including my own: [Fepper](https://github.com/electric-eloquence/fepper)

I've taken the fork and hack approach to solving this exact issue (#250) for Fepper. However, I'm also contributing this functionality back.

Regardless of whet

[2016-08-01 20:39] bmuenzenmeyer opened #415 "Implement: Pattern Type Documentation"
https://github.com/pattern-lab/the-spec/issues/28

[2016-08-01 21:41] geoffp commented on #285
The first prerelease of the Pattern Lab 2.X port of the Twig engine is here: https://github.com/pattern-lab/patternengine-node-twig

[2016-08-04 20:33] geoffp opened #418 "Not having a user-defined header & footer throws lots of errors"
I am using Pattern Lab Node `v2.3.0` on ` Mac`, with Node `v4.4.7`, using the `Gulp` Edition.

##### Expected Behavior
Code comments refer to the user-defined header & footer as optional. If that's still correct, and I choose not to have a user-defined header & footer, Pattern Lab should run without mysterious error messages. Maybe it's more correct, though, to say the "user-defined" header and fo

[2016-08-04 21:05] geoffp commented on #418
Personally, I lean towards calling these "user-editable header/footer templates" rather than "optional user-defined templates", or at least I would if the code (or the spec) really does contain the assumption that they exist.

[2016-08-04 21:05] geoffp commented on #418
cc @bmuenzenmeyer

[2016-08-05 04:49] bmuenzenmeyer commented on #328
http://colintoh.com/blog/lodash-10-javascript-utility-functions-stop-rewriting#4)_deep-cloning_javascript_object

[2016-08-05 10:57] e2tha-e commented on #328
@bmuenzenmeyer @geoffp Lodash is pretty badass. However, Extendify goes a step further for deep merging objects. And it bootstraps lodash.merge
https://github.com/bigShai/extendify

Curious to know if anyone knows of something even better for that purpose. Alternatives do the same thing, but are poorly documented, and have Rube Goldberg implementations.

[2016-08-05 13:41] heroheman opened #419 "Can't use styleModifier on a hidden element"
I am using Pattern Lab Node `v1.0.2` on `Mac`, with Node `v6.2.2`, using the `Gulp` Edition.
##### Expected Behavior

I have a hidden atom for the following snippet called `_icon-dark.mustache`

[code]

and i want to include it from another atom with `{{> atoms-icon-dark:iconName}}
##### Actual Behavior

the atom-icon-dark file is empty
the following error is thrown:
![image](https://cloud.githubu

[2016-08-11 12:14] mbulfair commented on #418
I am also getting this error. Using the gulp windows version.

[2016-08-11 13:19] mbulfair opened #422 "StyleModifer, loading patterns inside of patterns , and parsing of pseudo patterns."
I am using Pattern Lab Node `v2.3.0` on `Windows `, with Node `v4.4.7`, using the `Gulp` Edition.

##### Expected Behavior
Pseudo Patterns to render as in prior 1.x version

##### Actual Behavior
Mustache templates that contain other patterns with the {{styleModifer}} on the parent do not render at all. When {{styleModifier}} is off and using a .json the original mustache template will render and

[2016-08-11 13:44] bmuenzenmeyer opened #423 "UI Builder Rewrite ToDo / Issues"
Bucket for TODOs left on this total effort.

- [x] Pattern Type View All
- [ ] View All should be at the end of each menu / submenu
- [ ] More unit tests

[2016-08-11 15:03] bmuenzenmeyer opened #424 "Encode data.links"
Originally reported https://github.com/pattern-lab/starterkit-mustache-demo/issues/4#issuecomment-238226578

[2016-08-11 19:59] #407 closed

[2016-08-11 20:03] e2tha-e commented on #316
The work for this is in the pull requests referencing issue #250

[2016-08-11 20:29] bmuenzenmeyer commented on #407
@e2tha-e just so you know my crazy methods, i typically leave issues open until they reach master

[2016-08-12 18:50] bmuenzenmeyer commented on #422
[_patterns.zip](https://github.com/pattern-lab/patternlab-node/files/416001/_patterns.zip)

@mbulfair does this set of patterns match your use case?

[2016-08-12 19:36] raphaelokon opened #425 "Use patternlab-node without grunt/gulp"
Hi there.

Are there any plans to support patternlab-node without grunt/gulp (if not already possible)?
My deploy is purely based on `npm scripts` and I would like to integrate `patternlab-node` to it, but I couldn't find anything in wiki section about for `patternlab-node cli`.

Cheers.

[2016-08-12 19:54] bmuenzenmeyer commented on #425
I have some dreams to do this but it's not on my current roadmap.

It really wouldn't be that hard if core assumed that what was in `source/` was good to go and only processed it or copied it.

Doing this would have some other benefits too, like making editions simpler and more inline with how PL/PHP works.

[2016-08-12 19:54] bmuenzenmeyer commented on #425
Consider this bumped in priority. Curious how many others would like to see it?

[2016-08-12 20:41] raphaelokon commented on #425
Thanks for your honest response.

I need it for a current project :> So likely that I may just give it a dash when I find time. Grunt/Gulp are mainly (platform harmonising) wrappers around core (bash) functionality – and another config nightmare for me.

Having a unified core would make the other editions simpler in theory.

[2016-08-12 22:00] mbulfair commented on #422
I've done a test with the patterns above. I've modified only 1 setting.

In the package.json

-   "patternlab-node": "^2.0.0" = **fails**
-   "patternlab-node": "pattern-lab/patternlab-node#dev" = **passes**

Both output version 2.3.0 if run gulp patternlab:version

[2016-08-13 20:29] bmuenzenmeyer commented on #395
I've created https://github.com/pattern-lab/patternlab-node/wiki/Running-with-Local-Gulp-Instead-of-Global-Gulp to help address this - will be linking it into documentation shortly.

[2016-08-14 03:11] bmuenzenmeyer commented on #405
I've updated the wiki to cover this, in addition to removing some confusing code

[2016-08-14 04:24] bmuenzenmeyer commented on #396
Fixed with https://github.com/pattern-lab/patternlab-node/commit/9c4484482c1b7f53885d1055939d854353f337e6 - currently in `dev`

will close when this reaches master

[2016-08-14 19:22] bmuenzenmeyer opened #426 "Support multiple detected starterkits on postinstall"
Allow users to npm install multiple starterkits, and then have PL/Node ask which starterkit should be loaded, if not all.

Might be useful, but low-priority.

In addition, suggest starterkits if no starterkit is detected.

[2016-08-15 11:40] bmuenzenmeyer commented on #396
should make https://github.com/pattern-lab/patternlab-node/issues/349 quite easy too

[2016-08-15 14:07] e2tha-e commented on #407
@bmuenzenmeyer Oops. Sorry. Will keep mind next time!

[2016-08-15 16:46] #362 closed

[2016-08-15 16:46] #405 closed

[2016-08-15 16:46] #424 closed

[2016-08-15 16:47] #360 closed

[2016-08-15 16:47] #395 closed

[2016-08-15 16:47] #396 closed

[2016-08-15 16:47] #409 closed

[2016-08-15 16:47] #418 closed

[2016-08-15 16:59] bmuenzenmeyer commented on #422
@mbulfair please let me know if `2.4.0` addresses this

[2016-08-15 23:07] mbulfair commented on #422
@bmuenzenmeyer Changing back to ^2.0.0, version 2.4.0 installed, and everything builds as expected.

[2016-08-15 23:07] #422 closed

[2016-08-16 06:16] bmuenzenmeyer opened #428 "Cannot Navigate to data.links again"
I am using Pattern Lab Node `v2.4.0` on `Windows`, with Node `v6.2.2`, using the `Gulp` Edition.

##### Expected Behavior

* I can navigate from pattern to pattern using `link.patternPartial` as defined in `data.json`

##### Actual Behavior

Get an exception.
`Cannot GET /patterns/04-pages-05-about/04-pages-05-about.html`

##### Steps to Reproduce
* Download starterkit-mustache-demo
* Attempt to n

[2016-08-16 06:17] bmuenzenmeyer commented on #428
[datacomparison.zip](https://github.com/pattern-lab/patternlab-node/files/419639/datacomparison.zip)

[2016-08-16 11:18] nilshartmann opened #429 "loadstarterkit failed with "TypeError: Path must be a string.""
I am using Pattern Lab Node `v2.4.0` on `Windows`, with Node `v4.2.4`, using the `Gulp` Edition. (`edition-node-gulp-1.3.0`)

##### Expected Behavior
`gulp patternlab:loadstarterkit --kit=starterkit-XXX` should install the specified starter kit

##### Actual Behavior
The call to gulp fails with the error message `[TypeError: Path must be a string. Received undefined]`

##### Steps to Reproduce
Run

[2016-08-16 13:22] #428 closed

[2016-08-16 13:45] bmuenzenmeyer commented on #429
fixed as part of 2.4.1

[2016-08-16 13:45] #429 closed

[2016-08-16 13:49] bmuenzenmeyer opened #432 "EPIC: Implement Basic Support for Plugins"
- [x] Install Plugin
- [x] Output plugin config
- [x] Output structure to frontend
- [x] Load Plugin
- [x] Emit Events
   - http://blog.yld.io/2015/12/15/using-an-event-emitter/#.V77fNZgrKUk
   - https://nodejs.org/api/events.html
- [x] Subscribe to Events
- [x] **In progress** Proof of concept: [front-end plugin](https://github.com/pattern-lab/plugin-node-tab)
- [x] Documentation
- [ ] Research a

[2016-08-17 12:09] bmuenzenmeyer opened #433 "Better handle missing outputfileSuffixes"
I am using Pattern Lab Node `v2.4.1` on all platforms.

##### Expected Behavior
* Missing outputFileSuffixes in the config should be defaulted.

##### Actual Behavior
* Missing outputFileSixes cause errors

I [had thought this code](https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/patternlab.js#L338-L344) would suffice but it is only a local fix and did not apply to the 2.4.1 ad

[2016-08-17 12:49] #433 closed

[2016-08-17 16:23] bmuenzenmeyer commented on #432
@dmolsen is it fair to say that [this php core search for dispatch](https://github.com/pattern-lab/patternlab-php-core/search?utf8=%E2%9C%93&q=dispatch) is a decent map of all the possible plugin event hooks?

[2016-08-17 16:34] gael-boyenval opened #436 "error at build when two pattern folders uses the same name with a different number"
I am using Pattern Lab Node `v2.4.0` on Mac with Node v6, using the Gulp Edition.
##### Expected Behavior

throw a more explicit error like `pattern directory name duplicated : XXX`
##### Actual Behavior

throw this error `Could not find patternType 01-atoms-01-atoms. This is a critical error.` and fail the build
##### Steps to Reproduce

name two folders `_patterns/00-atoms/00-images` and `_patte

[2016-08-17 16:35] bmuenzenmeyer commented on #436
Thanks for reporting this @gael-boyenval - glad we were able to debug it and keep you running

[2016-08-17 16:41] gael-boyenval commented on #436
@bmuenzenmeyer you're welcome, i thank you very much for the help.

[2016-08-17 18:52] geoffp opened #437 "Pattern Links in "view all" ignore configured outputFilePaths"
I am using Pattern Lab Node `v2.4.2` on `Mac`, with Node `v4.4.7`, using the `Gulp` Edition.

##### Expected Behavior
When using the following config, which supports the use of Underscore templates:
[code]
The pattern links in "View All" should end in "-rendered.html".

##### Actual Behavior
They end in ".html", and in this configuration, that gets you the rawTemplate version and breaks navigation

[2016-08-17 19:54] mbulfair commented on #437
I am now seeing this only under each folder, individual view all are working. So for example

- atoms
  - color
     - colorpattern1
     - colorpattern 2
     - view all (works)
-viewall (broke)

[2016-08-17 19:59] geoffp commented on #437
@mbulfair, that's actually a different issue. Mine is that these links don't work:
![screen-shot-2016-08-17-at-2 57 39-pm](https://cloud.githubusercontent.com/assets/76232/17751107/2f71e9ca-648b-11e6-8010-4253c4366ff1.png)

[2016-08-17 20:02] geoffp opened #438 "Tests for Underscore, Handlebars, and Twig fail"
I am using Pattern Lab Node `v2.4.2` on `Mac`, with Node `v4.4.7`, using the `Gulp` Edition.

##### Expected Behavior
Unit tests for all engines should run.

##### Actual Behavior
Tests for Underscore, Handlebars, and Twig fail due to missing outputFileSuffix blob in the included patternlab-config.json.

I'll do a PR to get the config that we provide by default in the gulp edition into this, as we

[2016-08-17 20:14] mbulfair opened #439 "Watching pattern updates seems to get locked"
I am using Pattern Lab Node `v2.4.2` on `Windows`, with Node `v4.4.7`, using the `Gulp ` Edition.

##### Expected Behavior
Change to a mustache file happens, hit save, patterns runs the build task, then reload page.

##### Actual Behavior
Change happens, it builds, then reloads, and builds a second time. On occasion when "cleanPublic" is set to true in the config, this step will fail with unable t

[2016-08-18 13:25] bmuenzenmeyer commented on #437
@geoffp I think what you propose is a good way to address this issue going forward, versus what I've been attempting to do (monkey-patch replace when issues crop up)

[2016-08-18 13:37] bmuenzenmeyer commented on #439
possibly related

![image](https://cloud.githubusercontent.com/assets/298435/17775678/edd615a6-651e-11e6-9045-9df6acd3cf88.png)

[2016-08-18 14:30] bmuenzenmeyer commented on #438
Travis can now load engines during test (at least what has been `npm publish`ed)

https://travis-ci.org/pattern-lab/patternlab-node/builds/153287099

[2016-08-18 14:32] geoffp commented on #438
Excellent!

[2016-08-18 16:06] Loque- commented on #425
Yes please! I am spending a lot of time simplifying tricky gulp/grunt tooling with lovely semantic npm scripts.

Thank you for the amazing work on this fantastic project. I appreciate the ticket too, as I was about to try and implement this without gulp!

[2016-08-18 18:21] raphaelokon commented on #425
@Loque- Thanks. I was looking into the core and figuring out how this is working. I did some fiddling locally on it – making it a true standalone CLI tool.

[2016-08-19 03:13] bmuenzenmeyer commented on #425
Cross-linking https://github.com/pattern-lab/patternlab-node/issues/281 this issue for those who may have missed it. I am going to start thinking about how this would work.

[2016-08-19 03:17] bmuenzenmeyer commented on #393
Regressed on this in `2.4.0` - reopening

[2016-08-19 04:31] bmuenzenmeyer commented on #439
@mbulfair can you try switching your `patternlab-node` entry in the dependencies object of your `package.json` to `pattern-lab/patternlab-node#dev` and run `npm update` to see if this issue is resolved?

[2016-08-19 05:07] bmuenzenmeyer commented on #437
@geoffp FWIW this is all working for me right now on `dev` (probably why I thought this was ready for the big time in general...) I wonder if it's a platform issue, not working on Macs? if so, perhaps the solution is easier that we thnk

![viewall](https://cloud.githubusercontent.com/assets/298435/17799524/f5310892-65a0-11e6-98f5-3900a92912b3.gif)

[2016-08-19 05:09] bmuenzenmeyer commented on #437
Or, is this only an issue when you deviate from the default `outputFileSuffixes.rendered` of `''` ? That would make more sense, says my rubber ducky.

[2016-08-19 05:22] bmuenzenmeyer commented on #437
Oh, I see what you are experiencing now after I configure an outputFileSuffix.

I tried monkey-patching `ui_builder.js` at line 353 with

`pattern.patternLink = pattern.patternLink.replace('.html', patternlab.config.outputFileSuffixes.rendered + '.html');` but it did not resolve this issue. I see that patternLink is used in lineage too so doing your more global fix is a better long-term solution a

[2016-08-19 14:41] mbulfair commented on #439
This bug seems to be resolved. I managed to make several mustache changes, it reloaded after the build, the navigation bar didn't duplicate, nor did I see a error for a nonemptydir for patterns.

[2016-08-19 15:58] bmuenzenmeyer commented on #439
yay - good to hear!

[2016-08-19 20:13] bmuenzenmeyer commented on #355
duplicated by https://github.com/pattern-lab/patternlab-node/commit/80c9c97c3392f0cec270107230e08bac9c010c81

[2016-08-19 20:13] #355 closed

[2016-08-20 12:34] #393 closed

[2016-08-20 12:34] #438 closed

[2016-08-20 12:34] #439 closed

[2016-08-20 12:41] #437 closed

[2016-08-20 14:12] geoffp commented on #437
Yep, you've got it :)

[2016-08-22 08:10] dharmastyle opened #444 "The styleModifier variabile keeps previous values"
I am using Pattern Lab Node `v2.3.0` on `Mac`, with Node `v6.2.2`, using the `Gulp` Edition.

##### Expected Behavior

When looking at a single pattern, the `styleModifier` should be empty (or ignored).

##### Actual Behavior

When `styleModifier` is used in a page to modify an included pattern, the single pattern inherits that styleModifier instead of being clean.

##### Steps to Reproduce

1. cr

[2016-08-22 18:44] geoffp opened #446 "Support patternengine name rather than file extension in the template tab"
This is to support display of the pattern engine name in the template tab, should there be a positive response from Dave and Brad to https://github.com/pattern-lab/styleguidekit-assets-default/issues/43.

This is one of the issues we touched on in https://github.com/pattern-lab/the-spec/issues/26.

[2016-08-24 14:11] gael-boyenval opened #448 "clean output html in patterns infos"
I am using Pattern Lab Node v2.4.3 on Mac, with Node v6, using the Gulp Edition.

##### Expected Behavior

Our workflow:
1) front-end dev are building dom éléments and patterns using PL node and mustache.
2) Back-end guys then go there and pickup the dom in the pattern lab infos panels.

it would be great to get :

* a cleaned html output in pattern infos panels (indent, spaces, lines, tab etc)
*

[2016-08-25 04:15] bmuenzenmeyer opened #450 "Attempt to single-thread pattern lab builds and clean up between them"
I am using Pattern Lab Node `v2.4.3` on all platforms.

##### Expected Behavior

1) Very quick successive saves to source files should work without causing Pattern Lab to error
2) Successive saves to source files should cause the PL patterns to reload, but the styleguide chrome to remain unchanged.

##### Actual Behavior

1) sometimes caused Pattern Lab to error
2) I believe 1 as well as just hold

[2016-08-25 05:09] #450 closed

[2016-08-25 05:21] bmuenzenmeyer commented on #446
Released in PL Node 2.4.4

[2016-08-25 05:21] #446 closed

[2016-08-25 12:02] gael-boyenval commented on #136
+ 1 on this !
a simple (and clean) way to override PL CSS from configuration file would be great !

[code]
for now i use the ``_meta/00-head.mustache``. and that seem not very clean to me.

[2016-08-25 14:47] gael-boyenval opened #452 "view all is not working properly"
I am using Pattern Lab Node `v2.4.4` on `Mac`, with Node `v6.3.1`, using the `Gulp` Edition.

this bug seem to appear with version `^2.4.0`.  `2.3.0` is okay.
I'm using "styleguidekit-assets-default": "^3.3.0"

##### Expected Behavior
Click "view all" in the menu should display all patterns for a given category.
ex: atoms / view all  => display all atoms

##### Actual Behavior
Click "view all" in

[2016-08-28 21:01] acariou commented on #374
Hello,

I've read something really interesting and I thought that kind of info may be really useful, check it out  <http://kigafrowy.friendsofthejewishchapel.org/e4qcwwk>

Take care, arnaud

[2016-08-28 21:01] acariou commented on #325
Hi friend!

I've got  a really good idea about how to spend my  next weekend, read more here  <http://ruzindufo.groundedcomic.com/e4rmxdm>

My best to you, arnaud

[2016-08-29 06:45] mremergo opened #453 "possibility to hide the "ALL"-button in main menu"
For projects that include some styling with absolute and even fixed positioning, the section "ALL" with a combined view on all of your elements gives a rather, let's say chaotic impression. The styling for the individual elements is actually correct but they are not intended to be mixed.
You wouldn't want that section to be visible on a customer-showcase, so it would be of use to include a possibi

[2016-08-29 11:45] bmuenzenmeyer commented on #453
FWIW, you can tackle the absolute and fixed positioning problem by adding additional statements inside the `pattern-scaffolding.css` file. This is one of it's primary use-cases.

Removing the `ALL` button would be a spec enhancement which needs to be brought up across both platforms.

[2016-08-30 05:23] bmuenzenmeyer commented on #444
I've uploaded my test case which shows this functionality working as designed.
Please tell me if I have you reproduction wrong, or (better) supply your own.
[_patterns.zip](https://github.com/pattern-lab/patternlab-node/files/444061/_patterns.zip)

![image](https://cloud.githubusercontent.com/assets/298435/18076997/ef8ecd02-6e47-11e6-929c-52158f74251d.png)

[2016-08-30 05:25] bmuenzenmeyer commented on #328
I am using lodash all over now - removing this issue as too vague.

[2016-08-30 05:25] #328 closed

[2016-08-30 07:33] gfnool commented on #444
Hi,

@bmuenzenmeyer, to see the bug in action you should put the modified pattern as the last of the patterns that use that particular include.

I'm having the same problem and to see the bug in action I created these patterns:

**01-button.mustache**
`<div class="button {{styleModifier}}">Button</div>`

**02-include-mod.mustache**
`<p>This is a pattern with a modified pattern included</p>
{{> ato

[2016-08-30 08:20] maddesigns commented on #444
I can confirm this bug - mods going down to atoms.

[2016-08-30 11:40] bmuenzenmeyer commented on #444
@gfnool thanks for the additional steps - I've reproduced now. Should be easy enough to catch with a unit test and then fix.

[2016-08-31 05:24] bmuenzenmeyer commented on #444
I've pushed this to `dev` with a unit test, a fix, and confirmed fix against our test patterns.

You can update your `package.json` to `patternlab-node#dev` and run `npm update` to confirm the fix.

If I get some positive vibes from you all, I will start version build.

[2016-08-31 05:26] bmuenzenmeyer opened #456 "Pattern Subtype View All should be at the end of each menu / submenu"
I introduced this behavior with `2.4.0` but it's a low priority for me. If anyone wants to through their hat in the ring, please do.

[2016-08-31 05:26] bmuenzenmeyer commented on #423
Closing due to lack of specificity

[2016-08-31 05:26] #423 closed

[2016-08-31 05:27] bmuenzenmeyer commented on #415
I think the way is paved for this now that the viewall links are all working, but I want to bump this to a future release.

[2016-08-31 06:48] gfnool commented on #444
I confirm the fix, using #dev 2.5.0.
Thanks!

[2016-08-31 12:22] gfnool opened #457 "ListItems are not compiled when included using a pattern parameter"
I am using Pattern Lab Node `v2.4.0` on `Mac`, with Node `v6.2.2`, using the `Gulp` Edition.
##### Expected Behavior

When a pattern containing a `listItems` loop is included in another pattern, the list loop should be printed out, even if some data are overwrite from the parent pattern
##### Actual Behavior

The included pattern do not show the list
##### Steps to Reproduce

create a child patter

[2016-08-31 12:32] bmuenzenmeyer commented on #374
@maxx1128 can this issue be closed?

[2016-08-31 12:42] thenickname opened #458 "View pseudo-pattern leads to 404"
I am using Pattern Lab Node `v2.5.0` on `Mac`, with Node `v5.5.0`, using the `Gulp` Edition.

##### Expected Behavior
When defining a pseudo pattern, e.g. `button~--primary.json` to describe a variation of a button, another instance of the component should be displayed and correctly linked to a sub-page showing only the variation

##### Actual Behavior
Clicking on the title of a generated pseudo p

[2016-08-31 13:25] bmuenzenmeyer commented on #458
Confirmed this bug.

[2016-08-31 13:25] bmuenzenmeyer commented on #458
Confirmed this bug

[2016-08-31 15:27] bmuenzenmeyer commented on #458
@thenickname this is in `dev` now.

[2016-08-31 18:33] bmuenzenmeyer opened #459 "EPIC: Pattern Lab Node CLI"
# Methods
- build
- patterns only
- serve
- export
- help (with commander)
- init_project
- list_starterkits
- load_starterkit
- pack_starterkit
- enable_plugin
- disable_plugin
# Goals
- no grunt or gulp dependencies (is this related? I think so if you want build to work)
- globally installed
- Determine merits of core vs new repo. Goal is to not have a major breaking change to core... editions c

[2016-08-31 19:15] raphaelokon commented on #459
#Additional args
[code]

[2016-09-01 03:14] #452 closed

[2016-09-01 03:14] #458 closed

[2016-09-01 04:01] #410 closed

[2016-09-01 09:28] gael-boyenval opened #461 "blank page display with deep included patterns (with 2.5#dev)"
I am using Pattern Lab Node `2.5.0` on `Mac`, with Node `v6`, using the `Gulp` Edition.

## Expected Behavior

for a given pattern :
[code]
in a template `template-x` we call the btn :
[code]
then call the template in `page-y`
[code]
the page should display the btn

## Actual Behavior

display a blank page (no error, nothing at screen appart for the patternlab UI )

##### Steps to Reproduce

creat

[2016-09-01 10:13] gael-boyenval commented on #459
+1.
I think this is the cleaner option.

Proposing then a simple gulp/grunt/etc.. plugin that allow user to integrate PL commands to any workflow would be great.

[2016-09-01 11:27] raphaelokon commented on #459
Aye. In my implementation the new CLI is the layer between those plugins and the `patternlab-node` core.

![patternlab-node-archi](https://cloud.githubusercontent.com/assets/527631/18165821/c3f95048-7047-11e6-930b-dc7adef6494c.jpg)

[2016-09-01 11:51] bmuenzenmeyer commented on #459
Eager to see and review :+1:

[2016-09-01 12:32] raphaelokon commented on #459
Sure. It is by far not complete … and just a straw man. I am annotating a bit and will push it. Currently it is only capable of letting you specify a `config` path and using its `build` method.
I also added a test atom to the current `source/` so that you can see it actually builds it into `public/`:)

[2016-09-01 13:20] raphaelokon commented on #459
Okay … I pushed my initial stuff.

[code]

[2016-09-01 13:38] bmuenzenmeyer commented on #461
[source.zip](https://github.com/pattern-lab/patternlab-node/files/449749/source.zip)

Reproduction files

[2016-09-01 19:20] raphaelokon opened #462 "Enhance listStarterkits to return an actual list of starterkit repos"
##### Expected Behavior

[code]
##### Actual Behavior

[code]

[2016-09-02 10:13] gael-boyenval opened #464 "Improved data flow with scoped listItems"
I am using Pattern Lab Node `v2.4.4` on `Mac`, with Node `v6+`, using the `Gulp` Edition.

**first,  I maybe miss something regarding the way of organizing patterns and datas…
let me know if i’m doing wrong…**

today it is quitte a pain to achieve a smooth data flow across patterns.
I don't really know this is a bug or a design flow.
#### a breaking exemple using listItems

let assume we have :

a

[2016-09-02 12:01] #444 closed

[2016-09-02 12:01] #461 closed

[2016-09-02 13:14] raphaelokon commented on #459
Current CLI methods implementation status:

- [x] build
- [ ] patterns only
- [ ] serve
- [ ] export
- [x] help/usage information
- [ ] init_project
- [x] list_starterkits (Will implement #465)
- [ ] load_starterkit
- [ ] pack_starterkit

[2016-09-02 13:19] raphaelokon opened #466 "Rewrite tests to use a node friendly test suite"
The current implementation utilizes `grunt-contrib-nodeunit`.
I suggest to use a more node-friendly test suite like `tap`. There are many benefits to use a simple and concise test suite:
- https://remysharp.com/2016/02/08/testing-tape-vs-tap by @remy
- https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you-6aa105d8eaf4#.rt4fnsr8r by @ericelliott

[2016-09-02 13:24] gael-boyenval commented on #459
@raphaelokon do you know https://github.com/SBoudrias/Inquirer.js/ ?

Very nice to propose options tu the user in the cli process, very useful for any configuration phase.
- list selectors
- inputs
- check lists
- y/n inputs

i integrated them into a little cli tool i builded as a try, and that works very nice with commander.

[2016-09-02 13:36] bmuenzenmeyer commented on #466
As we discussed, the unit tests are in need of a level up. I love this idea.

[2016-09-02 13:39] raphaelokon commented on #459
Aye, used in some projects … already on my list for `list-starterkits` so that you can pick and automatically install a kit #463 . There is a nice bridge between commander and inquirer – https://www.npmjs.com/package/inquander

[2016-09-02 13:42] raphaelokon commented on #466
Cheers … I already utilizing `tap` (node-tap) for the CLI test. Also: the current tests `npm test` run (or try to run) Travis locally. This should probably be changed for better dev experience.

[2016-09-02 14:06] raphaelokon commented on #459
@bmuenzenmeyer

Can we clarify those methods:

- serve => I am assuming we run a local server (browsersync) in the public dir?
- export => What does this mean?
- init_project => What does this mean?
- pack_starterkit => This is currently not implemented in the patternlab core. How to go about it?

[2016-09-02 17:37] bmuenzenmeyer opened #467 "defaultPattern is not rendering on styleguide view"
I am using Pattern Lab Node `v2.5.1` on `Windows`, with Node `v5.5.0`, using the `Gulp` Edition.

##### Expected Behavior

* If i specify a defaultPattern, it should display when I launch.

##### Actual Behavior

* no defaultPattern shows up

##### Steps to Reproduce

[2016-09-02 18:45] geoffp opened #469 "Underscore-hidden patterns must be callable by shorthand partial style"
I am using Pattern Lab Node `v2.5.1` on `Mac`, with Node `4.4.7`, using the `Gulp` Edition.

**In Handlebars, and possibly other engines**, we are currently **off-spec** with our handling of callable patterns hidden by underscore-prefix.
##### Expected Behavior

Given a Mustache pattern at `atoms/00-somegroup/_00-foo.mustache` I should be able to call it as `{{> atoms-foo}}`.
##### Actual Behavior

[2016-09-03 02:46] bmuenzenmeyer commented on #459
BrowserSync, like edition-node-gulp does. If this dependency is too great perhaps someday we strip it out to the simplest possible thing that can serve `public/` and let consumers choose something more sophisticated if they want

Similar to [this existing configuration](https://github.com/pattern-lab/patternlab-node/wiki/Configuration#pattern-export) but I'd like to confirm it works like documente

[2016-09-03 02:48] bmuenzenmeyer opened #470 "Investigate and Standardize Pattern Export with PL PHP"
Confirm or standardize the behavior of pattern export with that of PHP.

Node: https://github.com/pattern-lab/patternlab-node/wiki/Configuration#pattern-export

vs

PHP http://patternlab.io/docs/advanced-exporting-patterns.html

[2016-09-03 03:13] bmuenzenmeyer opened #471 "Implement a CLI Init Project Command"
Implement a project init command as described in: https://github.com/pattern-lab/patternlab-node/issues/281

The landscape of the project has changed but the spirit is correct to me. These are just some initial thoughts. All feedback is welcome.
#### Default

[code]
#### Default Outcome

`existing/project/source/` - empty dirs that match [a typical `source/`](https://github.com/pattern-lab/pattern

[2016-09-03 07:24] raphaelokon commented on #459
By the time of your reply `serve` was already implemented and is up  … :-)

I will stub `pack_starterkit` for now as this requires direct implementation on the core and is separate from the CLI. Those tasks probe

`init` and `export` makes pretty much sense.

Also: We need to remove the existing CLI from core … it makes absolutely no sense to have it in there with the new CLI being separated out.

[2016-09-03 09:29] bmuenzenmeyer commented on #459
lol I sorta figured

Point to a commit that does this once you push it. My chief concern (if it even makes sense) is making the transition from the current `edition-node-*` gulpfile tasks to the new cli method calls as painless as possible. I told you all edition code is okay to change, but I'd still like to reduce change as much as possible. Don't know if I am making sense.

[2016-09-03 19:04] raphaelokon commented on #459
@bmuenzenmeyer Sure, we discussed that – I do not intend to break editions or any other implementations. Just wanted to point out that it would be the next rationale step. At some point it would be great to unify.

 I would say add a deprecation notice in `> v2.5.1`. And merge of the CLI + lifting the editions would result in a major version lift for all … updating them to v3.0.0.

[2016-09-03 19:20] raphaelokon commented on #471
I would probably keep the structure of a `project/starterkit` separate from the `core/cli` and questionnaire the user to generate the directories and the adjust `patternlab-config.json` to the outcome of the user inquiry.

[2016-09-03 19:34] raphaelokon commented on #471
Also: I wouldn't add a `--kit` but add it as a step in the inquirer.

[2016-09-03 20:14] raphaelokon commented on #471
What is the idea behind this? Making a patternlab project self-contained? Shouldn't that info sit in the patternlab config itself? Not sure. What if patternlab is just part of a bigger module (that's how I use it anyways) that already has a package.json?

[2016-09-04 21:14] bmuenzenmeyer commented on #471
Sure that would work, where `init` could potentially inquire to the user if they wish to see which starterkits are available.

FWIW: we don't store any starterkit info in the `patternlab-config.json` file today. though I believe PHP does. Today, starterkits are installed in `node_modules/` and looked for rather crudely.

This is and always will be the primary use case we have aimed to support. The

[2016-09-04 21:20] bmuenzenmeyer commented on #459
Editions are separately semver'd from core, with both grunt and gulp editions being on on 1.X right now. In my mind the CLI could be introduced as a `2.X` .minor point release to core if the current methods do not break, but this is something that we can figure out soon (and might be impossible, I'd have to look at the code in its entirety).

What's in a number? Well, at some point it is just a nu

[2016-09-05 06:31] raphaelokon commented on #471
Okay … I think you will like the current `init` implementation :> I am pushing it in a bit.

[2016-09-05 06:34] raphaelokon commented on #459
So do I. I think tho that at some point if you change/deprecate APIs it is just fair to to the user to be transparent.

Sure … we will figure it out. :>

[2016-09-05 10:21] raphaelokon commented on #471
You can checkout the current `init` here … https://github.com/raphaelokon/patternlab-node/tree/features/cli

[2016-09-05 14:08] raphaelokon commented on #470
Is the pattern export feature just exporting the `source` without `css/`, `js/` and `favicon.ico`?

How does the `patternExportPatternPartials ` influence the export?

[2016-09-05 20:00] bmuenzenmeyer commented on #470
I have yet to confirm, but I think it might actually export `public/patterns/`

That will likely be deprecated.

[2016-09-05 20:55] raphaelokon commented on #470
@bmuenzenmeyer Okay … I made the `exportDir`  configurable – and did not implement `patternExportPatternPartials`.

[2016-09-08 07:22] thenickname opened #472 "Rendering of nested patterns in mustache lists not working"
I am using Pattern Lab Node `v3.10.7` on `Mac`, with Node `v5.5.0`, using the `Gulp` Edition.

##### Expected Behavior
Nested patterns render in mustache lists.

##### Actual Behavior
When using a mustache list to repeatedly render e.g. an organism pattern, that includes nested patterns (some molecules), the molecules do not show up. More accurately, they did show up once but then never agian.
Wha

[2016-09-08 07:24] thenickname commented on #458
@bmuenzenmeyer thanks a lot! Switched to dev for now.

[2016-09-08 11:47] bmuenzenmeyer commented on #458
@thenickname FYI this has already made it to master, when the issue was auto-closed.

so switching back to `patternlab-node: '^2.0.0' and running an `npm update` will put you back on a more stable channel

[2016-09-08 12:03] bmuenzenmeyer commented on #472
I am on Pattern Lab Node `v2.5.1` and nested rendering is fine. Reading a different update of yours, you might be on an old version. Please update and let me know if it's still an issue. If it is, please zip up your test files.

I am using `starterkit-mustache-demo` to confirm this is working.

![image](https://cloud.githubusercontent.com/assets/298435/18348666/4ec1b874-7592-11e6-889f-423d009ec577

[2016-09-08 12:08] bmuenzenmeyer commented on #394
Two updates of sort:

Since [2.5.0](https://github.com/pattern-lab/patternlab-node/wiki/ChangeLog#v250) PL Node has supported data parsing and pattern inclusion inside head and foot. This should make them more flexible for teams.

Also, we (mainly @raphaelokon) are hard at work on a true CLI, which will make integration with existing toolchains even easier.

Closing this issue for now.

[2016-09-08 12:08] #394 closed

[2016-09-08 16:46] thenickname commented on #472
thanks a lot!! I will check it out.

[2016-09-08 17:02] thenickname commented on #472
oh thanks a lot it actually *is* working. Seems there was something wrong with my patternlab version.

Thanks for taking your time and checking it out.

[2016-09-08 17:02] #472 closed

[2016-09-11 22:03] dennisfrank opened #473 "Line breaks in pattern parameters"
I am using Pattern Lab Node `v2.5.1` on `Mac`, with Node `v5.3.0`, using a custom `Grunt` Edition.

Coming from Pattern Lab PHP I often format more complex pattern parameters with line breaks for better clarity. This seems to break the pattern include and nothing gets included at all:

[code]

[2016-09-11 22:52] dennisfrank commented on #457
Yep. Having the same issue issue (Pattern Lab Node `v2.5.1` on `Mac`, with Node `v5.3.0`, using a custom `Grunt ` Edition). :confused:

[2016-09-12 08:30] gael-boyenval commented on #457
+1 same here.

[2016-09-19 13:06] gael-boyenval opened #474 "styleModifiers are not included in pseudo patterns"
I am using Pattern Lab Node `v2.5.0` on `Mac`, with Node `v6+`, using the `Gulp` Edition.

##### Expected Behavior
for a given pattern X and his pseudo pattern :

patternX:
[code]

patternX~pseudo.json:
[code]

this should output  the included pattern Y with the style modifier
patternX-pseudo html output :
[code]

##### Actual Behavior
The styleModifier is not included :
[code]

[2016-09-21 17:27] bmuenzenmeyer opened #475 "Make the absence of source/_data/listitems.json a warning instead of an error"
Since we default this missing file to `{}` when not found, I think this should be downgraded from an error to a warning.

[2016-09-22 12:59] bmuenzenmeyer commented on #474
@gael-boyenval in your above breakdown, patternY.mustache looks like this correct?

[code]

[2016-09-22 13:03] bmuenzenmeyer commented on #474
confirmed bug.

![image](https://cloud.githubusercontent.com/assets/298435/18749134/10b057ca-809b-11e6-84c8-e5c6edb1c8b8.png)

[2016-09-22 13:04] bmuenzenmeyer commented on #474
[pseudomodifier474.zip](https://github.com/pattern-lab/patternlab-node/files/487312/pseudomodifier474.zip)

test files

[2016-09-22 13:08] gael-boyenval commented on #474
@bmuenzenmeyer : yes exactly !

[2016-09-22 17:00] bmuenzenmeyer commented on #474
@gael-boyenval this will be fixed with the next version release. !

[2016-09-23 12:38] bmuenzenmeyer commented on #448
@gael-boyenval merged and tweaked a bit. overall a good addition!

[2016-09-25 14:11] e2tha-e opened #477 "If defaultPattern is the only pattern of its type, that pattern gets eliminated entirely"
I am using Pattern Lab Node `v2.5.1` on `Mac`, with Node `v4.3.0`, using the `Gulp ` Edition.

##### Expected Behavior
* Given that the `defaultPattern` in `patternlab-config.json` is set to "pages-homepage"
* And that `source/_patterns/04-pages/00-homepage.mustache` is a valid Pattern Lab pattern
* And that it is the only pattern in `source/_patterns/04-pages`
* It is expected that this pattern i

[2016-09-26 12:49] bmuenzenmeyer commented on #477
I think you are encountering expected behavior, to an extent. Please check out https://github.com/pattern-lab/the-spec/issues/13 and https://github.com/pattern-lab/patternlab-node/wiki/Configuration#defaultpatttern for mroe info.

I think there is also a `2.5.1` bug with defaultPattern staged for release here: https://github.com/pattern-lab/patternlab-node/issues/467

[2016-09-26 14:03] e2tha-e commented on #477
Ok. I read the Wiki and see that the defaultPattern is not supposed to show in the navbar. So if the defaultPattern shows on the index page in the next release, please close this issue.

[2016-09-27 08:28] gael-boyenval commented on #448
@bmuenzenmeyer, yes great ! :)
We should maybe add an option to the config file for the indent size.
Every company has his own conventions
What do you think ?

[2016-09-27 12:03] bmuenzenmeyer commented on #448
I'm opposed to adding minutiae config options like this. I understand that my change might not be what all teams are used to, but their IDE should offer formatting options and ultimately the PL code pane is about readability, which to me, is less scrolling.

That's why I said [here](https://github.com/pattern-lab/patternlab-node/pull/449#pullrequestreview-1211876) that I was hoping we could pass t

[2016-09-27 12:44] bmuenzenmeyer opened #478 "Support editions installed as dependencies"
https://github.com/pattern-lab/edition-node-grunt/issues/17
https://github.com/pattern-lab/edition-node-gulp/issues/77

[2016-09-27 13:26] #448 closed

[2016-09-27 13:26] #474 closed

[2016-09-27 13:26] #475 closed

[2016-09-27 13:26] #478 closed

[2016-09-27 13:27] #462 closed

[2016-09-27 13:27] #467 closed

[2016-09-27 13:40] #432 closed

[2016-09-27 15:10] bmuenzenmeyer commented on #453
`Pattern Lab 2.6.0-alpha` should now allow motivated individuals  to create plugins. The behavior you describe could be done with such a plugin.

Read more: https://github.com/pattern-lab/patternlab-node/wiki/Creating-Plugins

[2016-09-27 15:10] #453 closed

[2016-09-27 15:13] bmuenzenmeyer commented on #345
`Pattern Lab 2.6.0-alpha` should now allow motivated individuals  to create plugins. The behavior you describe could be done with such a plugin.

Read more: https://github.com/pattern-lab/patternlab-node/wiki/Creating-Plugins

This issue has been actually implemented as the first plugin: https://github.com/pattern-lab/plugin-node-tab

[2016-09-27 15:13] #345 closed

[2016-09-27 15:15] bmuenzenmeyer commented on #345
`Pattern Lab 2.6.0-alpha` should now allow motivated individuals  to create plugins. The behavior you describe could be done with such a plugin.

Read more: https://github.com/pattern-lab/patternlab-node/wiki/Creating-Plugins

This issue has been actually implemented as the first plugin: https://github.com/pattern-lab/plugin-node-tab

[2016-09-27 15:15] bmuenzenmeyer commented on #344
`Pattern Lab 2.6.0-alpha` should now allow motivated individuals  to create plugins. The behavior you describe could be done with such a plugin.

Read more: https://github.com/pattern-lab/patternlab-node/wiki/Creating-Plugins

[2016-09-28 13:51] e2tha-e commented on #477
This has been fixed on release `v2.6.0-alpha`. Closing this issue.

[2016-09-28 13:51] #477 closed

[2016-09-29 08:12] ravaan commented on #415
Hey! I want to attempt, but I am not sure what Pattern Type Documentations are, any heads up to where I can read more about it?

[2016-09-29 14:17] bmuenzenmeyer commented on #415
hey @ravaan I will get back to you - a bit busy right now, but before October I will try to fill in some details

[2016-09-30 11:51] bmuenzenmeyer opened #481 "Add proper javadoc comments to core/lib/annotations_exporter.js"
Akin to work already done in `core/lib/ui_builder.js`

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 11:54] bmuenzenmeyer opened #482 "Add proper jsdoc comments to core/lib/lineage_hunter.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 11:55] bmuenzenmeyer opened #483 "Add proper jsdoc comments to core/lib/list_item_hunter.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 11:56] bmuenzenmeyer opened #484 "Add proper jsdoc comments to core/lib/object_factory.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 11:56] bmuenzenmeyer opened #485 "Add proper jsdoc comments to core/lib/parameter_hunter.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:00] bmuenzenmeyer opened #486 "Add proper javadoc comments to core/lib/pattern_engines.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:00] bmuenzenmeyer opened #487 "Add proper javadoc comments to core/lib/pattern_exporter.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:01] bmuenzenmeyer opened #488 "Add proper jsdoc comments to core/lib/patternlab.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:01] bmuenzenmeyer opened #489 "Add proper javadoc comments to core/lib/plugin_manager.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:03] bmuenzenmeyer opened #490 "Add proper javadoc comments to core/lib/starterkit_manager.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:04] bmuenzenmeyer opened #491 "Add proper javadoc comments to core/lib/style_modifier_hunter.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:04] bmuenzenmeyer opened #492 "Add proper javadoc comments to core/lib/utilities.js"
Akin to work already done in `core/lib/ui_builder.js`

Read the code, and describe each function and parameters accordingly.

https://en.wikipedia.org/wiki/JSDoc

[2016-09-30 12:12] bmuenzenmeyer commented on #326
Closing as vague

[2016-09-30 12:12] #326 closed

[2016-09-30 12:13] bmuenzenmeyer commented on #305
This could now be accomplished via plugin

[2016-09-30 12:16] bmuenzenmeyer commented on #113
Implemented as https://github.com/pattern-lab/plugin-node-tab

[2016-09-30 12:16] #113 closed

[2016-09-30 12:18] istx25 commented on #492
@bmuenzenmeyer: Hey there! I'd be interested in contributing. I'm new to JavaScript but I'm trying to get into the community more. I think starting with docs would be a good place to begin. :)

[2016-09-30 12:25] yarwest commented on #492
@istx25 just beat me to it, but if there is more documentation work to be done, I'd love to help. I have experience with JS and documentation

[2016-09-30 12:26] istx25 commented on #492
If you wouldn't mind providing me with some help, that'd be great. There's a bunch of other issues tagged with Hacktoberfest on this repository though. Lots of doc stuff!

[2016-09-30 12:27] yarwest commented on #491
@bmuenzenmeyer Hey! I'd love to document this file for you :) I have experience working with JS and JSDoc.

[2016-09-30 12:28] yarwest commented on #490
@bmuenzenmeyer Hey! I'd love to document this file for you :) I have experience working with JS and JSDoc.

[2016-09-30 12:28] yarwest commented on #488
@bmuenzenmeyer Hey! I'd love to document this file for you :) I have experience working with JS and JSDoc.

[2016-09-30 12:28] yarwest commented on #489
@bmuenzenmeyer Hey! I'd love to document this file for you :) I have experience working with JS and JSDoc.

[2016-09-30 12:28] yarwest commented on #487
@bmuenzenmeyer Hey! I'd love to document this file for you :) I have experience working with JS and JSDoc.

[2016-09-30 12:28] yarwest commented on #486
@bmuenzenmeyer Hey! I'd love to document this file for you :) I have experience working with JS and JSDoc.

[2016-09-30 12:29] yarwest commented on #492
@istx25 yeah, I noticed that too :) I'm sure the two of us can tackle them all and divide up the work

[2016-09-30 12:30] yarwest commented on #485
@bmuenzenmeyer Hello I'd love to document this file too

[2016-09-30 12:30] yarwest commented on #484
@bmuenzenmeyer Hello I'd love to document this file too

[2016-09-30 12:30] yarwest commented on #483
@bmuenzenmeyer Hello I'd love to document this file too

[2016-09-30 12:30] yarwest commented on #482
@bmuenzenmeyer Hello I'd love to document this file too

[2016-09-30 12:31] yarwest commented on #481
@bmuenzenmeyer Hello I'd love to document this file too

[2016-09-30 12:34] bmuenzenmeyer commented on #187
This is now handled best using annotations markdown.
http://patternlab.io/docs/pattern-adding-annotations.html

[2016-09-30 12:34] #187 closed

[2016-09-30 12:36] istx25 commented on #492
Can I have an email address for you? @yarwest

[2016-09-30 12:39] bmuenzenmeyer commented on #492
@istx25 @yarwest welcome!

Yes I am trying to load up the repository with things that can introduce people to the code base and help out. no contribution is too small.

For these javadocs, the thing I usually do is let my IDE/editor help auto-generate them. I use webstorm, so I follow these instructions: https://www.jetbrains.com/help/idea/2016.2/creating-documentation-comments.html

Your IDE of c

[2016-09-30 12:40] yarwest commented on #492
@istx25 surely, my email is yarnoboelens@gmail.com

@bmuenzenmeyer great :)

[2016-10-02 16:20] dbradf commented on #466
Hi,

I've added tap support to the project and converted over the of the test files to get started with this issue. I've opened the above pull request.

[2016-10-02 17:35] raphaelokon commented on #466
That's great @dbradf  I use `tap` on the patternlab-node-cli as well.

[2016-10-03 20:12] bmuenzenmeyer opened #499 "Add Plugin: Link to BrowserSyncUI"
[Add a plugin](https://github.com/pattern-lab/patternlab-node/wiki/Creating-Plugins) that adds a link to the browsersync UI similiar to PL 1.X (demo: http://www.brianmuenzenmeyer.com/patternlab/public/index.html)

![image](https://cloud.githubusercontent.com/assets/298435/19052291/cf38b064-897b-11e6-86a8-ce5bb60675ad.png)

[2016-10-05 14:37] tommcc commented on #250
Adding some examples here of cases where includes disappear due to combination of parameters or styleModifiers.

In the following scenarios, all of the buggy behavior is experienced when trying to view the organism's rendered output.

### Scenario 1 - Atom disappears entirely

**01-atoms/atom.mustache:**

[code]

**02-molecules/molecule.mustache:**

[code]

**03-organisms/organism.mustache:**

[co

[2016-10-05 15:09] e2tha-e commented on #250
@tommcc I'd encourage you check out my Pattern Lab fork: https://github.com/electric-eloquence/fepper
Most recursive parameter submission issues have been resolved there. I'll test out your example myself later, but I have a feeling that your example will render correctly.

[2016-10-05 16:37] bmuenzenmeyer commented on #250
I wonder if those two examples fail because in both, `atom.mustache` is not constructed to accept either styleModifiers or patternparameters, yet you supply them.

[2016-10-05 16:46] tommcc commented on #250
@bmuenzenmeyer: Nope—the behavior is the same while utilizing all passed-in parameters. I just took them out to make the reproduction case even simpler.

[2016-10-05 16:48] bmuenzenmeyer commented on #250
good to know, thanks

[2016-10-05 21:16] geoffp commented on #469
UPDATE: this works with Mustache! The only two reports of this have been in Handlebars templates!

[2016-10-05 21:39] geoffp commented on #469
Branch is https://github.com/pattern-lab/patternlab-node/tree/fix-hidden-pattern-references

[2016-10-06 02:52] bmuenzenmeyer commented on #287
closing as superseded by edition-node-grunt and lack of response on https://github.com/pattern-lab/patternlab-node/pull/289

[2016-10-06 02:52] #287 closed

[2016-10-06 03:45] bmuenzenmeyer opened #501 "Convert lineage_hunter_tests.js to use tap/ tape"
Change per https://github.com/pattern-lab/patternlab-node/issues/466

[2016-10-06 03:55] bmuenzenmeyer opened #503 "Convert list_item_hunter_tests.js to use tap/tape"
Change per #466

[2016-10-06 04:05] bmuenzenmeyer opened #505 "Convert markdown_parser_tests.js to use tap/tape"
Change per #466

[2016-10-06 04:17] bmuenzenmeyer opened #507 "Convert object_factory_tests.js to use tap/tape"
Change per #466

[2016-10-06 11:02] e2tha-e commented on #250
@tommcc I can confirm your example works correctly in Fepper. 😃

[2016-10-06 14:00] tommcc commented on #250
Thanks @e2tha-e for pointing Fepper. I like the features it brings, and will certainly keep an eye on it. I have heavily customized PL back- and front-ends, and for right now it makes more sense to stick with PL and hopefully help work through the small number of bugs that most affect us.

[2016-10-07 12:26] bmuenzenmeyer opened #510 "Convert parameter_hunter_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:27] bmuenzenmeyer opened #511 "Convert pattern_assembler_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:27] bmuenzenmeyer opened #512 "Convert pattern_engines_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:28] bmuenzenmeyer opened #513 "Convert patternlab_tests.js to use tap/tape #507"
Change per #466

[2016-10-07 12:28] bmuenzenmeyer opened #514 "Convert pseudopattern_hunter_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:29] bmuenzenmeyer opened #515 "Convert style_modifier_hunter_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:29] bmuenzenmeyer opened #516 "Convert ui_builder_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:30] bmuenzenmeyer opened #517 "Convert engine_handlebars_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:30] bmuenzenmeyer opened #518 "Convert engine_mustache_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:31] bmuenzenmeyer opened #519 "Convert engine_twig_tests.js to use tap/tape"
Change per #466

[2016-10-07 12:31] bmuenzenmeyer opened #520 "Convert engine_underscore_tests.js to use tap/tape"
Change per #466

[2016-10-07 19:13] bshyong opened #521 "Navigation fails on hosted site if "patterns" is in the path name"
I am using Pattern Lab Node `v2.5.1` on `Windows | Mac | Linux`, with Node `v5.9.0`, using the `Grunt` Edition.
##### Expected Behavior

Navigating in a pattern lab site deployed to a path containing the phrase `patterns` should not result in 404s.
##### Actual Behavior

I have a repo named vets.gov-patterns.
I've deployed a built version of our pattern lab to github pages, but Pattern Lab is mani

[2016-10-07 19:15] geoffp commented on #521
I can confirm this. My team ran into this a while back, and we dodged the bug by changing our deployment directory, and I'd forgotten about it.

Thanks for the report, @bshyong.

[2016-10-07 19:38] bmuenzenmeyer commented on #521
@dmolsen any ideas short of
* changing the deployed site to not have `patterns`
* changing what PL is looking for? perhaps with a sg-patterns namespace ?

[2016-10-08 05:06] bmuenzenmeyer commented on #344
Reopening after feedback. Doing this is low on my roadmap but if someone else wants to do it, all the tools should be in place

[2016-10-13 13:18] nadzic opened #534 "Special characters in string"
I am using Pattern Lab Node `v2.5.1` on `Mac`, with Node `v4.4.3`, using the `Grunt` Edition.
##### Expected Behavior
##### Actual Behavior

If I use in that way my molecule with (*) in the string it causes that the output does not work.

[code]

In the case if I remove (*) <- special characters it works normally. For example it works fine:

[code]
##### Steps to Reproduce

[2016-10-14 23:36] cdaringe opened #535 "getting started w/ patternlab-node is not documented/published"
##### Expected Behavior

i see patternlab as powerful when used as dependency.  i want rolling updates, which you cannot get when using a forked/cloned version of a project.  therefore, the `grunt`/`gulp` editions don't provide me much value, because the second i fork and modify, i immediately shut myself from upstream improvements in the project (as conflicts are sure to ensue).

is there a plan

[2016-10-14 23:41] cdaringe opened #536 "in search of the holy grail"
hello.  i care to use pattern lab to demo react components.  amidst the huge amount of documentation floating around patternlab, the docs have not given me clarity on how I could start building react components and have them rendered into patternlab's static site.

- is there a good entry point for learning how to do this?
- what barriers exist to allowing patternlab from offering the holy grail?

[2016-10-20 11:52] gael-boyenval opened #538 "cleaned template output loses formatting with cleaned option"
I am using Pattern Lab Node `v2.6.0-beta` on `Mac`, with Node `v6+`, using the `Gulp` Edition.
##### Expected Behavior

given this mustache template :

[code]

the output in pattern-info template panel should be identical
##### Actual Behavior

the output is :

[code]
##### Steps to Reproduce
- create a pattern with no html wrapping elements
- activate the cleanOutputHtml option

my sentiment : si

[2016-10-21 05:51] bmuenzenmeyer opened #539 "Multiple pattern parameters down a render tree cause issues"
As reported at https://gist.github.com/teehemkay/2b88a18488fe60d3a260ccad20e79e35

[2016-10-21 06:03] bmuenzenmeyer commented on #535
hi @cdaringe

[The first thing in the README](https://github.com/pattern-lab/patternlab-node#pattern-lab-node-core) is how to consume the core library using our current strategy, [editions](http://patternlab.io/docs/advanced-ecosystem-overview.html)

For the most part, you are fine by using an `edition` as a subfolder in a project - because the grunt or gulp tasks they ship with are relatively sta

[2016-10-21 06:03] #535 closed

[2016-10-21 06:07] bmuenzenmeyer commented on #536
this is a hot-topic of late - with a number of people interested in it. @geoffp have you had a chance to resurrect this recently?

react rendering would take the form of a react engine. you can see the other engines [here](https://github.com/pattern-lab?utf8=%E2%9C%93&query=patternengine-node)

engines most interact with the [core/lib/pattern_engnines.js](https://github.com/pattern-lab/patternlab-

[2016-10-21 14:38] bmuenzenmeyer commented on #536
💥 https://github.com/pattern-lab/patternengine-node-react

[2016-10-21 19:13] bmuenzenmeyer opened #540 "Implement Build Algorithm for Only Changed/Affected Patterns"
An idea has been floating around for a while to walk pattern lineage or reverse lineage when a pattern is changed, instead of rebuilding the whole pattern tree.

This is a large effort- but discussion can start here and move to implementation as we go.

Related concept: https://github.com/pattern-lab/patternlab-node/issues/327

[2016-10-21 19:43] cdaringe commented on #535
respectfully, how to use the editions is not what i'm after.  knowing how to use _this library_, how to use _this project_ is that which i have asked about in the title.  sorry for the lack of clarity.  i didn't want to use gulp/grunt.  i was looking into how to adapt patternlab-node into another tool, and expected some dev docs on this page. i expected to see patternlab-node's API docs.  there is

[2016-10-21 22:24] tburny commented on #540
Initially patternlab would build as normal, resolving the lineage and reverse lineage of each pattern.
We can then use the (reverse?) lineage to build a dependency graph of the patterns. Each node would consist of
a (pseudo-)pattern, a timestamp at which the source file (template or JSON) was last modified and a state.
When patternlab finishes, the state of each node is set to `clean` and the grap

[2016-10-23 22:34] geoffp opened #541 "Engines need to able to decide how output files' code is formatted and add files"
During development of the React engine, which is necessarily much more complex than other engines, it was discovered that the default output formatter (which is tuned to indent HTML output only) was destructive to the display of React components, which are JSX, causing them all to appear on one line. Likewise, because React components are required to be mounted to a container element, which must b

[2016-10-26 13:50] bmuenzenmeyer opened #543 "Better Handle Errors Thrown When Looking for a Deleted/Missing Pattern"
Pattern Lab is quite unforgiving when it fails to find a pattern that does not exist, usually throwing a cryptic error message.

We should better wrap and handle this scenario and tell users what pattern the engine is lookin for.

[2016-10-26 13:51] NickToye commented on #543
A recent error I received.

{ SyntaxError: Unexpected 'u' at line 1 column 2 of the JSON5 data. Still to read: "undefined"
    at error (/Users/nicktoye/Dev/edition-node-gulp/node_modules/json5/lib/json5.js:56:25)
    at word (/Users/nicktoye/Dev/edition-node-gulp/node_modules/json5/lib/json5.js:393:13)
    at value (/Users/nicktoye/Dev/edition-node-gulp/node_modules/json5/lib/json5.js:493:56)

[2016-10-26 18:57] tommcc commented on #539
I posted another two reproductions of this bug on #250 but posting it here since it more correctly describes the behavior.

In the following scenarios, includes disappear when trying to view the organism's rendered output.

### Scenario 1 - Atom disappears entirely

**01-atoms/atom.mustache:**

[code]

**02-molecules/molecule.mustache:**

[code]

**03-organisms/organism.mustache:**

[code]

### Sc

[2016-11-01 11:30] vpanugaling opened #549 "View All is not working on some patterns"
I am using Pattern Lab Node `v2.5.1` on `Windows`, with Node `v6.9.1`, using the `Gulp` Edition.

##### Expected Behavior
Click "view all" in the menu should display all patterns for a given category.
e.g.  css-utilities > view all (display all css utilities patterns)

##### Actual Behavior
Click "view all" in the menu is displaying an error =>
ex: css-utilities > view all => Cannot GET /patterns/

[2016-11-03 05:03] arianjinx opened #551 "Nested data loop support"
Inside data JSON
[code]

Inside main pages
[code]

Inside bank-list-item *what i expect* is to inject `id` to its children
[code]

Inside checkbox-main
[code]

Can't get this thing to work, is it possible with my current approach or is there any better approach way to solve this?

[2016-11-04 13:22] #501 closed

[2016-11-04 13:22] #503 closed

[2016-11-04 13:22] #505 closed

[2016-11-04 13:22] #507 closed

[2016-11-04 13:22] #510 closed

[2016-11-04 13:22] #511 closed

[2016-11-04 13:22] #466 closed

[2016-11-04 13:22] #512 closed

[2016-11-04 13:22] #513 closed

[2016-11-04 13:22] #514 closed

[2016-11-04 13:22] #515 closed

[2016-11-04 13:22] #516 closed

[2016-11-04 13:22] #543 closed

[2016-11-04 13:23] #469 closed

[2016-11-04 13:23] #487 closed

[2016-11-04 13:23] #489 closed

[2016-11-04 13:23] #490 closed

[2016-11-04 13:23] #491 closed

[2016-11-04 13:23] #492 closed

[2016-11-04 13:23] #517 closed

[2016-11-04 13:23] #518 closed

[2016-11-04 13:23] #519 closed

[2016-11-04 13:23] #520 closed

[2016-11-04 13:23] #541 closed

[2016-11-06 01:04] tburny commented on #540
Somehow rebasing with git behaves a bit strange :(

[2016-11-07 10:10] eliland commented on #549
I had a very similar problem on `Gulp` edition 1.3.2 and 1.3.3. Seems to have resolved itself with 1.3.4, so you might want to give that a go.

[2016-11-07 10:44] bramsmulders commented on #316
Hello again, i was updating from PL node 2.5.1(where this issue wasnt present anymore) to v2.6.1 in a new project(average build times: ~6 seconds). And the build times increased from ~6 seconds to ~12 seconds.

Is the something pushed which breaks the fix mentioned here?

[2016-11-07 14:01] dennisfrank opened #553 "listItems keys (`one` through `twelve`) can only be used once per pattern"
I am using Pattern Lab Node `v2.6.1` on `Mac`, with Node `v5.3.0`, using a custom edition as well as `Gulp` and `Grunt ` Editions.

I have some problems with Pattern Lab’s [listItems Variable](http://patternlab.io/docs/data-listitems.html):

[code]

##### Expected Behavior

##### Actual Behavior

##### This works

[code]

Result:

##### Issue

It seems that every key (`one` through `twelve`) can o

[2016-11-07 17:59] gael-boyenval opened #554 "PL does not support twig extends"
I am using Pattern Lab Node `v2.6.1` on `Mac`, with Node `v6.7`, using the `Gulp` Edition.

##### Expected Behavior
when extending a template, it extend the template…
it is referenced here too : https://github.com/pattern-lab/patternlab-node/issues/285

##### Actual Behavior
when extending, pl make it like including

##### Steps to Reproduce
x.twig
[code]
=> output `foobar`

y.twig
[code]
=> outpu

[2016-11-11 14:44] bmuenzenmeyer commented on #549
I have found and fixed this issue. I want to cover it with unit tests and then push out a release.

[2016-11-12 06:44] #549 closed

[2016-11-14 13:46] sandrojohanides opened #559 "Pattern subdir property contains incorrect directory separator on windows"
I am using Pattern Lab Node `v1.3.4` on `Windows`, with Node `v6.9.1`, using the `Gulp` Edition.

##### Expected Behavior
Pattern object subdir property should contain forward slash `/`

##### Actual Behavior
Pattern object subdir property contains backslash `\\` showing an error `Could not find pattern referenced with partial syntax ' + partialName + '. This can occur when a pattern was renamed,

[2016-11-15 13:09] raphaelokon opened #561 "Add benchmarks to cope with regressions"
This is a dev feature request to handle regressions when developing the PaternLab core.

In my opinion we should have at least micro benchmarks to have a confidence layer before pushing new stuff. Something like https://benchmarkjs.com would be a good start.

[2016-11-15 15:57] bmuenzenmeyer commented on #561
Would this be incorporated into Travis?

Catching performance regressions is important to me, but is always a bit of a challenge because we don't ship with large pattern trees.

[2016-11-15 16:02] raphaelokon commented on #561
Neither does v8 … but they have micro benchmarks and some static `projects` they run through their perf pipeline. And yes: This includes work :D

[2016-11-15 16:04] bmuenzenmeyer commented on #561
It'd be neat if, via webhook, additional checks could occur in a Travis-like fashion that pull down everything, install a large starterkit, and run perf metrics against a baseline. Am I aligned with your thinking?

[2016-11-15 16:05] raphaelokon commented on #561
To be fair: It is just something some folks I know are concerned about … and we could make sure that we do not slow down the core.

[2016-11-15 16:05] raphaelokon commented on #561
And yes … we are aligned :)

[2016-11-15 16:09] bmuenzenmeyer commented on #561
Agreed - performance has become more and more important!

:+1: x :100:

[2016-11-15 16:13] raphaelokon commented on #561
@bmuenzenmeyer Cheers – we are on the same side! Let's make `patternlab-node` 🚀

[2016-11-22 14:59] geoffp opened #563 "Handlebars engine: @partial-block unit tests failing under async-building"
We need to figure out what's going on here. Travis is currently failing, and I admit to not fully understanding how this feature works. This is here because the problem may be with the unit tests rather than the engine itself.

[2016-11-22 16:20] geoffp commented on #561
@raphaelokon and @bmuenzenmeyer -- I think this has now become important as we pursue async building. My own super informal performance tests run against the demo set of mustache patterns seems inadequate now.

We may not have a huge patten tree to test with yet, but it's something. It would be nice to have a more detailed set of performance counters than just the overall build time.

[2016-11-22 19:58] bmuenzenmeyer commented on #389
I dont see this as critical critical at this time Geoff unless you wish to take it on... it was just a captured thought.

[2016-11-22 19:59] geoffp commented on #389
That's cool. I may, at a leisurely pace -- it would be a nice little piece of beer-drinking work.

[2016-11-23 10:38] raphaelokon commented on #561
Nice one @geoffp
I think both, micro benchmarks and static tests with a big pattern tree, are important. Additionally we could even fork *popular* open source patterns and test against those. This is how V8 team does some of its testings: micro bench - static tests - real world pages

[2016-11-23 15:07] tburny commented on #561
Please bear in mind that the benchmarks are partly engine-specific. We should compare a few engines altogether, so we don't miss something.
For my company's patternlab, the previous release spent < 1 second on `processPatternsIterative`, ~6-10 seconds on `processPatternsRecursive` and 83 seconds on building the patterns.
For the latter I found that especially larger pages which transiently include

[2016-11-23 19:08] geoffp commented on #561
@tburny this is super true.

Handlebars, for example, has a much higher template compile cost than mustache, but may have much longer `processPatternsRecursive()` time due to the syntax extensions. I'd love to know how how this all stacks up.

Any volunteers to build tooling? :smile:

[2016-11-23 19:09] raphaelokon commented on #561
Good catch @tburny I couldn't agree more.
I think identifying the perf bottlenecks is really an iterative process as well … kind of hunting down mea leaks.

This is a good call as well.

[2016-11-25 05:36] bmuenzenmeyer commented on #471
Closing this issue- the other repo is the place to be and good discussion is found there

[2016-11-25 05:36] #471 closed

[2016-11-25 12:10] bmuenzenmeyer opened #566 "Refactor all logs"
**prework**
- [x] Finish https://github.com/pattern-lab/patternlab-node/pull/565 by replacing our lo-tech solution found within https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/utilities.js

**remaining**
- [x] Replace all console.logs per https://github.com/pattern-lab/patternlab-node/pull/565#issuecomment-262827227
- [x] use string templates instead of concatenation
- [x] pass

[2016-11-26 11:59] bmuenzenmeyer commented on #566
these aren't working yet...

[2016-11-26 12:26] bmuenzenmeyer commented on #566
I think the bulk of remaining work on this should wait until we have the CLI pass in the verbose flag, so we can finally take out `patternlab.config.debug`

[2016-11-28 01:06] geoffp commented on #566
I agree. We've wanted that forever.

[2016-11-28 14:22] bmuenzenmeyer commented on #254
replaced with #566

[2016-11-28 14:22] #254 closed

[2016-11-29 17:04] jcarpe commented on #429
I am using patternlab-node 2.4.1, but still experiencing exactly this issue.

[code]

Node v6.0.0, Gulp local 4.0.0-alpha.2

[2016-11-29 17:51] bmuenzenmeyer commented on #429
i wonder if this fails when using the `npm run gulp` strategy versus the global install. more digging is required.

of note too, is that 2.4.1 is no longer latest. perhaps upgrading could help

[2016-11-30 17:10] tburny opened #570 "Reproducible, reliable, unique pattern identifiers"
I am using Pattern Lab Node `v2.7.0` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

##### Expected Behavior
There should be a reproducible, always-presend unique identifier for each pattern.
##### Actual Behavior
Currently `Pattern` objects can either be created via `Pattern.create` or `Pattern.createEmpty`. Here, a `relPath` *may* be supplied, but an empty string is also accepted. T

[2016-11-30 21:02] bennom opened #571 "Viewer - configurable size options"
First of all, thank you for this great project, highly appreciated!

Currently I am using Pattern Lab Node `v2.0.0` on `Mac`, with Node `v5.4.1` (I should update, hmm), using the `Gulp` Edition.

I also use the _Bootstrap v4_ for a new project that comes with an updated [grid](https://v4-alpha.getbootstrap.com/layout/grid/) splitting: `xs`, `sm`, `md`, `lg` and  `xl`. Is it possible to set the vie

[2016-11-30 21:06] bmuenzenmeyer commented on #571
Hi @bennom

The idea behind the S, M, L is that we (designers and developers) do not have control over the viewport size of our users, so why pretend?

That said, I hope we can come up with something cross-platform for this - as many people have asked for it...

This is a duplicate of https://github.com/pattern-lab/styleguidekit-assets-default/issues/54 so I am going to consider it a :+1: for that

[2016-11-30 21:06] #571 closed

[2016-11-30 21:09] bennom commented on #571
Hey @bmuenzenmeyer

Didn't check that styleguidekit repo for this issue. But good know! Thank you 👍

[2016-12-01 14:56] tburny opened #572 "Patternlab should become a concrete class"
I am using Pattern Lab Node `v2.7.0 (dev)` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

Currently, the `Patternlab` "class" is just an object (`{}`)which is extended here and there. Here a "convention over configuration" pattern is applied: Properties of the PL object are added as required.

This approach has the following disadvantages:
- The overall set of propierties the PL obje

[2016-12-06 14:09] jcarpe commented on #429
No, I think I realized that I was screwing up the command. I'll close since it's working currently.

Thanks!

[2016-12-09 19:48] bmuenzenmeyer opened #575 "Investigate Support for Pattern Links within Pattern Parameters."
I am using Pattern Lab Node `v2.7.0` on `Windows`, with Node `v5.5.0`, using the `Gulp` Edition.

##### Expected Behavior

`{{> components-foo("url": "link.pages-status-errors" ) }}` yields the proper-routed link on the partial

##### Actual Behavior
Rendered html still shows `[root]/link.pages-status-error`

##### Steps to Reproduce

See above

[2016-12-12 18:39] tburny commented on #540
# DRAFT: Release Notes for incremental builds
For speeding up your pattern lab, a new feature called incremental builds has been added in `Patternlab Node  2.8.0`. Instead of rebuilding the whole Patternlab, only changed patterns (and files including these) will be rebuilt.

- Also an export to GraphViz has been added.
- Patternlab will now print which patterns have been built yet, so correctness

[2016-12-16 17:55] acarnwath opened #576 "Annotation window covers the bottom of the iframe view"
I am using Pattern Lab Node `v2.6.2` on `Mac`, with Node `v4.2.4`, using the `Gulp` Edition.

##### Expected Behavior
When I have a long pattern that causes the window to scroll, and an annotation is at the bottom of it, when I open up the annotation window, I should be able to see what the annotation is referring to.

##### Actual Behavior
The annotation overlays the iframe and does not adjust it

[2016-12-16 18:19] acarnwath commented on #576
I fixed it temporarily by adding the following in source/_meta/_01-foot.mustache (note that I have included jQuery prior, this does not come out of the box with PL.

[code]

[2016-12-19 18:06] bmuenzenmeyer commented on #540
This just made it to alpha release! https://github.com/pattern-lab/patternlab-node/releases/tag/v2.7.1-alpha

[2016-12-20 13:05] bramsmulders opened #580 "Renaming pattern causes patternlab to break"
I am using Pattern Lab Node `v2.7.1-alpha` on `Mac`, with Node `v4.4.1`, using the `Gulp` Edition.

##### Expected Behavior
Renaming a pattern rebuilds the pattern tree without issues

##### Actual Behavior
When renaming a pattern the pattern does not match anymore in the `dependencyGraph` and thus the builder cannot find the pattern anymore. It throws an error. The only solution is to remove the

[2016-12-21 03:09] bmuenzenmeyer commented on #198
Duplicate https://github.com/pattern-lab/patternlab-node/issues/576

[2016-12-21 03:09] #198 closed

[2016-12-21 03:11] bmuenzenmeyer commented on #576
I think the proper place to fix this is https://github.com/pattern-lab/styleguidekit-assets-default/issues/6 (which I just reopened) but I will most certainly reference your work when we get to it - thanks @acarnwath !

[2016-12-21 03:11] #576 closed

[2016-12-23 16:41] tburny opened #581 "Incremental builds: Setting cleanPublic = true after incremental build does not recompile all patterns."
I am using Pattern Lab Node `v2.7.0-alpha` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

##### Expected Behavior
When `cleanPublic = true` is set as configuration option, PL should simply rebuild all patterns.

##### Actual Behavior
It might be that the serialized graph
- becomes out of sync with the file system, resulting in unspecified behaviour
- that there are already compiled t

[2016-12-23 18:07] tburny opened #582 "Incremental Builds: Changing the pattern markdown should rebuilt the pattern"
I am using Pattern Lab Node `v2.7.1-alpha` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

##### Expected Behavior
When modifying the markdown file of a pattern, the pattern should be marked for rebuild.

##### Actual Behavior
Nothing is done

[2016-12-23 18:11] tburny opened #583 "Incremental Builds: Delete old output file if pattern was removed or deleted"
I am using Pattern Lab Node `v2.7.1-alpha` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

##### Expected Behavior
When moving or deleting a pattern template or pseudo-pattern, remove the previous output file.

##### Actual Behavior
Output is kept, but linked nowhere, cluttering the output folder.

[2016-12-23 18:17] tburny opened #584 "Incremental builds: Flag pattern for rebuild if output does not exist yet"
I am using Pattern Lab Node `v2.7.1-alpha` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

##### Expected Behavior
If the `lastModified` timestamp of the output cannot be read (because it does not exist), recompile the pattern

##### Actual Behavior
Unsure.

##### Steps to Reproduce

[2017-01-05 16:01] bmuenzenmeyer opened #586 "Incremental Builds: Updating an individual pattern breaks viewall page rendering"
I am using Pattern Lab Node `v2.7.1-alpha` on `Windows`, with Node `v5.5.0`, using the `Gulp` Edition.

##### Expected Behavior

_With `cleanPublic` set to false, incremental build functionality should be enabled._

Altering one file, `pattern1.mustache` within `_patterns/test/group1` should cause it to incrementall rebuild.
However, this update should be visible on any viewall page alongside its

[2017-01-06 16:00] NickToye opened #587 "Pattern Lab Reports Missing Patterns in Console"
I am using Pattern Lab Node `v2.6.2` on `Windows | Mac | Linux`, with Node `v7.4.0`, using the `Gulp ` Edition.

##### Expected Behavior

Although on the frontend there is no issues, I am getting this message in my gulp output:

Now I call molecules-cta in this file **source/_patterns/molecules/00-banners/banner.mustache**

   <div class="c-banner">

    <div class="c-banner__wrapper">

      {{#

[2017-01-06 16:08] bmuenzenmeyer commented on #587
Thanks for the report @NickToye

Can you also please provide the code for molecules-cta and banner.json, if it exists.

[2017-01-06 16:16] NickToye commented on #587
molecules-cta

`{{> atoms-button:c-btn--ghost(button: "Call to action") }}`

banner.json

`
    {
    "cta": true
  }
`

[2017-01-06 16:24] bmuenzenmeyer commented on #587
and for completion's sake, atoms-button

helps complete the complete render tree.

I take it `text` is then defined globally?

[2017-01-06 19:03] NickToye commented on #587
`<button class="c-btn {{ styleModifier }}">{{# transactional }}<i class="fa fa-fw fa-payment-basket"></i>{{/ transactional }}{{ button }}</button>
`

I did have text as an option in the banner.json, thought that may have been the issue, but it wasn;t as I took it out.

[2017-01-06 22:43] tburny commented on #587
I can confirm the problem of "there is a warning although the pattern exists"

[2017-01-09 14:11] georgiee commented on #586
Just to raise awareness:
I am using Pattern Lab `Node v2.7.1-alpha` on `OSX 10.12.2` with Node v7.0.0, using the Gulp Edition, `cleanPublic = true` and I get the very same error.

Reproducible by running `patternlab:patternsonly` which excludes any other source of error.
Unpredictable output. Sometimes compiles latest changed mustache file sometimes nothing.

Mentioned workaround works for me too.

[2017-01-09 17:26] bmuenzenmeyer commented on #586
@georgiee thanks for the report - a set of changes on the `dev` branch should have fixed the `cleanPublic` = `true` side of things, if you are clamoring for that fix

[2017-01-09 21:20] bmuenzenmeyer opened #588 "Add tests/ to npmignore file"
Raphael clued me in on https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package which we should most definintely be doing for `tests/` as normal consumers have no reason to get these files during distribution.

[2017-01-09 21:22] raphaelokon commented on #588
Or use `files: ['core/']` to package.json to exclude all explicitly and only include `/core` into the package :)

[2017-01-09 21:35] raphaelokon commented on #588
Reference here: https://docs.npmjs.com/files/package.json#files

[2017-01-10 09:51] georgiee commented on #586
Thanks for that quick response. I'm fine with the stable 2.6.2 for now. But I gave the dev branch a quick test anyway and it worked like promised. I love to see incremental builds finally coming to pattern lab. Thanks all your efforts.

[2017-01-10 10:56] Anshdesire opened #589 "How to use with angular2.0"
How to use with angular2.0

[2017-01-11 11:49] tburny commented on #586
@georgiee `patternlab:patternsonly` should not rebuild the `View all` pages, but the patterns only. That said, you probably won't see any effect unless you view a single pattern in the browser only.

[2017-01-13 08:26] tburny commented on #589
Can you clarify your problem a bit?

[2017-01-13 09:07] tburny commented on #587
@NickToye I took the time to do some research on the topic. The warning is emitted whenever there is a `data link` to a pattern that does not exist anymore. Such links can be defined in either the pattern JSON or globally in the `_data` folder (`_data/data.json`).

[2017-01-13 10:12] tburny commented on #586
The UI uses a plain mustache template (i.e. not a Pattern) via `buildViewAllHtml() -> `pattern_assembler.renderPattern()`. In the `else` branch there it creates a new empty pattern with all patterns in a group (i.e. `atoms`) as partials. However `patternPartialCode` is undefined for each pattern in `data.partials`, thus there is no output.

[2017-01-13 12:57] bmuenzenmeyer commented on #589
As someone asked on stackoverflow, [Does Pattern Lab “not mix well” with Angular?](http://stackoverflow.com/questions/39515130/does-pattern-lab-not-mix-well-with-angular/39543032#39543032), Angular and Pattern Lab are compitable in that they don't have much to do with another.

PL can run arbitrary javascript within the confines of a pattern.

![](https://github.com/bmuenzenmeyer/patternlab-node-a

[2017-01-13 13:00] bmuenzenmeyer commented on #587
@tburny thanks for the attempt at issue reproduction - I have no doubt that pointing people in the direction of their data is helpful, and the warning should probably say as such.

To fill you in, I've been chatting with @NickToye on gitter and he asserted that no such data links exist - therefore I asked him to create this issue.

That you cannot recreate the problem with the sample patterns supp

[2017-01-14 02:59] bmuenzenmeyer commented on #586
Confirmed this is working now.

Will be doing one final run of some of this functionality and then releasing!

[2017-01-14 05:35] #580 closed

[2017-01-14 05:35] #582 closed

[2017-01-14 05:35] #584 closed

[2017-01-14 05:35] #586 closed

[2017-01-14 05:35] #588 closed

[2017-01-14 05:35] #581 closed

[2017-01-14 05:35] #583 closed

[2017-01-14 05:35] #540 closed

[2017-01-15 02:10] bmuenzenmeyer opened #593 "chalk must be a dependency"
I am using Pattern Lab Node `v2.7.1` on any platform.

Chalk is listed as a `devDependency` but must be a dependency.

testing locally with `npm link` seemed to miss this, as did travis.

[2017-01-15 02:15] #593 closed

[2017-01-17 10:35] Anshdesire commented on #589
@tburny - Tried to add my files in patternlab-config but failed to do so. I think there should be better explanation of patternlab-config file.

[2017-01-17 13:05] bmuenzenmeyer commented on #589
@Anshdesire
I suggest you acquaint yourself with how [editions lilke edition-node-gulp](https://github.com/pattern-lab/edition-node-gulp) work with this core repository. After that, you could use  the examples I provided above to see how Angular works with Pattern Lab. The above is a complete, although simple, example.

* Configuration is documented here: https://github.com/pattern-lab/patternlab-

[2017-01-17 13:50] bmuenzenmeyer opened #595 "Implement dynamic listItems.Number"
crosspost from https://github.com/pattern-lab/patternlab-php/issues/167

thanks to @emilz0r for finding and bringing this to my attention

[2017-01-18 01:34] carlosliu opened #596 "Using underscore to hide pattern folder cause critical error in Windows environment"
I am using Pattern Lab Node `v2.7.2` on `Windows | Mac | Linux`, with Node `v4.7.2`, using the `Gulp` Edition.

##### Expected Behavior
Putting underscore as the first character of a pattern directory name, such as `00-atoms\_00-blah`, should exclude `_00-blah` from the library.

##### Actual Behavior
It throw following critical error
` Could not find patternType 00-atoms-00-atoms. This is a criti

[2017-01-18 09:12] tburny opened #598 "Replace all var with let/const"
I am using Pattern Lab Node `v2.7.2` on `Linux`, with Node `v4.6.2`.

For consistency and code quality we should replace all existing `var` keywords with `let` or `const` for safer variable scoping.

[2017-01-18 11:17] NickToye commented on #587
I don't know what else to do here.  I'd be happy to privately share my repo so can verify I've not missed anything.

[2017-01-18 13:13] bmuenzenmeyer commented on #587
@NickToye that'd be helpful at this point, if you are comfortable

[2017-01-18 16:22] NickToye commented on #587
https://github.com/NickToye/pl-private

[2017-01-18 16:23] NickToye commented on #587
I\ve added you Brian and tburny too.

[2017-01-18 16:27] tburny commented on #587
Thanks

[2017-01-18 17:36] tburny opened #599 "Allow data.json inheritance at pattern group level"
I am using Pattern Lab Node `v2.7.1` on `Linux`, with Node `v4.6.2`, using the `Grunt ` Edition.

##### Expected Behavior
Especially for patterns in the `pages` category it should be possible to override the global `data.json` with category-specific values. Pattern data can still override the data, so the chain should be `_data/data.json` &rarr; `_source/patterns/pages/data.json` &rarr; `_source/p

[2017-01-18 17:46] james-nash commented on #599
As you point out, there could be an (admittedly unlikely) naming clash if someone happens to have a pattern called data.

To avoid that, how about having the category-specific JSON file one level up like this:

[code]

This approach sort of mimics how per-pattern JSON files live next to the Mustache files they relate to, in that it puts the per-category JSON files next to the folder they relate to

[2017-01-18 17:48] bmuenzenmeyer commented on #599
To me, this is the sort of thing that, if we were to support it, we should build it correctly across platforms, or at least get it voted across both.

[2017-01-18 17:51] tburny commented on #599
You mean for both PHP and Node?

[2017-01-18 17:52] bmuenzenmeyer commented on #599
correct. I understand the utility, but wish to adhere to the conventions Dave and I put in place for making significant changes to the core experience.

https://github.com/pattern-lab/the-spec is the right place to debate this, in my opinion

[2017-01-18 17:53] tburny commented on #599
@james-nash Maybe it would be a good idea to simply mimic the structure of `_source/patterns` subfolders in `_data`, e.g. `_data/00-atoms/data.json`. This way we still can have a `_source/patterns/00-atoms/data.html` pattern with no clashes.

[2017-01-18 17:54] bmuenzenmeyer commented on #599
worth noting, this is how markdown works too for sub-categories

[2017-01-18 17:55] james-nash commented on #599
Seems sensible.

FWIW, an additional scenario where this is useful is the pages category, if you're (strictly?) following Atomic Design. For atoms, molecules, organisms and templates you might want to use lorem ipsum text and wireframe-like boxes as image placeholders - that's easily done via the root `data.json` and `listitems.json`. However, on pages you want to substitute those for example text

[2017-01-18 17:58] james-nash commented on #599
@bmuenzenmeyer @tburny Happy to raise an issue for this over on the spec project, unless one of you is already doing that

[2017-01-18 17:59] tburny commented on #599
Go for it :+1:

[2017-01-18 18:03] james-nash commented on #599
@bmuenzenmeyer Am I allowed to? It looks like all spec issues so far came from Dave Olsen or yourself. Don't want to be treading on anyone's toes :-)

[2017-01-18 18:12] bmuenzenmeyer commented on #599
others are encouraged. only him or I may call a vote on the topic once we've figured out the details.
you will see the format of other spec enhancements

[2017-01-18 18:12] james-nash commented on #599
Ok cool. Doing it now.

[2017-01-18 18:54] james-nash commented on #599
@bmuenzenmeyer Done: https://github.com/pattern-lab/the-spec/issues/31

I wasn't sure what to put for the timeline and tagging stuff at the bottom, so I've commented those bits out for now. Feel free to edit as you see fit (or tell me what to put in there).

[2017-01-21 16:04] somatonic commented on #559
Hi, I´m working with PL on MacOSX and now tried my project on Windows and run into this bug. Ißm also using verbose mustache include syntax.

I investigated and found it´s a dir separator issue. I added a line in pattern_assembler.js to get it working, I´m sure this is not the correct fix but gives a hint.

´´´
    //else look by verbose syntax
    for (var i = 0; i < patternlab.patterns.length; i

[2017-01-21 16:53] sandrojohanides commented on #559
@somatonic we (seemingly) managed to fix it with adding 2 lines in `\node_modules\patternengine-node-mustache\lib\engine_mustache.js"`:

`
 22 var path = require('path');
113 foundPatternPartial = foundPatternPartial.replace("/", path.sep);
`

It should replace the slashes found in partials with correct path separators. But I haven't gotten around a PR :/

[2017-01-21 22:14] somatonic commented on #559
Thanks @sandrojohanides. I tried this out and it's not working. This replaces only the first occurence of "/" and if you have subdirs it ends up "00-pattern\pattern1/pattern1".  I changed it to:

`foundPatternPartial = foundPatternPartial.replace(/\//g, path.sep);`

But then the check in pattern_assembler.js will fail for certain patterns still. So I added my code path.sep there and it started wor

[2017-01-21 22:22] sandrojohanides commented on #559
No, thank you, it's great to have an all-around working solution. I'll try it out on monday.

[2017-01-25 21:39] bmuenzenmeyer commented on #539
I've updated https://github.com/pattern-lab/starterkit-mustache-acidtest/issues/1 with the results of my spec-parity testing between PL PHP and PL Node.

Now, to fix!

[2017-01-26 08:01] georgiee opened #600 "Mustache Syntax Highlighting broken"
I am using Pattern Lab Node `v2.7.2` on `Mac`, with Node `v7.4.0`, using the `Gulp` Edition.

##### Expected Behavior
Correct highlighted mustache syntax for mustache tags outside of attributes.
This works (mustache tags within attribute class)

[code]

This should work (mustache tags wrapping the whole attribute class or any other attribute)
[code]

##### Actual Behaviour
Wrong syntax highlightin

[2017-01-26 20:25] jabas commented on #587
Working on upgrading up from 2.6.0-alpha now, and I'm finding that the error is triggered if the partial file is in a position _after_ the file asking it to be included when going through your patterns in order.

In my case, I have a **02-patterns/00-header/00-header.mustache** file that includes a **02-patterns/00-header/01-location-overlay.mustache** within it. That triggers the "Could not find

[2017-01-26 21:21] bmuenzenmeyer commented on #587
Interesting analysis - one that I would not have guessed. IIRC, we walk all patterns before attempting to evaluate them, but something is amiss if what you say is true.

[2017-01-26 21:34] bmuenzenmeyer commented on #587
@NickToye that repo no longer works for me

[2017-01-30 05:18] bmuenzenmeyer opened #602 "Update `package.json` to 3.0!"

[2017-01-30 05:22] bmuenzenmeyer opened #603 "Pattern Lab Node Core 3.0"
Single mega-issue to track all work and longform explain 3.0 goals and direction. Buckle up.

Pattern Lab Node has enjoyed tremendous interest from its humble roots. I have y'all to thank for its continued relevance and success. Thank you to everyone who has used the tool, encouraged me, contributed back, reported issues, and shared what they've built - it's humbling and intimidating and represent

[2017-01-30 06:29] bmuenzenmeyer commented on #136
The advent of plugins has made this irrelevant. I am working on a theme plugin of sorts, and motivated individuals can and have completely customized the PL UI.

[2017-01-30 06:29] #136 closed

[2017-01-30 06:30] bmuenzenmeyer commented on #11
This issue has been opened forever.
Closing

[2017-01-30 06:30] #11 closed

[2017-01-30 06:31] bmuenzenmeyer commented on #589
Closing this

[2017-01-30 06:31] #589 closed

[2017-01-30 06:31] bmuenzenmeyer commented on #193
This could likely be accomplished with a plugin.
Closing.

[2017-01-30 06:31] #193 closed

[2017-01-30 06:34] bmuenzenmeyer commented on #316
[Incremental builds](https://github.com/pattern-lab/patternlab-node/wiki/Incremental-Builds) are the solution for this going forward. I am interested in more performance improvements if they are small and aimed at memory management and the like.

[2017-01-30 06:35] bmuenzenmeyer commented on #241
closing as too general

[2017-01-30 06:35] #241 closed

[2017-01-30 06:36] bmuenzenmeyer commented on #250
I plan to move this use case into https://github.com/pattern-lab/starterkit-mustache-acidtest to understand it's spec compliance

[2017-01-30 09:43] bramsmulders commented on #316
This is actually not fixed by incremental builds. The problems from this bug caused the total bouild time to be doubled. Incremental builds only shave off half of that(already doubled up) time. So no actual gains here.

The problem lies within the use of lots of data. For every separate data.json file the build takes longer to load even before actually parse templates.

[2017-01-30 09:47] tburny commented on #316
I am reopening this issue because @bramsmulders is correct here.

[2017-01-30 09:48] bramsmulders commented on #316
I'm going to create a demo data/pattern set to demonstrate it tonight.

[2017-01-30 09:49] tburny commented on #316
That would be amazing! Maybe we can do some profiling then?

[2017-01-30 10:12] tburny opened #604 "Faster pattern preprocessing"
I am using Pattern Lab Node `v4.7.2` on `Linux`, with Node `v4.7.0`, using the `Grunt` Edition.
In Spirit of #316

Currently the `processPatternsIterative` and `processPatternsRecursive` methods in `patternlab.js` take a long time (in terms of magnitudes 10 seconds), especially for large pattern trees with lots of data.

We should therefor collect ideas how to improve this step.

- Extend incremen

[2017-01-30 10:14] tburny commented on #488
@yarwest If you are still interested it would be amazing if you could help :)

[2017-01-30 10:18] tburny commented on #392
@bmuenzenmeyer Can we simply publish an artifact to NPM that contains the interface of a pattern engine?
This way:

- we can ensure via package.json that the interface matches the patternlab version. If we change the reqired interface, we simply exclude the PL version from using the newer one
- implementors know what to do via a unified JSDoc without digging to deep into PL

[2017-01-30 10:19] tburny commented on #376
What is the state of this?

[2017-01-30 11:17] bramsmulders commented on #316
hmmm, i was upgrading a project of ours to 2.7.2. Lots of templates, lots of data, after upgrading and running patternlab i get an `JavaScript heap out of memory` error. This happens after 2 minutes of compiling.

In comparison:
The same set of data & patterns compiles easily within 2.5 seconds in PL-PHP.

I cannot grasp this amount of difference between PHP & node, i can live with built times up

[2017-01-30 11:26] tburny commented on #316
By the way what pattern engine do you use?

Can you try do rebuild your project with cleanOutput = true? This should disable incremental builds so we can exclude it as a cause of the problems.

[2017-01-30 11:33] bramsmulders commented on #316
I'm using the mustache engine, out of the box.
With incremental builds disabled everything compiles, but still takes ~127 seconds per build.

All templates are processed in the console in 90 seconds but the task is not completed then, it waits for an additional 30 seconds to complete the task

[2017-01-30 11:39] yarwest commented on #488
@tburny I'll take a look later today :)

[2017-01-30 14:15] bmuenzenmeyer commented on #604
Anything we do needs to incorporate all of the async work @geoffp is doing. I suggest we merge `dev` into his branches asap. This will be a priority of mine. I know there are some PRs out there to this effect.

[2017-01-31 04:15] bmuenzenmeyer commented on #392
I am in favor of this approach. @geoffp is the brain-child behind most of what Pattern Engines have become, and I strongly suggest we consult with him too.
Heck, it may help with our ongoing React PatternEngine.

[2017-01-31 05:25] geoffp commented on #603
Bam -- I just did the first merge of latest master and the async stuff, and then came here and saw this! I still have a lot to figure out about what the hell I was thinking two months ago.

[2017-01-31 07:03] geoffp commented on #604
@bmuenzenmeyer, @tburny, see https://github.com/pattern-lab/patternlab-node/pull/562#issuecomment-276290055

[2017-01-31 07:11] bmuenzenmeyer commented on #376
The above list is still accurate, with my taking potshots at different items every so often. As you can see, there is some diminishing returns as you get down the list, as we haven't fully realized a usage of some metadata - but things like `order` and `state` were no-brainers because they removed metadata from the filename itself. You can say the same about `hidden`, whih is the next we should ta

[2017-01-31 14:03] bmuenzenmeyer commented on #392
@geoffp could one argue that the functions and properties contained within https://github.com/pattern-lab/patternengine-node-handlebars/blob/master/lib/engine_handlebars.js construct most if not all of the expected API?

[2017-01-31 15:10] geoffp commented on #392
Yeah, Handlebars has excellent coverage, except for the quirks that exist only for our extended dialect of mustache, like `expandPartials`.

I think if I were implementing a new engine, my first move would be to clone an existing one and hope it's well documented in comments. I tend to think that some kind of barebones or stub engine would do a worse job than a real one at explaining itself. They'

[2017-01-31 15:11] geoffp commented on #392
That said, it would be nice to have a wiki page or README that explains some of the setup process involving npm link and whatnot would be great, and any principles that don't feel quite at home in comments.

[2017-01-31 15:16] geoffp commented on #316
I did some profiling for the asynchronous building work that found that a major source of delay is the HTML beautification step. I forget what the option is called just now (on my phone).

[2017-02-01 13:28] bmuenzenmeyer commented on #316
`cleanOutputHtml`

[2017-02-01 14:41] geoffp commented on #316
That's the one. I had the impulse to implement a worker thread pool to make it faster, but I controlled myself. @bramsmulders, do you have `cleanOutputHtml` set?

[2017-02-01 17:50] tburny opened #605 "Still continue on pattern build failure/List failed patterns"
I am using Pattern Lab Node `v2.7.2` on `Linux`, with Node `v4.7.X`, using the `Grunt ` Edition.

##### Expected Behavior
When a pattern fails to build, it is listed as "failed" in the console output after writing the output.
Even when a pattern fails we still can build the rest and show an error message instead of the failed template.

##### Actual Behavior
No output is written if the engine thro

[2017-02-02 08:58] bramsmulders commented on #316
Will check in a few, hold on

[2017-02-02 15:01] garrettc opened #606 "Pattern parameters not working in conjunction with style modifiers."
I am using Pattern Lab Node `vv2.7.2` on `Mac`, with Node `v7.5.0` (behaviour also seen on `v6`), using the `Gulp` Edition.

I have an atom

[code]

And I'm calling it in a molecule template like so

[code]

But the resulting HTML in PL is

[code]

Nothing is getting replaced, apart from `btnText` which is coming from `data.json`.

If I remove the patter parameters then the style modifiers come th

[2017-02-03 07:45] benhalverson commented on #419
@heroheman
* Are you still experiencing this issue?
* Can you provide the code for the _icon.dark.mustache?
* What is an icon.viewbox?
* Were you using a starterkit? Which one?

Based on the above error it mentions an "Invalid Template" and you mention that one of the files was empty so my first guess is it took the empty file as an invalid template and returned undefined instead.

@bmuenzenmeyer

[2017-02-03 08:34] tburny commented on #598
Great :)

[2017-02-03 10:11] tburny opened #607 "Localisation in PatternLab"
I am using Pattern Lab Node `v2.7.2` on `Linux`, with Node `v4.7.1`, using the `Grunt ` Edition.

# Feature request
I would like to suggest a Localizable PatternLab(PL). Most websites are available in more than just one language, so you might want to put translation strings into your PL Templates. For instance https://github.com/headissue/patternengine-node-thymol would in theory support Java .pro

[2017-02-03 13:27] bmuenzenmeyer commented on #598
Thanks for offering your help @benhalverson.

I am a bit worried that submitting this PR against `dev` would lead to many conflicts with the async work going on. I suggest working against a version of that.

@geoffp to reduce all of this confusion, but leave `dev` open for 2.X work, are you alright with moving your async work into a `dev3.0` branch?

[2017-02-03 13:38] bmuenzenmeyer commented on #598
@benhalverson @tburny @geoffp @raphaelokon I have branched the latest async stuff I could was reported stable to `dev-3.0`

[2017-02-03 13:41] bmuenzenmeyer commented on #603
Thanks for all your work so far @geoffp

Because others a stepping up to the plate and offering help with changes, I made a `dev-3.0` branch to encapsulate our running work toward this milestone. I only merged what you had deemed stable, and still need to poke around some of the pattern ordering work (but did merge a pretty old fix of my own into it)

[2017-02-05 20:31] bmuenzenmeyer commented on #603
@geoffp @raphaelokon @tburny all,

I will be documenting as many use cases as I can within https://github.com/pattern-lab/patternlab-node-cli/wiki/Use-Cases

-----

more thoughts, after a braindump in chat.
_verbatim, pardon tersenss, ask for clarification is need. I will task out stuff best I can afterward._

##### Is the CLI a replacement for Editions?

the CLI is not a replacement for editions

[2017-02-06 02:11] bmuenzenmeyer commented on #419
@benhalverson thanks for attmepting to gather more information. I've attempted to recreate this bug, to no avail. What I have so far: `/_patterns/atoms/test/_icon-dark.mustache`

[code]

being included inside `/_patterns/atoms/test/fooOtherFile.mustache`

[code]

Building the above yields the fooOtherFile output with the hidden SVG with the bar modifier.

@heroheman please report back any addition

[2017-02-06 02:36] bmuenzenmeyer opened #609 "Move BrowserSync back into core"
Part of https://github.com/pattern-lab/patternlab-node/issues/603

[2017-02-06 02:36] bmuenzenmeyer opened #610 "Make core load any pattern engines more intelligently"
Part of https://github.com/pattern-lab/patternlab-node/issues/603

I am going to take this issue, as I believe it also encompasses fixing the merge conflict inside #608

- [x] Merge #608
- [x] Defer load of engines inside module scope until absolutely necessary within build
- [x] Fix unit tests
- [x] Pass or alter linting
- [x] Confirm watches still work

[2017-02-06 02:37] bmuenzenmeyer opened #611 "Alter each engine to spawn its head and foot pattern into _meta/ if not found"
part of https://github.com/pattern-lab/patternlab-node/issues/603

- [x] mustache
- [x] handlebars
- [x] twig
- [x] underscore
- [ ] ~react~ https://github.com/pattern-lab/patternengine-node-react/issues

[2017-02-06 02:39] bmuenzenmeyer opened #612 "Major rev editions, and make them clear they are example configurations"
Part of https://github.com/pattern-lab/patternlab-node/issues/603

[2017-02-06 02:39] bmuenzenmeyer opened #613 "truly build patternlab-grunt and patternlab-gulp as thin interfaces into core"
Part of https://github.com/pattern-lab/patternlab-node/issues/603

- [x] gulp
- [ ] grunt - https://github.com/pattern-lab/edition-node-grunt/issues/31

Alter engines to consume these

[2017-02-06 02:40] bmuenzenmeyer opened #614 "Document the public API"
part of https://github.com/pattern-lab/patternlab-node/issues/603

basically, the scope of this issue is to properly document the public API

[2017-02-06 10:21] raphaelokon commented on #609
I can port the stuff I have in the CLI for `serve` or the stuff we have in the edition for serving into the core. I guess patternlab node-team need to decide on the serve API here and its responsibilities.

[2017-02-06 14:12] JustDoItSascha commented on #250
Is there any news on this issue? It's bothering me right now :(

[2017-02-06 14:15] bmuenzenmeyer commented on #250
My comment above stands. If you want to open a PR into https://github.com/pattern-lab/starterkit-mustache-acidtest using the other issue there as guidance, that would help us understand it cross-platform and have a small, reproduceable test case to build from.

[2017-02-06 14:54] JustDoItSascha commented on #250
It's exactly the test case which is part of the acidtest, I don't have to open a new PR. I'm just interesting if this issue will be fixed, because it's neraly a year old and I think it is a very important feature to create truly DRY patterns...

[2017-02-06 14:56] bmuenzenmeyer commented on #250
Team priorities are currently geared toward https://github.com/pattern-lab/patternlab-node/issues/603 with smaller 2.X things per my semi-up to date task list: https://github.com/pattern-lab/patternlab-node/projects/1

If this issue is the same as https://github.com/pattern-lab/patternlab-node/issues/539 I see no reason to have both around.

[2017-02-06 16:25] JustDoItSascha commented on #250
Too bad. It's a significant bug and I'm pretty sure it'd be easy for you to find it. Tried it myself, but the code is very complicated and without a guidance through the main parts of the code I have no chance to find the bug.

[2017-02-06 19:37] geoffp commented on #609
I suggest that to build arbitrary toolchains from inside any JS tooling, be it Gulp, Grunt, Broccoli, my own app, or whatever, I need to (at least) be able to:

1) **Configure Pattern Lab's BrowserSync however I want.** I suggest that our current config becomes a defaults object, and the host JS can override this as needed by providing any subset of it.
1) **Trigger just BrowserSync's `reload()` m

[2017-02-06 19:41] geoffp opened #615 "Move stylemodifiers and pattern parameters machinery into Mustache engine"
Suggested part of https://github.com/pattern-lab/patternlab-node/issues/603.

@bmuenzenmeyer and I have often talked about this, as we believe that Mustache is (and probably will always be) the only engine that uses this functionality. It would be instructive to see how much complexity is subtracted from the core once this is done.

[2017-02-06 19:43] raphaelokon commented on #609
@geoffp Your comment is gold!

[2017-02-06 19:52] raphaelokon commented on #609
1. Sounds fairly easy and I consider this a low-hanging fruit. And yes, a sensible default would be great.
2. & 3. Seems to be stuff related to a specific toolchain. So the toolchain calling PL's API like `build` or `reload`
4. Is PL currently built on an event-based architecture?

[2017-02-06 20:04] geoffp commented on #609
It is not, but in this hypothetical, I think these events would come from the new file watchers, which are, and would act as the execution root in this case, emitting events to the returned stream and calling PL methods in response to filesystem events.

[2017-02-08 13:03] bmuenzenmeyer opened #617 "Remove patternengine-node-mustache as shipped with core"
In PL Node 3.0 https://github.com/pattern-lab/patternengine-node-mustache will not be a dependency. Rather, our getting started / edition / CLI work should help facilitate the creation of the proper setup.

We should however, consider keeping mustache as an interrim dependency so the general-header and general-footer templates from styleguide-mustache-default can be rendered into the target templa

[2017-02-08 13:04] bmuenzenmeyer commented on #610
Descoped #617 from this effort, citing timing.

[2017-02-09 02:12] bmuenzenmeyer opened #618 "Implement pattern group data"
Implement pattern group data per https://github.com/pattern-lab/the-spec/issues/31

pattern subgroup data is extra credit to me.

[2017-02-09 14:33] bmuenzenmeyer opened #619 "Remove the deprecated patternStates object on patternlab-config.json"
The [frontmatter/markdown state solution](http://patternlab.io/docs/pattern-states.html#node ) has been in place for a while now, with deprecation warnings emitted by the library.

It's time to remove the old functionality.

- [ ] Remove `patternStates` from all `patternlab-config.json` files across repos
- [ ] Remove all signs of `setState()` within `pattern_assembler.js` as `parsePatternMarkdown

[2017-02-10 03:33] benhalverson commented on #619
I can give this a shot tonight

[2017-02-10 07:02] benhalverson commented on #619
@bmuenzenmeyer Does patternStateCascade also need to be removed from patternlab-config.json

[2017-02-10 09:01] simonknittel commented on #587
Can confirm that @jabas analysis seems to be correct. We have the same issue with our PatternLab and resorting the patterns fixes the warnings.

[2017-02-10 13:23] bmuenzenmeyer commented on #619
the cascade is still used.
relevant code: https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/lineage_hunter.js#L117

[2017-02-10 14:49] georgiee opened #621 "S,M,L viewport buttons. Random behavior and relation to breakpoints."
Hello I just wanted to raise my hand on the topic of S, M, L viewport buttons.

I have many problems with these three viewport sizes and also a lot of headache reasoning with the client about it. It's totally not comprehensible for most people. Not even the tech-related guys.

**The random characteristics are really not useful at all**. For myself as a developer it's easy. I stick to the full view

[2017-02-10 14:55] bmuenzenmeyer commented on #621
This is a duplicate of pattern-lab/styleguidekit-assets-default#54 so I am going to consider it a 👍 for that and close.

[2017-02-10 14:55] #621 closed

[2017-02-11 20:36] benhalverson commented on #619
@bmuenzenmeyer Are there any other projects I need to update?
I've made pull requests to the below projects
- patternlab-node
- patternlab-node-cli
- edition-node-grunt
- edition-node-gulp

[2017-02-11 21:02] raphaelokon commented on #619
@benhalverson I have a couple of stuff in limbo before I merge the PR into cli but it lgtm. Thanks.

[2017-02-15 14:56] bmuenzenmeyer opened #623 "Allow engines to support multple extensions"
I am using Pattern Lab Node `v2` and `v3` on `Windows`, with Node `v6.9.5`, using the `Gulp` Edition.

##### Expected Behavior

PatternEngines that support more than one common file extension for their template type should be forgiving and accomodate user preference. Examples

- [x] Handlebars: `.handlebars` vs `.hbs` - https://github.com/pattern-lab/patternengine-node-handlebars/commit/8c48eb453f

[2017-02-15 15:03] raphaelokon commented on #623
Modules and scripts in JS
- `.mjs` and `.js`

[2017-02-15 15:42] bmuenzenmeyer commented on #623
For which engine would that be?

[2017-02-15 15:56] raphaelokon commented on #623
Each engine that is using a Javascript module (ES6 module syntax) in Node ecosystem?

[2017-02-15 15:58] geoffp commented on #623
With the engines that we currently have, .js would be reserved for React, but we should also think of what kinds of files an Ember or Polymer / Web Components component engine might look for. I don't know those well enough to be able to say. I think Ember does Handlebars, or at least it used to.

[2017-02-15 16:01] bmuenzenmeyer commented on #623
Maybe I am missing something, but my intent for this issue was to alter https://github.com/pattern-lab/patternengine-node-handlebars/blob/master/lib/engine_handlebars.js#L40 to be an array of exentions that make sense for the engine.  Not sure how we would handle mixed trees with overlapping capabilities, however.

[2017-02-15 16:03] geoffp commented on #623
I agree, that's what we're doing. It would get pretty complicated to have a file extension claimed by more than one engine; I don't want to do that unless we really have to.

[2017-02-15 16:04] geoffp commented on #623
Well, maybe not if mixed trees really are rare. Sorry, I think I'm too much in that mentality. We don't even have a mixed tree anymore.

[2017-02-15 16:06] raphaelokon commented on #623
@bmuenzenmeyer I think I got it wrong.
From a user perspective: Would it be possible to use an engine (I am actually working on something) that uses plain ES6 template literals and is essentially pure JS?

[2017-02-15 16:08] geoffp commented on #623
I think it would, so long as you don't also have the React engine installed, which would introduce that conflict for `.js` files.

[2017-02-15 16:09] raphaelokon commented on #623
@geoffp Cheers. Makes sense.

[2017-02-15 16:13] bmuenzenmeyer commented on #623
Okay.  Perhaps we officially de-scope support mixed trees.

@raphaelokon that sounds killer

On Wed, Feb 15, 2017, 10:09 AM Raphael Okon <notifications@github.com>
wrote:

[2017-02-15 16:18] geoffp commented on #623
@bmuenzenmeyer mixed trees were a useful way for us to incrementally migrate our technology stack. I'd hate to see us prohibit it, but it does seem very reasonable for us not to go way out our way to support it.

@raphaelokon are you doing some pure-functional JS templates or something? Tell us more! Is there editor support for markup in ES6 template literals?

[2017-02-15 16:27] bmuenzenmeyer commented on #623
@geoffp agreed.  Or tree is a mix right now, but transitionary...  more and
more moving to handlebars every day

On Wed, Feb 15, 2017, 10:18 AM Geoff Pursell <notifications@github.com>
wrote:

[2017-02-15 16:30] geoffp commented on #623
@bmuenzenmeyer I've got serious love for Handlebars. Such a great authoring experience.

[2017-02-15 19:16] raphaelokon commented on #623
@geoffp Yes. Basically it is a super simple template engine. PHPStorm highlights the html inside template literals and tagged literals. Also agree on handlebars.

[2017-02-16 08:12] rainbow-pooping-unicorn opened #624 "Add overflow-y: auto; for active annotations"
I am using Pattern Lab Node `v2.7.2` on `Mac`, with Node `v7.4.0`, using the `Gulp` Edition.

##### Expected Behavior

If a description of an element is longer than the max-height of the container, the user should be able to see all of the content by scrolling within the container.
The max-height is set to 50em and the overflow is hidden at the moment, even if the element is open.

[code]

If the

[2017-02-21 02:48] bmuenzenmeyer opened #625 "Expose getSupportedTemplateExtensions"

[2017-02-23 03:12] bmuenzenmeyer opened #627 "styleguideExcludes vs styleGuideExcludes"
`ui_builder.js` is expecting `styleGuideExcludes` to be fed from `patternlab-config.json` but it looks like we ship with `styleguideExcludes`

[2017-02-23 19:57] tburny opened #628 "StarterKits should be able to override settings in patternlab-config.json"
I am using Pattern Lab Node `v2.7.2` on `Linux`, with Node `v4.6.2`, using the `Gulp or Grunt ` Edition.

By discussion with @bmuenzenmeyer:
I created a [Demo StarterKit which is using the Thymol engine](https://github.com/headissue/starterkit-thymol-demo). However the Gulp/Grunt Edition come with `mustache` as preconfigured `patternExtension`.

StarterKits should be able to overwrite fields in th

[2017-02-24 11:41] tburny opened #629 "Race condition when loading starter kits"
I am using Pattern Lab Node `v2.7.2` on `Linux`, with Node `v4.7.0`, using the `Grunt ` Edition.

See also https://github.com/pattern-lab/edition-node-grunt/issues/12

##### Expected Behavior
Starter Kits are always loaded completely when running `starterkit_manager.loadstarterkit()` via
1. `core/scripts/postinstall.js`
2. `gulp patternlab:loadstarterkit --kit=yourkit`
3. `grunt patternlab:loadsta

[2017-02-27 14:50] bmuenzenmeyer commented on #625
@raphaelokon did this work?
i think you may have said yes but a confirmation here would be great!

[2017-02-27 15:24] raphaelokon commented on #625
It works. Cheers.

[2017-02-28 20:31] raphaelokon commented on #625
Can this land in `2.8.0`? It breaks the current CLI :D

[2017-03-01 11:25] georgiee opened #633 "Ignore files nested 2 levels deep"
Hello Team,
I put folders with assets in each of my pattern subtype folders. Those assets are js files, partials or whatever you want to put in there.

File structure is like this:
[code]

But I get a warning for those nested folders:

The warning suggests that patternlab at least tries to process those files. I have concerns, that my files have side effects on the generating part of patternlab. Y

[2017-03-02 15:37] bmuenzenmeyer commented on #625
check dev, I cherry-picked it

On Tue, Feb 28, 2017 at 2:31 PM Raphael Okon <notifications@github.com>
wrote:

[2017-03-02 16:24] raphaelokon commented on #625
Nice one @bmuenzenmeyer

[2017-03-03 05:22] #627 closed

[2017-03-03 05:22] #629 closed

[2017-03-03 10:38] raphaelokon opened #636 "Remove excessive logs when bootstrapping core"
Can we please move the verbose logs under a flag in patternlab core or remove them completely? Everytime the cli inits the core it logs out the following.

[code]

[2017-03-03 11:25] tburny commented on #636
We should hide it under the debug flag and only report when engines really fail.

[2017-03-06 23:44] bignass04 opened #637 "JavaScript heap out of memory"
I am using Pattern lab Node `v2.8.0` on `Mac` with Node `v6.9.1`.

# ERROR
I get the following error when my app is building the handlebars patterns:
Security context: 0x81bb64cfb51 <JS Object>
2: string(aka string) [/Users/mnasser/ha50/node_modules/json5/lib/json5.js:~218] [pc=0x1dd9da48b83e] (this=0x81bb6404381 <undefined>)
3: object(aka object) [/Users/mnasser/ha50/node_modules/json5/lib/json5.

[2017-03-07 01:46] bmuenzenmeyer commented on #637
Additional info.

JSON5 was added with https://github.com/pattern-lab/patternlab-node/pull/293
Coincidentally this is also when  https://github.com/pattern-lab/patternlab-node/issues/316 was first reported.  I want to look into this angle a bit more,  and think that we can likely support both via configuration.  (Speed  vs listed json parsing)

I also recall that handlebars engine might have a big

[2017-03-07 15:34] bmuenzenmeyer commented on #637
my own benchmarking:

node: `6.9.5`
PL Node `2.8.0`
data: `68 lines` <--- almost none
patterns: `120` mixed between mustache and handlebars
build time with JSON5 (in seconds): `4.36s`
build time with JSON (in seconds): `3.64s` (17% faster)
adding more data, say, by including the starterkit-mustache-demo json, did not have an appreciable difference.

@bignass04, what is the total size of your `data

[2017-03-09 11:36] bmuenzenmeyer commented on #499
this can now be accomplished with the uiextension plugin mentioned with PL Node 2.8.0 https://github.com/pattern-lab/patternlab-node/releases/tag/v2.8.0

[2017-03-09 11:36] #499 closed

[2017-03-09 11:41] bmuenzenmeyer commented on #596
this is released with 2.8.0

[2017-03-09 11:41] #596 closed

[2017-03-09 13:45] bmuenzenmeyer commented on #426
this is now handled via the CLI.

closing

[2017-03-09 13:45] #426 closed

[2017-03-10 04:20] bmuenzenmeyer opened #638 "Incremental Builds: Updating global data.json does not appear to rebuild all patterns"
I am using Pattern Lab Node `v2.8.0` on `Windows`, with Node `v4.6.2`, using the `Gulp` Edition.

##### Expected Behavior

* Updating `_data/data.json` causes any patterns using data within to hae changes reflected

##### Actual Behavior

* No changes are observed when data changes, despite PL performing a build. It appears as if the dependencyGraph is still reporting patterns as clean under this

[2017-03-10 08:22] simonknittel commented on #637
We did a quick fix for our CI servers by creating an file containing:
[code]

And then adding it to the `postinstall` script of npm: `"postinstall": "jspm install && . fix-build.sh",`

[2017-03-10 13:11] tburny commented on #638
https://github.com/pattern-lab/patternlab-node/wiki/Incremental-Builds

[2017-03-10 14:15] bmuenzenmeyer commented on #637
Wow that's a decently involved fix - I will prioritize a better solution.

[2017-03-10 14:36] bmuenzenmeyer commented on #638
Oh, I missed that point - thanks for clarifying. For my purposes, saving the file arbitrarily works great too.

[2017-03-10 18:34] bmuenzenmeyer commented on #612
`dev-2.0` branches now exist for https://github.com/pattern-lab/edition-node-gulp and https://github.com/pattern-lab/edition-node-grunt

[2017-03-15 19:06] bignass04 commented on #637
@bmuenzenmeyer The total data.json file is 714KB. I don't think we have much pattern-specific data but I haven't done much work on this application yet.

[2017-03-17 15:08] bjornwang commented on #638
I have the same error for _meta/00-head.mustache. Changing that file does not rebuild patterns correctly. Actually, if I delete the whole public/ folder and rebuild it, it is still rendered with the old _meta/00-head.mustache file content, so that seems to be cached somewhere.

Developing on two laptops working on the same project repo, I can reproduce this on both Windows and Mac.

Only fix is se

[2017-03-20 12:43] bmuenzenmeyer commented on #637
for reference, mine above was `2KB`

Quite the difference.

[2017-03-20 13:26] simonknittel commented on #637
Our `data.json` is currently at 78KB, but with 440 individual/pattern specific JSON files.

[2017-03-21 12:26] bmuenzenmeyer commented on #619
to my knowledge, all PRs are addressed.

[2017-03-21 12:30] bmuenzenmeyer commented on #637
I've generated some [test data](https://gist.github.com/bmuenzenmeyer/eb0a9ded9ec5cfb726833d645fb639cb) and will be using that for further analysis

[2017-03-21 13:36] bmuenzenmeyer commented on #637
Testing:

* Node: `6.9.5`
* Pattern Lab Node `2.8.0`
* Edition Gulp `1.401
* Starterkit Mustache Demo `latest`
* Test data as mentioned in https://github.com/pattern-lab/patternlab-node/issues/637#issuecomment-288064076
* `"cleanPublic": false`

-----

1. `JSON5.parse(JSON5.stringify(patternlab.data));`

     `gulp patternlab:build`
     completed in 34 seconds

2. `JSON.parse(JSON.stringify(patte

[2017-03-21 14:43] bmuenzenmeyer commented on #637
I am going with a pure `JSON.stringify(JSON.parse(data))` implementation, and going to retain the try catch for other applications as they may arise. proper linting should occur at time of read, not copy.

[2017-03-21 16:54] bmuenzenmeyer commented on #316
@bramsmulders can you point to `dev` and retest please?

[2017-03-21 20:12] bmuenzenmeyer commented on #637
I think I have fixed this with PL Node 2.9.X

[2017-03-21 21:05] bramsmulders commented on #316
Oh yeah! first tests are promising! From ~12 to ~4 seconds, cold start.
Incremental builds now take ~1.3 instead of ~4

[2017-03-22 05:35] rouzbeh84 commented on #488
Hey @bmuenzenmeyer it looks like this one may be pretty well documented? Might want to take another look and see if it's already done :)

[2017-03-22 06:56] benhalverson opened #643 "Documentation generation"
We should have a way to see the output of the jsDoc comments

[2017-03-22 11:32] bmuenzenmeyer commented on #316
@bramsmulders excellent news. Makes sense really, since I basically reverted the logic that caused the problem in the first place.

Are you alright with closing this issue, at long last ? 😄

[2017-03-22 11:38] bramsmulders commented on #316
Just do it! 💪🏻

[2017-03-22 11:38] #316 closed

[2017-03-22 11:42] bmuenzenmeyer commented on #316
:+1:

sorry it took so long to identify the culprit. thanks for sticking with the tool and living with slower performance for 11 months!

[2017-03-22 11:43] bmuenzenmeyer commented on #637
resolved (i think) with 2.9.0

[2017-03-22 11:43] #637 closed

[2017-03-23 01:27] benhalverson commented on #389
@bmuenzenmeyer is this for v2.9 or v3.0?

[2017-03-23 10:41] bramsmulders commented on #248
Addressed in #645

[2017-03-29 08:40] max-dombrowski commented on #554
I have the same issue. Any progress on this?

[2017-03-29 11:20] bmuenzenmeyer commented on #554
Unfortunately, I doubt it/

Our initial contributor to the Twig engine has not been seen in a while

Cross - linking to https://github.com/pattern-lab/patternlab-node/issues/285

[2017-03-31 03:01] greenthoms commented on #559
Hey @sandrojohanides @somatonic nice work. Any issues with the fix mentioned? Will you be creating a pull request?

[2017-04-06 15:42] benhalverson commented on #389
Hi @geoffp are you actively working on this issue? Do you mind if I do it?

[2017-04-06 16:16] bmuenzenmeyer commented on #389
@benhalverson sorry i missed your previous comment. i would target 3.0

[2017-04-10 15:08] bmuenzenmeyer commented on #615
unassigning myself - i only like to assign issues to things i plan to work on imminently

[2017-04-10 15:09] bmuenzenmeyer commented on #604
unassigning myself - i only like to assign issues to things i plan to work on imminently

[2017-04-10 15:10] bmuenzenmeyer commented on #604
Curious if https://github.com/pattern-lab/patternlab-node/releases/tag/v2.9.0 handled the majority of concerns. this issue is a bit to vague right now, but is good in an aspirational sense.

for clarity's sake, i am removing from the 3.0 milestone

[2017-04-11 14:24] geoffp commented on #389
@benhalverson, nope, go for it!

[2017-04-12 12:19] bmuenzenmeyer opened #647 "pattern links resolve to absolute paths instead of relative paths"
I am using Pattern Lab Node `v2.9.1` on `Windows`, with Node `v6.9.5`, using the `Gulp` Edition.

##### Expected Behavior
pattern links `{{link.pages-foo}}` should resolve to a relative URL

**Example**:
In PL PHP, for example: the [demo login](http://demo.patternlab.io/?p=pages-login) form action link [code found here](https://github.com/pattern-lab/starterkit-mustache-demo/blob/master/dist/_patt

[2017-04-12 15:06] gileses opened #648 "listitems using patternengine-node-handlebars"
I am using Pattern Lab Node `v2.9.1` on `Windows`, with Node `v7.2.0`, using the `Gulp` Edition and `patternengine-hode-handlebars`

[pattern].hbs contains:
+
`{{#listitems.three}}`
item
`{{/listitems.three}}`
+
##### Expected output
+itemitemitem+

##### Actual output
++

If I rename to [pattern].mustache then the code above works as expected.

[2017-04-23 01:59] cloudsociety opened #651 "Add middleware/preprocessing hook for data.json files. (Faker request)"
Is there a hook or place where we can process data files before passing them on to the (moustache/twig/handlebars) renderer?

If not, is it tricky to add?

I think this would allow for the inclusion of things like Faker (and possibly, custom functions) in patternlab-node. I imagine it working similar to the php faker plugin, where you add your call to the data file and it gets processed at render

[2017-04-23 23:55] benhalverson commented on #389
@bmuenzenmeyer @geoffp
This appears to work when I tested it with the pattern-lab-cli. I'm not sure how to write a proper test for it.
[code]

[2017-04-24 13:26] bmuenzenmeyer opened #653 "Create unit test for data link transpose fix"
Cover this https://github.com/pattern-lab/patternlab-node/commit/893a05b8cdc54ebde4f5cb75ab93bd766a743652

[2017-04-24 21:32] bmuenzenmeyer commented on #651
hi @cloudsociety

did you give plugins a shot? I tried to architect them in such a way that would allow for a hook at the proper place.

https://github.com/pattern-lab/patternlab-node/wiki/Creating-Plugins

[2017-04-25 01:57] cloudsociety commented on #651
Doh! How did I miss the wiki? I'll take a look see what I can do.

Thanks, Brian!

-Dave

[2017-04-25 13:35] bmuenzenmeyer commented on #389
@benhalverson one way might be to write a test that patternlab.js `getSupportedTemplateExtensions()` still works as expected, which internally loads the available engines and returns their extensions

note, that with travis, we install a number of engines pre-build https://github.com/pattern-lab/patternlab-node/blob/master/.travis.yml#L11

[2017-04-25 20:12] renestalder commented on #425
A big +1 on this. Would love to see direct CLI access which makes it easy to use it with the build tool of your choice.

[2017-04-26 06:46] cloudsociety commented on #651
Okay… Here's an early test that seems to work. Would really appreciate advice and feedback on how to improve it. I'm still learning, so I welcome any critique you have time for.

I haven't pushed to NPM yet. It works as a linked module, but I'd like to review (or get peer-reviewed) over the next couple days.

https://github.com/cloudsociety/plugin-node-faker

[2017-04-26 12:18] bmuenzenmeyer commented on #651
Great! - I will check it out. A quick glance looks promising 💃

[2017-04-26 18:40] cloudsociety commented on #651
Thanks, Brian.

I think this issue can be safely closed. I'll review my code a little more after a short break and then push it to NPM.

[2017-04-26 18:40] #651 closed

[2017-04-27 04:33] #653 closed

[2017-05-09 15:18] ThePeach opened #660 "Unable to generate "View All" pages on flat patterns"
I am using Pattern Lab Node `v2.9.2` on `Mac`, with Node `v7.9.0`, using the `Gulp` Edition.
I have a category directory with a flat list of mustache files in it, i.e. without sub-category folders.

##### Expected Behavior
I'm expecting the "View All" page to be generated for that directory

##### Actual Behavior
No "View All" page is being generated

##### Analysis
Apparently (after chatting with

[2017-05-10 14:55] tomasszabo commented on #606
Same problem with `Grunt` edition and Pattern Lab `v2.9.2`.

[2017-05-10 15:50] tomasszabo commented on #606
Just found out that additional styleModifiers (2nd and next) must not contain dash (`-`) in their names (first styleModifier may). Then it works as expected.

Also watch out for parentheses in parameter values - seems that Pattern Lab doesn't like it either.

[2017-05-10 15:59] gael-boyenval commented on #606
même problème ici…

[2017-05-16 17:50] bmuenzenmeyer commented on #611
would be great if anyone else could help me understand what Underscore or React expect for these patterns

[2017-05-16 20:11] bmuenzenmeyer commented on #612
someone should try out edition-node-gulp with the CLI in it
https://github.com/pattern-lab/edition-node-gulp/commit/025237cd6355c1bfe4bfc575c8b5744b6e0351aa

[2017-05-16 20:14] KatieMFritz commented on #554
Has anyone found a workaround for this? Maybe with [Nunjucks](https://mozilla.github.io/nunjucks/)? I wish I could fix it but my JS and PHP chops aren't there yet. 😕

[2017-05-17 11:27] gael-boyenval commented on #554
@KatieMFritz @bmuenzenmeyer.

I looked into it quickly.
It could be possible to use the twig engine but the current problem is that it is not possible to use inline templates when including/extending twig templates in one another.

So we have to use templates file path in order to render them.

@bmuenzenmeyer : finally it only require for the object param passed to the renderPattern method to give

[2017-05-17 13:27] KatieMFritz commented on #554
@Gael-boyenval, thanks for the quick response!

I played around with Nunjucks for a while last night, but I keep getting an error with it so I'm stuck. I'll report back if I get it working.

[2017-05-17 13:34] bmuenzenmeyer commented on #554
@gael-boyenval thanks for the sluething and the direction - I can see what I can do :)

[2017-05-17 13:40] gael-boyenval commented on #554
@KatieMFritz : nunjucks is another template engine. If you want it to work you'll have to develop a pattern-engine, a pattern-lab specific component on top of nunjucks.

[2017-05-17 21:40] bradfrost commented on #647
Thanks @bmuenzenmeyer. This would be a super great thing to resolve as it provides a lot of value to teams doing a lot of user testing and prototype work. We've done this kind of thing of several projects and it works quite well.

[2017-05-17 21:48] bmuenzenmeyer commented on #647
I agree @bradfrost.  I need to dive into this closer.

Would you agree that the demo login is the perfect test case? I will work from that if you think so. I did review @pcvonz's PR but something seemed amiss.

I will prioritize this, thanks for your feedback!

[2017-05-17 21:49] bradfrost commented on #647
Yeah I think that's right. Either that or a basic search form that clicks through to another page on submit. They're more or less the same!

[2017-05-18 10:14] st3phan commented on #457
Too bad this is still an issue. Any chance you can fix this?

Patternlab version: `"patternlab-node": "2.9.1"`

[2017-05-18 13:39] bmuenzenmeyer opened #661 "Add Contributor Covenant"
http://contributor-covenant.org/

[2017-05-18 13:53] raphaelokon commented on #457
@bmuenzenmeyer Is this something I can help with? Had some people asking me this …

[2017-05-18 14:02] bmuenzenmeyer commented on #457
hey @raphaelokon

I think these are two separate use cases here - so it's a bit much to unpack.

* The most recent by @st3phan looks very similar if not identical to https://github.com/pattern-lab/starterkit-mustache-acidtest/issues/1
* the OP's has more to do with listitem parsing

Either way, more careful processing of these nuances is needed...

What I've tried to do is isolate test cases into

[2017-05-18 14:05] raphaelokon commented on #457
@bmuenzenmeyer I'd pickup the list item parsing one
/cc @dennisfrank

[2017-05-18 14:24] bmuenzenmeyer commented on #457
👍 feel free to ask any questions along with way here or on gitter

[2017-05-18 17:02] bmuenzenmeyer opened #662 "Update Known Issues Page"
https://github.com/pattern-lab/patternlab-node/wiki/Known-Issues-&-Deviations-from-Pattern-Lab-PHP

[2017-05-19 06:37] #539 closed

[2017-05-19 06:48] bmuenzenmeyer commented on #457
@st3phan can you upgrade and retest? I think fixing https://github.com/pattern-lab/patternlab-node/issues/539 fixed your issue - though likely the OP use case is still a problem.

[2017-05-19 14:09] st3phan commented on #457
Upgraded from `2.9.2` to `2.9.3` and it's now working. #539 looks identical indeed. Thanks!

[2017-05-19 14:41] bmuenzenmeyer commented on #457
![](https://media.giphy.com/media/102VfCWF40oAuI/giphy.gif?response_id=591f03ccde8c4be4cec96c8e)

[2017-05-19 14:49] st3phan commented on #457
ROFL 💯

[2017-05-22 17:55] raphaelokon commented on #457
@bmuenzenmeyer Can we have a proper test case for this?

[2017-05-22 18:01] bmuenzenmeyer commented on #457
Hey @raphaelokon

Not sure if you are asking me for steps to reproduce, the process I would undergo, or for a rundown of what I think the problem is from the OP, so I will give you my braindump approach.

My first steps would be to attempt to recreate the OP's issue using the supplied patterns and circumstances, asking him directly for more information as needed. (It happened so long ago I cannot

[2017-05-22 18:05] raphaelokon commented on #457
@bmuenzenmeyer Yeah, sorry. I was asking myself if any of the list items tests already reflect the OPs issue.

[2017-05-22 18:13] bmuenzenmeyer commented on #457
@raphaelokon np - I think that this issue exists it proof that the existing tests are not adequate. you will see some unit test coverage however inside `list_item_hunter_tests.js`

[2017-05-22 18:40] raphaelokon commented on #457
@bmuenzenmeyer Aye. I pinged you on Gitter

[2017-05-24 12:37] bmuenzenmeyer commented on #457
I've manually recreated this issue too

![image](https://cloud.githubusercontent.com/assets/298435/26403391/b1463dc6-4053-11e7-873a-85ac2a325da8.png)

Now to look into getting that failing unit test in place... will check out what you have Raphael

[2017-05-24 13:07] raphaelokon commented on #457
Cheers Brian. If you could amend the test case – I'd take it from there :-)

[2017-05-24 15:50] bmuenzenmeyer commented on #457
@raphaelokon I will annotate that commit quick.

[2017-06-01 14:45] david-moldenhauer commented on #633
Hi @georgiee,

I've forked patternlab-node and added a small *fix* to fit my needs. Similar to you I wanted the following file structure:
- 01-molecules/
  - 00-blocks/
    - 00-media-block/
      - _media-block.scss (only variables, mixins...)
      - media-block.md
      - media-block.hbs
      - media-block-include.scss
      - media-block.json
      - media-block~variant2.json
this will work w

[2017-06-08 19:35] raphaelokon commented on #457
Hmm … those tests are passing fine for me. I'll look into it

[2017-06-08 19:43] raphaelokon commented on #457
Seems like we are excluding the `public` folder but trying to re-add the `testDependencyGraph.json`
https://github.com/pattern-lab/patternlab-node/blob/master/.gitignore#L10-L12

[2017-06-25 20:02] machal commented on #595
I really would like to see this in the Node edition. Any chance in the near future?

[2017-06-26 07:31] karelknop commented on #595
+1

[2017-06-29 14:38] acarnwath opened #667 "Feature Request: Link Resolution in data.json"
I am aware that you already have link resolution in the mustache files: http://patternlab.io/docs/data-link-variable.html

But almost invariably, I need my links to be populated via the data.json, which does not have the same link resolution ability, so I end up hardcoding the links, which becomes problematic when I rename the folder containing the pattern or reorder them.

[2017-06-29 15:01] bmuenzenmeyer commented on #667
Hey @acarnwath - last I checked this was in fact working! Let me see what I can russle up.

[2017-06-29 15:20] bmuenzenmeyer commented on #667
![link](https://user-images.githubusercontent.com/298435/27695457-89e00032-5cb4-11e7-903a-eeaac8be18c1.gif)

`data.json`
[code]

contents of `_patterns` folder
[_patterns.zip](https://github.com/pattern-lab/patternlab-node/files/1112534/_patterns.zip)

[2017-06-29 16:03] acarnwath commented on #667
You're totally right - I just assumed that since it wasn't in the documentation, it didn't exist.  Maybe consider adding it there :)

[2017-06-29 16:03] #667 closed

[2017-07-06 17:55] acarnwath commented on #587
I also had this issue, and resorting helped, however, my goal was for the included file to be a hidden one (starting with `_` per http://patternlab.io/docs/pattern-hiding.html), which always sorts it after any numbered patterns (i.e. *00-header.mustache* comes before *_00-hidden-thing.mustache*).  So unless I either make everything dependent on the hidden pattern also hidden, or un-hide that patte

[2017-07-11 07:26] ankit-bisht opened #670 "Patternlab + angular 2.0"
I am using Pattern Lab Node `v2.9.3` on `Linux`, with Node `v7.9.0`, using the `Gulp` Edition.

How can i use Angular 2.0 inside patternlab?

[2017-07-13 13:18] DaSchTour opened #671 "Parsing silently fails with errors in template parameters"
I am using Pattern Lab Node `v2.9.3` on `Mac`, with Node `v6.9.1`, using the `Grunt ` Edition.

##### Expected Behavior
This templates
[code]

Included this way
[code]

Should generate an error message because of wrong not working syntax

##### Actual Behavior

Is currently silently failing without any notice.

##### Steps to Reproduce

Add an atom called input with the template. Include the atom

[2017-07-20 13:14] uxmfdesign commented on #473
Having the same issue.

[2017-07-21 13:07] bmuenzenmeyer commented on #473
I'd start by playing with the regular expressions in each engine to recognize the new lines, if needed. Example: https://github.com/pattern-lab/patternengine-node-handlebars/blob/master/lib/engine_handlebars.js#L28-L30

they are used here: https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/object_factory.js#L133

See what happens then. If things are still not working as expected a

[2017-07-25 17:59] acarnwath commented on #436
This also happens in the other pattern folders - including for SEO (it took me a long time to find this bug report!)

`Could not find patternType 01-molecules-01-molecules. This is a critical error.`
`Could not find patternType 02-organisms-01-organisms. This is a critical error.`
`Could not find patternType 03-templates-01-templates. This is a critical error.`
`Could not find patternType 04-pages

[2017-07-28 07:41] ajilderda commented on #473
This would be a great improvement. I've also found that using `()` inside a pattern parameter causes the pattern to not receive any data. For example this does not work:
`{{> molecules-pattern( title: "this is causing the issue ()") }}`
This does work:
`{{> molecules-pattern( title: "this is causing the issue") }}`
Maybe this related or would you like to add an issue for this?

[2017-07-31 02:53] bmuenzenmeyer commented on #473
this is likely a regex problem, and is a separate issue. thanks for the report!

[2017-07-31 09:13] raphaelokon commented on #473
@bmuenzenmeyer Do you want me to fix this?

[2017-07-31 14:37] bmuenzenmeyer commented on #473
@raphaelokon if you are referring to @ajilderda's [comment](https://github.com/pattern-lab/patternlab-node/issues/473#issuecomment-318584549), sure thing!

[2017-07-31 15:48] raphaelokon commented on #457
@bmuenzenmeyer Can we have a look into this one as well?

[2017-07-31 20:44] ajilderda opened #673 "Pattern parameters with `()` as a value are not rendered correctly"
I am using Pattern Lab Node `v2.9.3` on `Mac`, with Node `v6.11.1`, using the `Gulp` Edition.

##### Expected Behavior
Pattern parameters with `()` as a value should render correctly.
`{{> molecules-pattern( title: "this is causing the issue: ()") }}`
The example above should render the pattern molecule with `this is causing the issue: ()` as its data input.

##### Actual Behavior
When `()` is add

[2017-08-16 12:31] bmuenzenmeyer commented on #611
paging @geoffp - we discussed this what feels like ages ago, but can you ping me where I can find the underscore meta patterns?

[2017-08-16 20:23] jdagerot commented on #376
According to the discussion on gitter we could have a discussion about if the code should store all frontmatter keys no matter of the keynames and values, or really just parse a few.

I believe it would be much more flexible to just store the whole parsed markdown object into the pattern, so everyone easily can implement their own keys.

[I made a pull request about this #676](https://github.com/p

[2017-08-16 21:47] geoffp commented on #611
@bmuenzenmeyer actually, I don't think we ever made any. It looks like in our underscore project, we're still using the default-ish mustache meta patterns, even though underscore is the main engine in use.

[2017-08-17 14:59] jdagerot commented on #673
I can confirm this "I should render (" works great, but "I should render )" doesn't not. Looks like it's the closing ) that generates a problem.

[2017-08-21 00:48] benhalverson commented on #389
@bmuenzenmeyer I haven't forgot about this. Just busy with work 😄

[2017-08-25 11:58] bmuenzenmeyer commented on #647
@bradfrost is this an acceptable workaround for you?

inside https://github.com/pattern-lab/starterkit-mustache-demo/blob/master/dist/_patterns/02-organisms/forms/stacked-form.mustache

[code]

changing the `post` to a `get` allows the form to submit

[2017-08-25 19:29] bradfrost commented on #647
@bmuenzenmeyer Yeah this is great! We'll likely want to document that somewhere, but so long as we're able to navigate around with form submission that should work. Thanks!

[2017-09-01 11:00] #661 closed

[2017-09-06 04:40] bmuenzenmeyer commented on #250
this is now working against the OP use case as of https://github.com/pattern-lab/patternlab-node/releases/tag/v2.9.3

[2017-09-06 04:40] #250 closed

[2017-09-06 04:42] bmuenzenmeyer commented on #670
I'd encourage you to take question of this nature to Stack Overflow or our [gitter chatroom](https://gitter.im/pattern-lab/general).

You might also find of interest a similar topic which I already answered: https://stackoverflow.com/questions/39515130/does-pattern-lab-not-mix-well-with-angular/39543032#39543032

[2017-09-06 04:42] #670 closed

[2017-09-06 04:43] bmuenzenmeyer commented on #647
Closing

[2017-09-06 04:43] #647 closed

[2017-09-06 04:45] bmuenzenmeyer commented on #389
@benhalverson we all get busy. looking forward to it!

[2017-09-06 04:47] bmuenzenmeyer commented on #662
I cannot recall if I created this for a specific reason.
Bucket issues like this are rarely useful, it turns out.

[2017-09-06 04:48] bmuenzenmeyer commented on #662
I read the wiki - it is out of date.

This has been a github play in three acts

[2017-09-11 05:36] bmuenzenmeyer commented on #559
closing this due to inactivity. OP or anyone still experiencing an issue - feel free to bump this again.

[2017-09-11 05:36] #559 closed

[2017-09-11 05:56] bmuenzenmeyer commented on #643
closing due to https://github.com/pattern-lab/patternlab-node/pull/644

[2017-09-11 05:56] #643 closed

[2017-09-11 06:28] bmuenzenmeyer commented on #285
Will be checking this out next - most of the PR backlog is done

[2017-09-11 06:41] bmuenzenmeyer commented on #349
closed with https://github.com/pattern-lab/patternlab-node/releases/tag/v2.11.0

[2017-09-11 06:41] #349 closed

[2017-09-11 12:08] bmuenzenmeyer commented on #419
closing this due to inactivity. OP or anyone still experiencing an issue - feel free to bump this again.

[2017-09-11 12:08] #419 closed

[2017-09-11 12:11] bmuenzenmeyer commented on #374
closing this due to inactivity. OP or anyone still experiencing an issue - feel free to bump this again.

[2017-09-11 12:11] #374 closed

[2017-09-11 12:12] bmuenzenmeyer commented on #288
already tracked elsewhere

[2017-09-11 12:12] #288 closed

[2017-09-11 17:33] sghoweri commented on #285
@bmuenzenmeyer I might be able to help out a bit with this one...

A couple of weeks ago I started playing around with Pattern Lab Node to try to see how viable it might be to get Pattern Lab PHP 2 for Twig and PL Node to share the same internals (thanks to[ node-twig](https://www.npmjs.com/package/node-twig) and some inspiration from this [Fractal + PHP Twig project](https://github.com/LostKobrak

[2017-09-11 17:41] bmuenzenmeyer commented on #285
@sghoweri thanks for the notes Salem! Glad to have your voice back into this side of the project.

The templates issue is precisely why I want to allow users to specify their templates in a more flexible fashion that what we offer today - which is a combination of the paths specified in https://github.com/pattern-lab/edition-node-gulp/blob/master/patternlab-config.json and some hard-codes inside h

[2017-09-13 21:34] bradfrost commented on #606
I'm not sure if this is the exact same issue, but it's close enough I think.

I'm including a pattern into a template and attaching a pattern parameter, like so:

[code]

In my page JSON file, I'm then adjusting the number of items in my slider, like so:

[code]

Unfortunately the data changes I'm defining in JSON aren't being applied when the pattern parameter is in place. If I remove the pattern

[2017-09-13 22:13] bmuenzenmeyer commented on #606
@bradfrost if you could give me a as best you can reduced reproduction of the issue - I'll get on it

[2017-09-13 22:14] bmuenzenmeyer commented on #606
can you confirm the presence of the hyphen is what causes the problem? if so, it might be a simple regex issue

[2017-09-14 13:54] bradfrost commented on #606
@bmuenzenmeyer hmm, I changed it to `{{> organisms-flexslider(sliderID: "flexslider1") }}` and it's still not inheriting the JSON data. Is that what you wanted me to do?

[2017-09-14 13:57] bmuenzenmeyer commented on #606
@bradfrost yes thanks for checking. if you can provide as much of your pattern templates starting at `organisms-flex-slider` as possible, it helps me recreate your exact use case

(you can send this to me privately if you like too.)

[2017-09-14 16:33] bmuenzenmeyer opened #681 "Add a version / upgrade check"
Add logic similar to yarn, but for pattern lab

[code]

[2017-09-17 08:29] AnthonySGeorge commented on #606
I have a similar issue
**paragraph-block.twig**
[code]

**paragraph-block-isolate.twig**
```{% include "paragraph-block.twig" with {styleModifier: "isolate"} %}```

**paragraph-block.json**

[code]

**paragraph-block~isolate.json**

[code]
This is working when I look at the pattern at the molecule level however, as soon as I include the pattern at in a template or a page I get no data coming throu

[2017-09-17 10:23] bmuenzenmeyer opened #682 "Add an nvmrc file"
It'd be smart to tell users what Node version we officially support

[2017-09-17 11:07] bmuenzenmeyer opened #683 "Specify template files via configuration"
`patternlab-config.json` paths

[code]

[2017-09-17 11:10] bmuenzenmeyer commented on #683
Still should update grunt config

[2017-09-18 12:32] bmuenzenmeyer opened #684 "Pin our dependencies"
We should attempt to avoid problems like what happened at  js-beautify/issues/1247 in the future.

https://github.com/pattern-lab/patternlab-node/blob/master/package.json#L11

[2017-09-19 09:19] bramsmulders opened #685 "Data from listItems are not passed through in the loop"
I am using Pattern Lab Node `v2.11.0` on `Mac`, with Node `v6.11.3`, using the `Gulp` Edition.

##### Expected Behavior
Should render three different `title`s harvested from `_data/listitems.json`.

##### Actual Behavior
Renders three times the same `title` attribute which is defined in `_data/data.json`

##### Steps to Reproduce

Consider this template code:
[code]

**Note:** it is working in PL-

[2017-09-19 11:44] bmuenzenmeyer commented on #685
@bramsmulders I'll need to do some more testing, but my unit test coverage is passing for this so far....

[2017-09-19 12:04] bmuenzenmeyer commented on #685
found it. fix incoming

[2017-09-19 12:34] #685 closed

[2017-09-21 13:06] bramsmulders commented on #685
Whoop! thnx @bmuenzenmeyer!

[2017-09-22 04:26] bmuenzenmeyer commented on #683
this should address in part https://github.com/pattern-lab/patternlab-node/issues/285#issuecomment-328601656

[2017-09-22 05:57] bmuenzenmeyer commented on #554
I spent too long trying to get this to work tonight. No combination of the below seemed to work:

[code]

cannot call render() on undefined.
barring the hard-codes, I may try to swap to node-twig next

[2017-09-25 21:02] bradfrost opened #687 "Warning on build for patterns that occur after pattern"
Using Pattern Lab Gulp Edition, I'm getting warnings when including files that are defined later in the tree structure. I'm assuming it's due to the way Pattern Lab crawls through the file structure and stitches things together.

I have a directory structure as follows:

[code]

I'm including `profile-block.mustache` inside of `00-header.mustache` like so:

[code]

##### Expected Behavior
This set

[2017-09-25 23:37] mauricios commented on #265
Is this still on the roadmap?
Some Pattern Lab code doesn't validate using the w3c validation tools. Is there a workaround to generate the HTML pages without the Pattern Lab code?

[2017-09-26 01:23] bmuenzenmeyer commented on #265
@mauricios can you include the entire output of the offending pattern?

[2017-09-26 13:30] mauricios commented on #265
@bmuenzenmeyer using the home page of the Pattern Lab demo  http://demo.patternlab.io/patterns/04-pages-00-homepage/04-pages-00-homepage.html the w3c validation tools shows errors in the meta tags generated by Pattern Lab:

[code]

See the report:  https://validator.w3.org/nu/?doc=http%3A%2F%2Fdemo.patternlab.io%2Fpatterns%2F04-pages-00-homepage%2F04-pages-00-homepage.html

[2017-09-26 14:20] bmuenzenmeyer commented on #265
The demo site, last I heard, was built using Pattern Lab PHP.

[2017-09-26 15:46] bradfrost commented on #265
@bmuenzenmeyer that's correct, although I'd assume that the behavior should be the same here between Node and PHP. As I recall the cache stuff was there to ensure the browser didn't aggressively cache changes during development.

[2017-09-26 16:16] mauricios commented on #265
As @bradfrost says the same headers appear in the Pattern Lab Node. In my test I can see that the meta tags are unnecessary since the Node server of Pattern Lab is already sending the HTTP headers for preventing the cache on the browsers.

This is the request headers of Pattern Lab Node:

[code]

[2017-09-26 16:32] bmuenzenmeyer commented on #265
@mauricios

the content you are specifiying comes from https://github.com/pattern-lab/styleguidekit-mustache-default/blob/master/views/partials/general-header.mustache which is a dependency of PL PHP and Node.

If you don't like it you have a few options:

* Fork https://github.com/pattern-lab/styleguidekit-mustache-default and npm link to your altered copy
* Wait for https://github.com/pattern-la

[2017-09-26 16:32] #265 closed

[2017-09-27 15:28] tburny commented on #682
I would suggest using the latest currently available LTS version here, _including the minor version_.

[2017-09-27 15:33] bmuenzenmeyer commented on #682
What are you suggesting?

Current LTS is....

https://nodejs.org/download/release/latest-v6.x/
https://github.com/pattern-lab/patternlab-node/commit/ab99d50e0f5ffbc117f0a9b8cb5d602e7232dc49#diff-ae9eba3500703eaba1d5b8e13832d955

at least until https://github.com/nodejs/Release switches it to 8 sometime in October....

[2017-09-27 20:04] bradfrost opened #688 "Pattern link variable doesn't work in a pattern parameter"
I'd like to be able to use the [link variable](http://patternlab.io/docs/data-link-variable.html) in conjunction with a pattern parameter. So in essence, this:

[code]

##### Expected Behavior
The link variable gets interpreted, and clicking on the button links through to the appropriate Pattern Lab pattern.

##### Actual Behavior
When the link variable is wrapped in quotes (as per the example abo

[2017-09-28 01:39] bmuenzenmeyer commented on #575
closing. duplicate of #688

[2017-09-28 01:39] #575 closed

[2017-09-28 01:41] bmuenzenmeyer opened #689 "Update contribution guidelines"
- [ ] current branching strategy
- [ ] commits should reference issues
- [ ] large enhancements should start with an issue, not a cold PR

[2017-09-28 02:22] ms10398 commented on #689
I claim this issue will make a relevant PR soon.

[2017-09-28 02:27] ms10398 commented on #689
I claim this issue I would love to contribute to the repository.

[2017-09-28 02:28] ms10398 commented on #689
Can you tell me more about the current branching strategy as I am new and I dont know about it

[2017-09-28 02:55] ms10398 commented on #684
I want to work on this can i know what I have to do in this

[2017-09-28 03:02] prateekiiest commented on #689
Hey @bmuenzenmeyer ,
I would like to solve this issue.
I am sending a PR soon for this.

[2017-09-28 03:44] prateekiiest commented on #689
Should I submit this on the dev branch or the master one?

[2017-09-28 05:39] ms10398 commented on #689
I was already working on it.

[2017-09-28 14:28] phawxby opened #692 "New `data_loader.js` module `loadFile` method loads the wrong file"
I am using Pattern Lab Node `v2.11.1` on `Windows`, with Node `v8.4.0`, using the `Gulp` Edition.

##### Steps to Reproduce

Given this file structure
* hero
  * hero-left-short.json
  * hero-left-short,mustache
  * hero-left.json
  * hero-left.mustache

##### Expected Behavior

`hero-left.mustache` should build using `hero-left.json`

##### Actual Behavior

`hero-left.mustache` builds using `hero

[2017-09-29 04:49] bmuenzenmeyer commented on #687
@bradfrost I cannot reproduce with the patterns you provided. I've zipped up the entire `source/` directory.

Can you try again?

Also, what version of Pattern Lab Node are you running? `gulp patternlab:version` can tell you.

[source.zip](https://github.com/pattern-lab/patternlab-node/files/1343111/source.zip)

[2017-09-29 04:51] bmuenzenmeyer commented on #692
Nice catch! Sorry for the :bug:

Will check this out asap

[2017-09-29 04:55] bmuenzenmeyer commented on #687
some additional context- this message seems to most often provide a false positive when you are defining pattern links inside JSON `link.pages-foo`.

Do you happen to also have those in your json somewhere? If so, that's the likely manifestation of the error.

[2017-09-29 05:27] bmuenzenmeyer commented on #623
@geoffp @raphaelokon  🔥 🔥 🔥

![image](https://user-images.githubusercontent.com/298435/31001923-dfecbfde-a4ac-11e7-94d7-e494eb794048.png)

[2017-09-29 15:17] acarnwath opened #695 "Incremental Builds: _meta modifications don't rebuild"
I am using Pattern Lab Node `v2.9.3` on `Mac`, with Node `v7.6.0`, using the `Gulp` Edition.

##### Expected Behavior
With incremental builds enabled, when modifications are made to `_meta/_00-head.mustache` or `_meta/_01-foot.mustache`, I would expect a complete rebuild of the project.

##### Actual Behavior
The watcher does pick up on it, but it does not appear to rebuild anything.
[code]

#####

[2017-09-29 15:23] bmuenzenmeyer commented on #695
Hi @acarnwath good timing - @tburny was just mentioning this to me but I was unsure if we ever created a tracking issue for it.

[2017-10-01 01:06] bmuenzenmeyer opened #698 "Configure Stale Probot"
https://probot.github.io/apps/stale/

[2017-10-01 10:29] bmuenzenmeyer opened #700 "Pass theme config to front end"
https://github.com/pattern-lab/styleguidekit-assets-default/issues/75

[2017-10-01 10:33] waseem18 commented on #700
Can I take this up as a part of hacktoberfest @bmuenzenmeyer ?

[2017-10-01 10:40] bmuenzenmeyer commented on #700
already done - sorry

![image](https://user-images.githubusercontent.com/298435/31053804-02eabf8a-a66b-11e7-9055-47fd0920e305.png)

[2017-10-01 10:41] waseem18 commented on #700
Cool! No worries

[2017-10-01 10:53] #698 closed

[2017-10-01 10:53] #700 closed

[2017-10-01 10:53] #689 closed

[2017-10-01 10:53] #692 closed

[2017-10-01 14:22] bmuenzenmeyer commented on #684
@ms10398 basically we need to remove the carets "^" from our dependencies defined within `package.json` so that they don't update without our knowledge

[2017-10-01 15:26] ms10398 commented on #684
Okay I will make a relevant PR soon.
Thanks @bmuenzenmeyer

[2017-10-01 17:18] bradfrost commented on #688
Whoops sorry for the dupe!

[2017-10-01 17:36] bmuenzenmeyer commented on #688
No problem.  Your report was thorough so I kept this one. Thanks fur
continuing to report issues or wishes.

On Sun, Oct 1, 2017, 12:19 PM Brad Frost <notifications@github.com> wrote:

[2017-10-01 19:20] bradfrost commented on #687
I'm running version `v2.9.1`. I just copied my project and stripped out everything except the relevant patterns. And it all seems to render just fine, so it doesn't appear to be a pattern order thing. I'll do some testing on my end to see if it's the `link` stuff (there's plenty of that!) that could be causing issues. Thanks!

[2017-10-01 19:51] bmuenzenmeyer commented on #687
Ahh - can you try upgrading when you get a chance? [Version 2.9.2](https://github.com/pattern-lab/patternlab-node/wiki/ChangeLog#v292) fixed that if I recall.

[2017-10-01 23:03] sghoweri commented on #554
@bmuenzenmeyer if you wanted to assign this one to me I can take a crack at this this week

[2017-10-02 00:19] #587 closed

[2017-10-02 00:56] benhalverson commented on #598
🙄

[2017-10-02 01:51] bmuenzenmeyer commented on #351
this is actually live in a 2.X release

[2017-10-02 01:51] #351 closed

[2017-10-02 01:53] bmuenzenmeyer commented on #598
@benhalverson stalebot tries so hard - it was supposed to ignore "staged for next release issues"

[2017-10-02 02:03] benhalverson commented on #598
@bmuenzenmeyer I think it needs to go back to parsing hot dog or not hot dog images 🤣

[2017-10-02 02:07] bmuenzenmeyer commented on #587
duplicate of #687

[2017-10-02 02:09] bmuenzenmeyer commented on #618
duplicate of #599

[2017-10-02 02:09] #618 closed

[2017-10-02 02:13] bmuenzenmeyer commented on #554
gopher it!

[2017-10-02 12:40] SteffiB opened #705 "Incremental Builds: RangeError: Maximum call stack size exceeded"
I am using Pattern Lab Node `v2.11.1` on `Mac`, with Node `v6.11.3`, using the `Gulp` Edition.

When trying to use the incremental build feature I am running in a "Maximum call stack size exceeded" - error. `cleanPublic` is set to `false`.

The console output looks like this:
[code]

When I change `cleanPublic` to `true` everything is working fine.

Some more informations:
- I am using patternlab-

[2017-10-02 12:54] bmuenzenmeyer commented on #705
@SteffiB thanks for the thorough report! Sorry this is happening to you, as the performance benefits are great. Has this ever worked for you, or is it your first time attempting to run with incremental builds on?

any change in behavior if you run the following?

[code]

@tburny I thought you'd like to see this - I will try to dig in and understand what's going on too.

[2017-10-02 13:07] SteffiB commented on #705
It is the first time attempting to run with incremental builds on.

Unfortunately that has no impact on the result, still same error message.

[2017-10-03 16:08] tburny commented on #705
A question ahead: How many patterns do you roughly have in your Patternlab?

Internally incremental builds use a dependency graph of patterns. This graph is traversed *recursively* in order to mark changed files and their dependencies for rebuild, plus a few other things.
That means for larger Pattern Lab instances the call stack can become quite large.
For the time being try to increase the defau

[2017-10-04 01:28] bmuenzenmeyer opened #706 "Move watches and source to public asset copying into core"
Mirror what we watched based off of `patternlab-config.json` `paths`

- [x] meta
- [x] data
- [x] patterns
   - [x] templates
   - [x] markdown
   - [x] json
   - [ ] js
- [x] favicon
- [x] js
- [x] img
- [x] font
- [x] css
- [x] styleguide
- [x] styleguide-css
- [x] reload on change
- [x] emit event on change

[2017-10-04 01:29] bmuenzenmeyer opened #707 "Support Async Rendering"
This one's for you, @geoffp

Somehow we never made an issue for this.

This should support a number of endeavors we are pursuing:

- [ ] React Engine
- [ ] Twig Engine
- [ ] Liquid Engine
- [ ] Web/HTTP?
- [ ] Performance Increases?

[2017-10-04 08:36] SteffiB commented on #705
I just found the Problem. It is not the count of patterns.

Our navigation handlebars templates look like this:

nav__level.hbs
[code]

nav__item.hbs
[code]

When building the dependency graph, it runs into an endless loop because these two templates are related on each other. Any suggestions on this?

[2017-10-04 12:20] bmuenzenmeyer commented on #705
good sleuthing @SteffiB - I tried to find a similar issue because this is reminiscent (perhaps it was only a gitter chat) - I think the potential resolution was to unfortunately avoid the recursion, if that meant making a one off pattern to support your data

[2017-10-05 12:10] absolutholz commented on #587
I have this problem and ignored it for a long time because everything was generated correctly in spite of the errors and warnings (). I upgraded to patternlab-node v2.10.0 (after taking the advice from #687) today and still had the same problem but noticed then when I remove the whitespace between the pattern name and the parameters, the errors and warnings disappear.

My structure is as follows:

[2017-10-05 12:39] bmuenzenmeyer commented on #587
@absolutholz that's an interesting find

the space before the pattern parameter is not "correct syntax," as far as unofficial extensions to mustache go. I suppose we could be more lenient about spaces, but either way, you analysis may help others.

[2017-10-05 13:16] absolutholz commented on #587
@bmuenzenmeyer Good to know. Sadly it never occurred to me that the space would be invalid, but it makes sense. I thought the paramaters themselves may have been the issue because I initially wrote the property names without quotations. I thought this may be registering as invalid JSON, but I have now tested with quotations, with simple apostrophes and without either and they have no effect on the

[2017-10-06 08:13] SteffiB commented on #638
Any update on this? We run in a similar issue. When changing somethings in a JSON file, the pattern will not be rebuild. But changing something in a JSON file of a variant (e.g. example~variant1.json) the pattern will be rebuild.

[2017-10-06 11:53] bmuenzenmeyer opened #709 "Add npm5 support"
Add the package-lock.json file from node 8 / npm 5

[2017-10-06 12:02] simonerlandsen commented on #595
+1

[2017-10-06 12:09] bmuenzenmeyer commented on #638
@SteffiB this hasn't made it into my immediate roadmap, but I appreciate you letting me know it's a problem. I'll fit it into the priorities somewhere. PRs always welcome too!

[2017-10-06 12:13] riktimmondal commented on #681
Is it still open?

[2017-10-06 12:23] bmuenzenmeyer commented on #681
no this is complete. i forgot to label this.

[2017-10-07 11:42] tburny commented on #638
Also linked to #695. The problem is the same: There is no pattern for these files, so their changes are not picked up.
When detecting a change in _meta or data.json, all patterns need to be rebuilt.

[2017-10-07 11:53] tburny commented on #705
Some things we could do here:
* Improve pattern engines: Each pattern has a certain set of data. Maybe it is possible to ask for included patterns with the data as context, instead of a global context-free detection.
* Add detection for circular references
* Skip using ordered pattern compilation if the pattern engine always expands partials, add an override configuration flag for this behavior. T

[2017-10-07 12:54] bmuenzenmeyer commented on #638
The simplest thing would be to watch these files and have a mechanism to
rebuild all patterns on the public API we expose to gulp/grunt, etc.

On Sat, Oct 7, 2017, 6:42 AM tburny <notifications@github.com> wrote:

[2017-10-08 21:16] sghoweri commented on #554
@bmuenzenmeyer taking another look at this now!

[2017-10-09 00:47] #570 closed

[2017-10-09 00:47] #600 closed

[2017-10-09 00:47] #605 closed

[2017-10-09 00:47] #607 closed

[2017-10-09 00:47] #624 closed

[2017-10-09 00:47] #628 closed

[2017-10-09 00:47] #604 closed

[2017-10-09 00:47] #457 closed

[2017-10-09 01:47] #189 closed

[2017-10-09 01:47] #213 closed

[2017-10-09 01:47] #209 closed

[2017-10-09 01:47] #215 closed

[2017-10-09 01:47] #296 closed

[2017-10-09 01:47] #464 closed

[2017-10-09 01:47] #305 closed

[2017-10-09 01:47] #521 closed

[2017-10-09 01:47] #534 closed

[2017-10-09 01:47] #538 closed

[2017-10-09 01:47] #551 closed

[2017-10-09 01:47] #563 closed

[2017-10-09 01:47] #561 closed

[2017-10-09 06:37] danwhite85 commented on #554
I'm working on a Nunjucks engine that's nearly complete. I resolved this issue by...

1. Setting expandPartials to false. FYI, this disables inline templates.

2. Since inline templates are disabled the full pattern path must be supplied for nunjucks to work. With inspiration from the underscore engine, I created a partialRegistry array that keeps track of pattern.patternPartial and pattern.relPat

[2017-10-09 18:47] danwhite85 opened #711 "Pseudo-patterns do not work in PL 2.11.0 and above"
Pseudo-patterns are not working as expected in PL 2.11.0 and above. I've tested 2.10.0, 2.11.0, 2.11.1, and 2.12.0.

In all versions over 2.10.0 the pseudo-pattern data is available in all pattern instances. In the example found at [http://patternlab.io/docs/pattern-pseudo-patterns.html](url) the emergency message would always be shown.

_homepage.mustache_
[code]

_00-homepage~emergency.json_
[co

[2017-10-09 21:04] sghoweri commented on #707
^ also add native PHP Twig support to this as well.

Spent most of the day today spinning my wheels trying to get async PHP-based Twig templates working with some level of success (success in that I can get compiled template responses from the PHP side of the house + managed to hack together some critically needed file path info that's required for those templates to compile successfully) however

[2017-10-10 01:33] bmuenzenmeyer commented on #707
@geoffp has the work in flight - I'd suggest we wait for it to land before moving forward with #554 and #285

[2017-10-10 01:35] bmuenzenmeyer commented on #711
Hey @danwhite85

Thanks so much for the thorough report. Sorry for the regression. I thought my pseudo-pattern test coverage was enough but there is clearly a gap somewhere

[2017-10-10 11:35] sghoweri commented on #707
Yeah - I mentioned the same thing to Evan yesterday. Putting this on ice till async support lands.

[2017-10-11 17:40] geoffp commented on #707
I'm on it. I'll make time this week and next.

[2017-10-12 19:47] bmuenzenmeyer commented on #614
updated the OP

[2017-10-12 19:49] bmuenzenmeyer commented on #609
Brian to address https://github.com/pattern-lab/patternlab-node/issues/609#issuecomment-277788781 soon.... 🚀

[2017-10-12 22:36] EvanLovely commented on #376
I've implemented several of these over in the PHP version here: https://github.com/pattern-lab/patternlab-php-core/pull/137

For the `-button.mustache` behavior which removes it from View All, but not menu, it was called `noviewall` in the code so that's the name I went with instead of `excludeFromStyleguide`, so I'll suggest that for here. I'm totally happy to add that as an extra one (i.e. could

[2017-10-12 22:38] EvanLovely commented on #376
PS I've set it so `order` gets passed in from MD files, but it doesn't reorder patterns on the PHP side until this is done: https://github.com/pattern-lab/patternlab-php-core/issues/138

[2017-10-13 16:26] scarabcoder commented on #684
Is this still open?

[2017-10-13 21:13] bmuenzenmeyer commented on #684
No but plenty other items to choose from.  I have plans to add more next
week too
☆☆☆☆

On Fri, Oct 13, 2017, 11:26 AM Nicholas <notifications@github.com> wrote:

[2017-10-16 09:47] frazerf opened #712 "Correct way to write stylemodifier's in twig and getting them to work at the template level"
Hi there,

I'm using twig with patternlab and I'm trying to add a stylemodifier at the templating level but it doesn't seem to be pulling my class name through. I can see there's documentation for moustache here - http://patternlab.io/docs/pattern-stylemodifier.html - but none for twig. Could someone point me in the direction of some twig documentation for stylemodifiers with patternlab (if there

[2017-10-16 11:29] frazerf commented on #712
Managed to track down an old stackoverflow ticket which helped me out - https://stackoverflow.com/questions/42787091/patternlab-twig-includes-with-params.

[2017-10-16 11:29] #712 closed

[2017-10-16 16:07] ajilderda commented on #673
Not so quick @stale[bot] 🖐

[2017-10-16 16:13] bmuenzenmeyer commented on #673
@ajilderda thanks for the poke. I've pinned this to no longer close due to inactivity.

[2017-10-16 17:03] mbulfair commented on #481
I'll take this one. @bmuenzenmeyer

[2017-10-17 12:07] bmuenzenmeyer opened #713 "Implement annotations within pattern markdown"
Implement https://github.com/pattern-lab/the-spec/issues/33

QUESTIONS:

- [ ] determine if shared frontend needs to change

PL NODE:

- [ ] warn user if annotations file found
- [ ] remove old method from any paths / copying / watches
- [ ] each pattern tracks annotations
- [ ] fix output method, no longer a single file to parse
- [ ] unit tests

[2017-10-17 12:28] bmuenzenmeyer commented on #376
@EvanLovely

updated my issue, thanks. You can see it's a bit WIP.

we could consider making these first class citizens, not hanging them off of `extraOutput` like https://gist.github.com/bmuenzenmeyer/fb51a07a5089422ee0b1aa036714b996 illustrates, since we are pretty certain we will be doing something with them.

[2017-10-17 12:39] bmuenzenmeyer opened #714 "Support view all pages in pattern linking"
Implement https://github.com/pattern-lab/the-spec/issues/35

Pattern Lab exports `patternPaths` and `viewAllPaths` separately to the UI within [ui_builder](https://github.com/pattern-lab/patternlab-node/blob/master/core/lib/ui_builder.js#L555-L591), since they've never had to co-mingle prior to this spec enhancement.

Then, when patterns are linked, I believe they are checked only against `pattern

[2017-10-18 06:09] bmuenzenmeyer opened #717 "Copy a pattern's optional javascript file"
Broken out of https://github.com/pattern-lab/patternlab-node/issues/706 as this is an enhancement.

Given a pattern `foo.mustache`
if a `foo.js` exists
we should copy it to the output location of `foo.mustache`

- [ ] consider how this will work or conflict with react engine

[2017-10-18 07:00] bmuenzenmeyer opened #719 "Improve Unit Test / Code Coverage for starterkit_manager.js"
Use the existing coverage defined https://coveralls.io/builds/13768074/source?filename=core%2Flib%2Fstarterkit_manager.js to add more unit tests and coverage for Pattern Lab.

Guidelines:

* Do not embark on major refactors. Limit your work to additional unit tests only, if possible.
* If you need to mock something like `fs`, look for examples of using `let` instead of `const` and `rewire` in othe

[2017-10-18 07:01] bmuenzenmeyer opened #720 "Improve Unit Test / Code Coverage for plugin_manager.js"
Use the existing coverage defined https://coveralls.io/builds/13768074/source?filename=core%2Flib%2Fplugin_manager.js to add more unit tests and coverage for Pattern Lab.

Guidelines:

* Do not embark on major refactors. Limit your work to additional unit tests only, if possible.
* If you need to mock something like `fs`, look for examples of using `let` instead of `const` and `rewire` in other fi

[2017-10-18 07:02] bmuenzenmeyer opened #721 "Improve Unit Test / Code Coverage for pattern_graph_dot.js"
Use the existing coverage defined https://coveralls.io/builds/13768074/source?filename=core%2Flib%2Fpattern_graph_dot.js to add more unit tests and coverage for Pattern Lab.

Guidelines:

* Do not embark on major refactors. Limit your work to additional unit tests only, if possible.
* If you need to mock something like `fs`, look for examples of using `let` instead of `const` and `rewire` in other

[2017-10-18 07:03] bmuenzenmeyer opened #722 "Improve Unit Test / Code Coverage for pattern_exporter.js"
Use the existing coverage defined https://coveralls.io/builds/13768074/source?filename=core%2Flib%2Fpattern_exporter.js to add more unit tests and coverage for Pattern Lab.

Guidelines:

* Do not embark on major refactors. Limit your work to additional unit tests only, if possible.
* If you need to mock something like `fs`, look for examples of using `let` instead of `const` and `rewire` in other

[2017-10-18 12:26] bmuenzenmeyer commented on #572
@geoffp PING

[2017-10-18 14:01] geoffp commented on #572
In progress!

[2017-10-18 22:44] tburny commented on #707
I'd like to suggest testing with https://github.com/tburny/patternengine-node-noop if it is useful somehow :)

[2017-10-19 00:52] dennisfrank commented on #553
Hi. This seems to be still in an issue with the current Pattern Lab Node version 2.12.0. Any chance for a fix? (@raphaelokon maybe? :wink:)

[2017-10-19 01:08] bmuenzenmeyer commented on #553
PRs welcome! It's Hacktoberfest, after all.
https://hacktoberfest.digitalocean.com

On Wed, Oct 18, 2017, 7:52 PM Dennis Frank <notifications@github.com> wrote:

[2017-10-19 01:27] bmuenzenmeyer opened #724 "Update README"

[2017-10-19 07:19] raphaelokon commented on #553
@bmuenzenmeyer I had a branch open for this … and got it working but then other tests were failing and I honestly struggled to debug it.

[2017-10-19 12:56] bmuenzenmeyer opened #726 "Add default theme values"
https://github.com/pattern-lab/styleguidekit-assets-default/issues/91

[2017-10-20 08:13] bmuenzenmeyer opened #728 "Add coveralls badge to README"
add [![Coverage Status](https://coveralls.io/repos/github/pattern-lab/patternlab-node/badge.svg?branch=master)](https://coveralls.io/github/pattern-lab/patternlab-node?branch=master) to README

[2017-10-20 09:40] #603 closed

[2017-10-20 09:40] #638 closed

[2017-10-20 09:40] #695 closed

[2017-10-20 09:40] #425 closed

[2017-10-20 09:40] #602 closed

[2017-10-20 09:40] #617 closed

[2017-10-20 09:40] #623 closed

[2017-10-20 09:40] #636 closed

[2017-10-20 09:40] #682 closed

[2017-10-20 09:40] #683 closed

[2017-10-20 09:40] #614 closed

[2017-10-20 09:40] #688 closed

[2017-10-20 09:40] #706 closed

[2017-10-20 09:40] #709 closed

[2017-10-20 09:40] #724 closed

[2017-10-20 09:40] #726 closed

[2017-10-20 09:40] #728 closed

[2017-10-20 10:40] #598 closed

[2017-10-20 10:40] #610 closed

[2017-10-20 10:40] #619 closed

[2017-10-20 10:40] #625 closed

[2017-10-20 10:40] #681 closed

[2017-10-20 10:40] #684 closed

[2017-10-20 14:34] bmuenzenmeyer opened #735 "patternengines needs to support @scoped/modules"
I am using Pattern Lab Node `v3.0.0-alpha.3` on `Windows`, with Node `v8.60`, using direct consumption.

##### Expected Behavior

- `patternlab.build()` runs

##### Actual Behavior

- `patternlab.build()` is broken

`pattern_engines.js`
- the first entry in enginesDirectories[the core] can removed, since core will not have node_modules
- pattern_engines is currently failing because `diveSync` is n

[2017-10-23 17:42] mbulfair opened #737 "Post-install with starterkits, always clears source dir"
I am using Pattern Lab Node `v2.12.0` on `Windows `, with Node `v6.10.2`, using the `N/A ` Edition.

##### Expected Behavior
Installed starterkits not to clear source directory when installing new npm dependencies.

##### Actual Behavior
Every time a npm install/update is run, if a starter kit is there, source is always wiped.

##### Steps to Reproduce
Install any staterkit as a npm dependency
Add

[2017-11-09 12:49] tburny commented on #662
Can you tell what exactly needs to be changed?

[2017-11-10 16:17] bmuenzenmeyer commented on #711
Doing some sleuthing 🕵️

https://github.com/pattern-lab/patternlab-node/pull/693/files seems to be a culprit 🐛

[2017-11-10 18:56] tburny commented on #711
Nice fix

[2017-11-14 08:12] bmuenzenmeyer opened #745 "Remove vestigial configuration entries"
While documenting PL Node 3.0 configuration I found the following dead config entries:

- [ ] `ignored-extensions`
- [ ] `ignored-directories`

Check that these are removed from:

- [x] this repo
- [x] edition-node-gulp
- [x] edition-node-grunt
- [x] edition-node
- [ ] edition-node-webpack
- [x] cli

[2017-11-14 08:15] bmuenzenmeyer opened #746 "Test live-server options"
Using something like https://github.com/bmuenzenmeyer/patternlab-node-3.0-demo-vanilla confirm that `serverOptions` work as expected. I thought at one point `wait` did not seem to work as expected. Would be nice if initial load listened to that entry too, and not just reloads.

[2017-11-14 08:19] bmuenzenmeyer opened #747 "Update any references to the wiki configuration page to the docs site"
Anywhere we mentioned

https://github.com/pattern-lab/patternlab-node/wiki/Configuration

we should now link to

http://patternlab.io/docs/advanced-config-options.html#node

[2017-11-14 09:58] mwinkelm commented on #673
I have the same problem with v2.12.0. For now it's OK to go without parentheses, but a fix would be great,

[2017-11-14 13:36] bmuenzenmeyer opened #749 "Provide a mechanism to expose the default config file"
Pattern Lab Node should provide a method to supply a consumer with the default `patternlab-config.json` file, https://github.com/pattern-lab/patternlab-node/blob/master/patternlab-config.json

Consumers can then mutate / save their own copy without having to rely on other copies of this file floating around editions / the CLI.

[2017-11-15 10:17] bmuenzenmeyer opened #751 "Remove the build callback"
Now that we have build returning a promise, this is redundant

[2017-11-15 10:21] bmuenzenmeyer opened #752 "Add mechanism to call serve without first building"
`serve()` should be altered so a user can call `serve()` (the internal function below) without first building.

[code]

I am thinking an option that would change the code to something like

[code]

this is pseudocode, but I think it'd work

[2017-11-15 10:28] bmuenzenmeyer commented on #746
Tested:

 `open` ✔️
 `port` ✔️
 `wait` ✔️

Guess it is working as expected. Still we may want to tweak initial launch at some point

[2017-11-15 10:28] #746 closed

[2017-11-15 10:38] bmuenzenmeyer commented on #752
Is this a capability people find missing in their workflow?
Is it really that much of a burden, in a world with incremental builds, to have PL do it's thing prior to local serving?

[2017-11-15 10:40] raphaelokon commented on #752
In any way: If it is viable to our users, we should have two dedicated functions imho.

[2017-11-15 13:37] #566 closed

[2017-11-15 13:37] #711 closed

[2017-11-15 13:37] #751 closed

[2017-11-15 13:40] #749 closed

[2017-11-15 14:45] bmuenzenmeyer commented on #673
PRs welcome!

[2017-11-15 15:04] jdagerot commented on #673
Ok, I made a fast example over here: https://github.com/jdagerot/edition-node-gulp.git

[2017-11-15 15:34] bmuenzenmeyer commented on #611
Calling this done. future react work will need to account for this.

[2017-11-15 15:34] #611 closed

[2017-11-15 15:37] bmuenzenmeyer opened #755 "Pseudopatterns not working in version 2.12.0"
I suspect not everyone will be able to upgrade to 3.0.0 immediately.

Porting #744 into 2.X will help current users

[2017-11-15 17:48] raphaelokon commented on #755
The issue title says #744, but #714 is linked

[2017-11-15 17:49] bmuenzenmeyer commented on #755
fixed

[2017-11-15 19:32] bmuenzenmeyer opened #756 "Remove postinstalls"

[2017-11-20 19:20] bmuenzenmeyer opened #760 "Update README shields to point to scoped package"

[2017-11-21 13:08] bmuenzenmeyer commented on #553
@raphaelokon have you spent any more time understanding what's going on with your fix and how it relates to the failing tests? do you need help?

[2017-11-21 13:55] raphaelokon commented on #553
I understand why it is fixing it, but it seems some odd side-effect trips on my fix. Any help would be aces.

[2017-11-21 14:46] bmuenzenmeyer commented on #553
@raphaelokon which branch?

[2017-11-21 15:27] raphaelokon commented on #553
https://github.com/pattern-lab/patternlab-node/tree/issue/457-nested-items

[2017-11-23 09:19] #606 closed

[2017-12-06 20:36] danwhite85 opened #761 "View Pattern Info toggles broken when using Incremental Builds"
The view pattern info toggle is broken when using incremental builds.

version: v3.0.0-alpha.5
cleanPublic: false (in config)

DevTools error:
![plerror](https://user-images.githubusercontent.com/636470/33684031-ac207906-da81-11e7-91a3-b6a41a863f81.PNG)

[2017-12-06 21:03] danwhite85 opened #762 "Assets being doubled in public when serving"
When using patternlab.serve all assets are doubled in the public directory.

Example:
![plerror](https://user-images.githubusercontent.com/636470/33685086-4ff2a9de-da85-11e7-9404-5abfa2d13720.PNG)

version: v3.0.0-alpha.5

[2017-12-07 06:35] DaSchTour commented on #671
further activity

[2017-12-07 13:36] bmuenzenmeyer commented on #761
Hi @danwhite85

First off, thanks so much for giving the alpha a shot! It's quite a bit of a shake up, and admittedly a WIP in places.

I'll take a look at this as soon as available.

[2017-12-07 13:38] bmuenzenmeyer commented on #762
Hi @danwhite85

First off, thanks so much for giving the alpha a shot! It's quite a bit of a shake up, and admittedly a WIP in places.

I noticed the copying algorithm is pretty naive in places, and this recursion is uncalled for. I'll take a look at this as soon as available.

[2017-12-07 14:45] bradfrost commented on #762
@bmuenzenmeyer Hrm, is this my doing?

[2017-12-07 16:43] bmuenzenmeyer commented on #762
@bradfrost No - the alpha version of Pattern Lab Node 3.0 is doing all the asset copying itself - no grunt or gulp necessary, and it's a bit too recursive or globbing on too much it seems 🐛

[2017-12-07 19:58] danwhite85 commented on #761
After some more testing, it doesn't seem to be directly related to incremental builds.

The issue is that pl-pattern-data for patterns does not get populated in styleguide.html if the public folder exists on serve.

[2017-12-07 20:04] danwhite85 commented on #762
I've noticed now that it's not only assets. Everything in the styleguide folder is duplicated as well.

[2017-12-07 20:27] #687 closed

[2017-12-08 17:43] danwhite85 opened #763 "Saving _data or _meta files breaks server/watcher"
version: v3.0.0-alpha.5

When running patternlab.serve. If a file in _data or _meta are changed rimraf throws the following error and crashes the server/watcher.

`Error: ENOTEMPTY: directory not empty, rmdir 'C:\web-projects\patternlab-node-3.0-demo-vanilla-master\patternlab-node-3.0-demo-vanilla-master\public\patterns'`

The call stack shows the issue being in the cleanBuildDirectory method at h

[2017-12-13 13:17] #705 closed

[2017-12-18 13:37] bmuenzenmeyer commented on #572
This was done as part of https://github.com/pattern-lab/patternlab-node/releases/tag/v3.0.0-alpha.5

[2017-12-18 13:37] #572 closed

[2017-12-29 19:10] #737 closed

[2018-01-10 19:52] bmuenzenmeyer opened #765 "resolve gitignore vs npmignore"
this is likely causing some unforeseen deployment artifacts to leak